<div class="instance-selector">
  <div class="instance-box" ng-repeat="selectedInstance in instanceSelector.instanceModelProperty.value track by selectedInstance.id">
    <div class="instance-box-header" ng-class="{'preview' : !instanceSelector.isEditMode()}">
      <seip-static-instance-header header-type="instanceSelector.headerType"
                                   header="selectedInstance.headers[instanceSelector.headerType]"
                                   instance-type="selectedInstance.instanceType"
                                   thumbnail="selectedInstance.getThumbnail()"
                                   is-disabled="false">
      </seip-static-instance-header>
    </div>
    <button ng-if="instanceSelector.isEditMode()" type="button" class="btn btn-default btn-sm remove-instance-btn no-print"
      ng-click="instanceSelector.removeSelectedItem($index)">
      <i class="fa fa-times fa-lg"></i>
    </button>
    {{instanceSelector.showPreviewDelimiter($index) ? ', ' : ''}}
  </div>

  <button ng-if="instanceSelector.isEditMode()" class="btn btn-sm btn-default select-instance-btn no-print" ng-click="instanceSelector.select()">
    {{::'instance.selector.select.btn' | translate }}
  </button>
</div>