.instance-selector {
  &:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
  }

  .instance-box {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .lock-label {
      padding-right: 0.5em;
    }
  }

  .instance-box-header {
    border: 1px solid #c2c2c2;
    border-right: 0px;
    border-radius: 2px 0px 0px 2px;
    display: flex;
    align-items: center;
  }

  .instance-box-header.preview {
    border: 0;
  }

  .remove-instance-btn {
    border-radius: 0px 2px 2px 0px;
  }

  .select-instance-btn {
    float: left;
  }
}
