@import '../../../style/mixins';

.datatable-widget-config {
  .modal-dialog {
    @include media-min-width(768px, 600px);
    @include media-min-width(992px, 900px);
  }

  .tab-content {
    padding-top: 5px;
  }

  .display-options-tab {

    ul {
      list-style-type: none;
    }
    .panel-body > ul {
      padding-left: 0;
    }
  }
}
