.template-results {

  .select-object {
    padding: 0;
  }

  .result-row {
    vertical-align: bottom;
  }

  i.checkbox-external {
    z-index: 1;
    top: 50% !important;
    transform: translateY(-50%);
  }

  .external-result {
    display: flex;
    width: 100%;
    padding: 5px 0 5px 5px;
    border-bottom: 1px dashed #cccccc;

    &:last-child {
      border-bottom: none;
    }
  }

  .process-all {
    float: right;
  }

  .modal {
    .results, .basket {
      overflow-y: auto;
      max-height: calc(100vh - 60vh);
      width: 100%;
    }
  }
}
