@import "../../style/reusables";
@import "../../style/variables";

#ribbon {
  position: relative;
  height: $ribbon-height;
  padding-top: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  background: none repeat scroll 0 0 #fff;
  z-index: 99;
  border-bottom: 1px solid #dfdfdf;
  font-size: 12px;
  line-height: 1.5;

  &.fixed-ribbon {
    position: fixed;
    top: $navbar-height;
    right: 0;
    left: 0;
  }
  .breadcrumb {
    padding: 0 !important;
    margin: 1px 0 0 10px !important;
    background: none;

    div {
      display: inline;
    }
    span {
      font-size: 12px;
    }
    img {
      height: $breadcrumb-header-size;
      width: $breadcrumb-header-size;
      padding-left: 0;
    }
    .instance-header {
      /* overrides the default instance header width defined in static-instance-header */
      width: auto;

      .instance-icon, .instance-data {
        margin-left: 0;
      }
      & > span {
        vertical-align: middle;
        word-break: normal;
        max-width: 100%;
      }
      .header-icon {
        height: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      .lock-label {
        padding-top: 0;
        padding-right: 0.5em;
      }
    }
  }

  .breadcrumb a,
  .breadcrumb {
    color: #3276b1;

    &.instance-link {
      span:hover {
        text-decoration: underline;
      }
      &.disabled {
        cursor: default;
        span:hover {
          text-decoration: none;
        }
      }
    }
  }

  .breadcrumb > .active,
  .breadcrumb li:last-child a {
    color: #919191;
  }

  .breadcrumb > li + li:before {
    content: '>';
    padding-right: 0;
  }

  // display:flex + :before content does not play very well
  .breadcrumb .instance-header {
    display: inline-flex;
    vertical-align: top;
  }
}
