.idoc-toc-holder .idoc-section-view-selected {
  font-weight: bold;
  border-bottom: 2px solid #337ab7;
}

.toc-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #337ab7;
}

.idoc-visual-collapsed::before {
  font-family:FontAwesome;
  content: "\f0da";
  color: #337ab7;
  padding-right: 5px;
  font-size: 15px;
}

.idoc-toc-holder {
  margin: 0 0 9px 0;
  min-height: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  ul {
    padding-left: 10px;
    list-style-type: none;
    width: 200px;
    li {
      display: block;
      padding: 5px;
      white-space: nowrap;
      span.toc-icon {
        margin-right: 5px;
      }
      a {
        text-decoration: none;
      }
    }
    .placeholder {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      border: 1px dashed #c2ccd1;
      width: 100%;
      height: 10px;
    }
    .item-position-valid {
      border: 1px solid green;
    }
    .item-position-invalid {
      border: 1px solid red;
    }
    .dragged {
      width: 100%;
      overflow: hidden;
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
      white-space: nowrap;
    }
  }
}