/** Styles for the reporting functionality. */
.reporting-aggregated-table .padding-cell {
	padding-left: 5px; 
	padding-right: 5px;
}

.reporting-filter-btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.reporting-filters-table .filter-cell {
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
}

.hand-cursor-on-hover {
	cursor: pointer;
}

.reporting-chart-container {
	margin-left: auto; 
	margin-right:auto;
}

.legend {
	max-width: 100%;
	font-size: 16px;
}

.legend table{
	table-layout:fixed;
	width:100%;
}

.legend .legendColorBox {
    width: 14px;
}