/* Reduce the default padding added by the tab panel */
.reporting-data-basket {
	max-width: 810px;
	max-height: 100px;
	width: 810px;
	height: 100px;
	overflow-y: auto;
	background-color: #f1f1f1;
}

.reporting-property-selection-wrapper,.reporting-search-wrapper {
	max-width: 810px;
	max-height: 300px;
	width: 810px;
	height: 300px;
	overflow-y: auto;
}

.reporting-property-selection-wrapper ul {
	list-style: none;
}

.reporting-property-selection-wrapper>ul ul {
	padding-left: 10px;
}

.reporting-property-selection-wrapper label {
	font-weight: normal;
}

html[data-useragent*='IE 10'] .x-grid-cell-inner,html[data-useragent*='IE 10'] .x-column-header-text
{
	display: inline-block !important;
}

div.legend>table>tbody {
	float: left;
	clear: both;
	width: 150px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: scroll;
}