<div class="resource-management">

  <div class="resource-management-header">
    <button class="btn btn-primary" ng-click="resourceManagement.createResource()">
      {{ ::resourceManagement.createLabel | translate }}
    </button>
  </div>

  <div class="resource-management-view">

    <seip-resources-table ng-if="::resourceManagement.tableConfig"
                          config="::resourceManagement.tableConfig"
                          resources="resourceManagement.resources"></seip-resources-table>

    <seip-pagination ng-if="::resourceManagement.paginationConfig.total"
                     config="::resourceManagement.paginationConfig"
                     callback="::resourceManagement.paginationCallback"
                     total="resourceManagement.paginationConfig.total"
                     page="resourceManagement.paginationConfig.page">
    </seip-pagination>

  </div>

</div>