@import "../../../style/reusables";

.object-data-widget {

  .selected-object-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 2px solid $table-border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
