<div>
  <button class="activate-horizontal" ng-click="tabsStub.activateHorizontal()">Horizontal</button>
  <button class="activate-vertical" ng-click="tabsStub.activateVertical()">Vertical</button>
  <button class="activate-sorted" ng-click="tabsStub.activateSorted()">Sorted</button>

  <div ng-if="tabsStub.horizontal">
    <seip-tabs id="horizontal" config="tabsStub.tabsConfigHorizontal"></seip-tabs>
  </div>

  <div ng-if="tabsStub.vertical">
    <seip-tabs id="vertical" config="tabsStub.tabsConfigVertical"></seip-tabs>
  </div>

  <div ng-if="tabsStub.sorted">
    <seip-tabs id="sorted" config="tabsStub.tabsConfigSorted"></seip-tabs>
  </div>
</div>