.versionsWidget {
	text-align: left !important;
}

.versionsWidgetWrapper {
	padding: 5px;
	text-align: left !important;
	background: #EEE;
	border: 1px solid #CCC;
}

.widget-body {
	background: #FFF;
	
	border: 1px solid #CCC;
	padding: 5px;
	min-heigth:0px;
	margin-top: 2px;
}

.versionsWidget table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.versionsWidget td, .versionsWidget th {
	border-top: 1px solid #CCC;
	height: 30px;
} 

/* Make cells a bit taller */
.versionsWidget th {
	font-weight: bold;
	text-align: center;
}

.versionsWidget td {
	text-align: center;
}

.versionsWidget .selected-version {
	background-color: #D8D8D8;
}