.textbox-widget-textarea {
	min-width: 400px;
	max-width: 100%;
}

.textbox-widget-textarea.no-expand  {
  resize: none;
  border: 1px solid #99BCE8;
  background: white;
}

.ui-resizable-se {
	bottom: 17px;
	max-width: 100%;
}
