<div class="model-boolean-attribute">
  <label class="checkbox">
    <input ng-if="::!modelBooleanAttribute.isBooleanPrimitive()" class="form-control" type="checkbox"
           ng-disabled="!modelBooleanAttribute.editable" ng-true-value="'true'"
           ng-change="modelBooleanAttribute.onModelChange('{{modelBooleanAttribute.getValue()}}')"
           ng-model="modelBooleanAttribute.attribute.getValue().value"/>

    <input ng-if="::modelBooleanAttribute.isBooleanPrimitive()" class="form-control" type="checkbox"
           ng-disabled="!modelBooleanAttribute.editable"
           ng-change="modelBooleanAttribute.onModelChange('{{modelBooleanAttribute.getValue()}}')"
           ng-model="modelBooleanAttribute.attribute.getValue().value"/>
    <i></i>
  </label>
</div>