<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/main.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    paths: {
      'context-selector.stub': '/sandbox/components/contextselector/context-selector.stub.js',
      'context-selector.stub.html': '/sandbox/components/contextselector/context-selector.stub.html',
      'picker/test-extension/object-picker-test-extension': 'sandbox/picker/test-extension/object-picker-test-extension.js',
      'sandbox/services/rest/search-service.data.json': 'sandbox/search/components/search/search-data.json',
      'services/rest/definition-service': 'sandbox/services/rest/definition-service.stub.js',
      'services/rest/search-service': 'sandbox/services/rest/search-service.stub.js',
      'services/idoc/idoc-context-factory': 'sandbox/services/idoc/idoc-context-factory.stub.js'
    },
    modules: ['context-selector.stub', 'style/main.css!css']
  });
</script>
<seip-context-selector-stub></seip-context-selector-stub>
</body>
</html>