<div>
  <div class="btn-group nav navbar-nav">
    <seip-dropdown-menu config="dropdownMenuStub.config"></seip-dropdown-menu>
  </div>
  <div class="btn-group nav navbar-nav">
    <seip-dropdown-menu config="dropdownMenuStub.configAsync"></seip-dropdown-menu>
  </div>
  <div class="btn-group nav navbar-nav position-simulation">
    <seip-dropdown-menu config="dropdownMenuStub.configWithGlyph"></seip-dropdown-menu>
  </div>
  <div class="btn-group nav navbar-nav position-simulation">
    <seip-dropdown-menu config="dropdownMenuStub.configSorted"></seip-dropdown-menu>
  </div>
  <div class="btn-group nav navbar-nav position-simulation">
    <seip-dropdown-menu config="dropdownMenuStub.configPlugin"></seip-dropdown-menu>
  </div>
</div>