/*
Default background color for editor, dialogs, headers and all components where text is present excluding headers,
buttons and other areas with special meaning
*/
$bodybg-color: #ffffff;
$body-color: #777c86;

$default-font-color: #5c6c83;

$label-color: #7e8ea6;
$form-label-color: $label-color;

/*
Primary color for the top header.
*/
$top-header-primary-color: #33363f;

/*
Top header menu items color: Icon color, and inverted on hover state color of the menu items.
*/
$icon-base-color: #9397a1;
$top-header-item-color: $icon-base-color;
$top-header-item-secondary-color: #57aac7;

$navbar-height: 50px;
$breadcrumb-height: 28px;

/*
Default link colors.
*/
$link-color: #5c6c83;
$link-hover-color: #3588a5;
$link-disabled-color: #959FA9;

$instance-link-color: $link-color;

/*
Default button colors
*/
$btn-primary-bg: #57aac7;
$btn-primary-border: darken($btn-primary-bg, 5%);
$btn-primary-hover-bg: #3588a5;
$btn-primary-hover-border: darken($btn-primary-hover-bg, 5%);
$btn-primary-disabled-bg: #4f737f;
$btn-primary-disabled-border: darken($btn-primary-disabled-bg, 5%);

/*
Native browser tooltip styling.
*/
$tooltip-font-size: 12px;
$tooltip-color: #fff;
$tooltip-background-color: #57aac7;
$tooltip-arrow-color : #57aac7;

/*
Tooltip header styles.
*/
$tooltip-header-color: $label-color;
$tooltip-header-background-color: #fff;
$tooltip-header-arrow-color: #a9a9a9;

/*
Idoc base styles.
*/
$idoc-body-background-color: #ffffff;
$idoc-tabs-background-color: #ffffff;
$idoc-tabs-border-color: #dddddd;

/*
Toolbar
*/
$toolbar-background-color: #f5f5f5;

