/*
Default background color for editor, dialogs, headers and all components where text is present excluding headers,
buttons and other areas with special meaning
*/
$bodybg-color: #ffffff;

/*
Primary and secondary gradient colors for the top header. If equal colors are provided, then header won't have gradient.
*/
$top-header-primary-color: #005096;
$top-header-secondary-color: #005096;

/*
Top header menu items color: Icon color, and inverted on hover state color of the menu items.
*/
$top-header-item-color: #2785e1;
$top-header-item-secondary-color: #005096;

/*
Default link colors.
*/
$link-color: #2785e1;
$link-hover-color: #005096;
$link-disabled-color: #959FA9;

$default-font-color: #333;

$navbar-height: 50px;
$navbar-background: #005096; // remove
$navbar-item-separator-color: #2f6ca1;
$breadcrumb-height: 28px;

$page-title-text: $default-font-color; //remove

$instance-link-color: $link-color;

$toolbar-background-color: #f5f5f5;

$idoc-tabs-border-color: #dddddd;

$idoc-body-background-color: #ffffff;
$idoc-tabs-background-color: #ffffff;

$tooltip-font-size: 12px;
$tooltip-color: #fff;
$tooltip-background-color: #2785e1;
$tooltip-arrow-color : #2785e1;