@import "../../../../style/mixins";
@import "../../../../style/variables";

.model-fields {
  margin-top: 10px;

  .form-horizontal {
    width: 50%;
    margin: 0;

    .control-section {
      width: 100%;
      display: inline-flex;

      .filter-field {
        min-width: 250px;
      }

      .fields-controls {
        display: inline-flex;
        margin-left: 1rem;

        .create-field-button {
          margin-right: $default-gap;
        }
      }
    }

    .display-section {
      display: inline-flex;
    }

    .model-field {
      > label {
        padding-top: 0;
        text-align: left;
        font-weight: normal;
        @include word-wrap();
      }
    }

    .display-section {
      > label {
        margin-right: 1rem;

        > i {
          margin-top: $default-gap;
        }
      }
    }

    .model-region-section {
      margin-top: 1rem;
    }
  }
}
