@import "../../../../style/mixins";
@import "../../../../style/variables";

.model-form {

  .model-header {
    flex-grow: 1;
  }

  .missing-type {
    width: 101%;
  }

  .select-property {
    display: flex;
    padding-bottom: 10px;

    .control-data {
      padding: 0;
    }

    .control-label {
      padding: 0;
      text-align: left;
      font-weight: normal;
      @include word-wrap();
    }
  }

  .model-controls {
    padding: 0;

    .model-actions {
      padding: 0;
    }
  }
}