<div>
  <div>
    <buton id="simple_criteria" class="btn btn-default"
           ng-click="mixedSearchCriteriaStub.simpleCriteria()">
      Predefined simple criteria
    </buton>
    <buton id="complex_criteria" class="btn btn-default"
           ng-click="mixedSearchCriteriaStub.complexCriteria()">
      Predefined complex criteria
    </buton>
  </div>

  <seip-mixed-search-criteria ng-if="mixedSearchCriteriaStub.renderCriteria" config="mixedSearchCriteriaStub.config">
  </seip-mixed-search-criteria>
</div>