.properties-selector {
  input[type="text"] {
    width: 220px;
    margin-bottom: 10px;
  }

  .properties-group {
    width: 100%;
  }

  .collapse {
    padding-top: 10px;
    padding-left: 10px;
  }

  .selected-property-data {
    margin-left: 20px;
  }

  .sub-properties-selector {
    padding-left: 10px;
  }
}
