@import "../../style/variables";

.seip-main-search {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: $default-gap + $navbar-height + $small-component-height + $breadcrumb-height;

  .search-toolbar {
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
    top: $navbar-height + $breadcrumb-height;
    background-color: white;
  }
}