<div class="seip-quick-search col-sm-6">
  <search-bar ng-if="::quickSearch.searchBarConfig"
              config="quickSearch.searchBarConfig"
              idoc-context="quickSearch.idocContext"
              object-type="quickSearch.searchBarModel.objectType"
              free-text="quickSearch.searchBarModel.freeText"
              selected-context="quickSearch.searchBarModel.context"
              on-search="::quickSearch.onSearch(params)"
              on-saved-search-selected="::quickSearch.loadSavedSearch(savedSearch)"
              on-search-mode-selected="::quickSearch.changeMode(mode)"></search-bar>
</div>