<div class="seip-search-wrapper">
  <seip-mixed-search-criteria ng-if="::search.render"
                              config="::search.criteriaConfig"
                              context="::search.context">
  </seip-mixed-search-criteria>

  <seip-search-toolbar ng-if="::search.toolbarConfig"
                       ng-show="search.showToolbar()"
                       config="search.toolbarConfig">
  </seip-search-toolbar>

  <seip-search-results ng-if="search.config.results.config"
                       config="search.config.results.config"
                       selected-items="search.config.results.config.selectedItems"
                       results="search.config.results">
  </seip-search-results>

  <seip-pagination ng-if="::(search.config.renderPagination && search.config.paginationConfig)"
                   total="search.config.results.total"
                   page="search.config.paginationConfig.page"
                   config="search.config.paginationConfig"
                   callback="search.paginationCallback">
  </seip-pagination>
</div>
