@import "../../style/variables";

.loading-box {
  background-color: #FFFFFF;
  height: $breadcrumb-height - 1px;
  width: 100px;

  .loading-component-transition {
    background: none; /* For browsers that do not support gradients */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    position: absolute;
    left: -60px;
    width: 60px;
    height: $breadcrumb-height - 1px;
  }

  .loadingDot {
    position: absolute;
    top: 9px;
    background-color: white;
    width: 10px;
    height: 10px;
    animation-name: bounce_loadingDot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.3);
    border-radius: 19px;
  }

  #loadingDot_1 {
    left: 0;
  }

  #loadingDot_2 {
    left: 12px;
    animation-delay: 0.15s;
  }

  #loadingDot_3 {
    left: 24px;
    animation-delay: 0.3s;
  }

  #loadingDot_4 {
    left: 36px;
    animation-delay: 0.45s;
  }

  #loadingDot_5 {
    left: 48px;
    animation-delay: 0.6s;
  }

  #loadingDot_6 {
    left: 60px;
    animation-delay: 0.75s;
  }

  #loadingDot_7 {
    left: 72px;
    animation-delay: 0.9s;
  }

  #loadingDot_8 {
    left: 84px;
    animation-delay: 1.15s;
  }

  @keyframes bounce_loadingDot {
    0% {
      transform: scale(1);
      background-color: rgb(0, 80, 150);
    }

    100% {
      transform: scale(.3);
      background-color: rgb(39, 133, 225);
    }
  }
}