<div class="seip-quick-search col-sm-6">
  <div class="input-group input-group-sm hidden-mobile">
    <input class="form-control input-lg"
           ng-model="quickSearch.metaText"
           ng-keypress="quickSearch.onKeypress($event)"
           placeholder="{{'search.quick.placeholder' | translate}}" />

    <div class="input-group-btn">
      <button type="submit" class="btn btn-default" ng-click="quickSearch.search()">
        <i class="fa fa-fw fa-search fa-lg"></i>
      </button>
    </div>
  </div>
</div>