<div class="container">
  <div class="row">
    <button type="button" class="btn short-success" ng-click="notification.notifyShortMessage('success')">Short Success Notification</button>
    <button type="button" class="btn long-success" ng-click="notification.notifyLongMessage('success')">Long Success Notification</button>
    <button type="button" class="btn long-html-success" ng-click="notification.notifyWIthHtmlMessage('success')">Long Notification with HTML content</button>
    <button type="button" class="btn short-info" ng-click="notification.notifyShortMessage('info')">Short Info Notification</button>
    <button type="button" class="btn long-info" ng-click="notification.notifyLongMessage('info')">Long Info Notification</button>
    <button type="button" class="btn short-warning" ng-click="notification.notifyShortMessage('warning')">Short Warning Notification</button>
    <button type="button" class="btn long-warning" ng-click="notification.notifyLongMessage('warning')">Long Warning Notification</button>
    <button type="button" class="btn short-error" ng-click="notification.notifyShortMessage('error')">Short Error Notification</button>
    <button type="button" class="btn long-error" ng-click="notification.notifyLongMessage('error')">Long Error Notification</button>
  </div>
</div>