<div class="icon-upload">
  <div class="icon-uploader" ng-repeat="icon in classIconsUpload.icons">
    <div class="icon-content row">
      <div class="icon-header col-lg-3"><label>{{::icon.label | translate}}<sup
        ng-if="::icon.isMandatory">*</sup></label></div>

      <input class="icon-upload-field" type="file"/>

      <div class="buttons col-lg-3">
        <button class="btn btn-default select-icon-button" ng-click="classIconsUpload.openInput($index)">
          {{::'fileupload.select' | translate }}
        </button>

        <button class="btn btn-default remove-icon-button" ng-click="classIconsUpload.removeIcon($index)"
                ng-if="icon.file">
          {{::'fileupload.remove' | translate }}
        </button>
      </div>

      <div class="col-lg-6">
        <img ng-src="{{icon.file}}" ng-if="icon.file" height="{{::icon.size}}" width="{{::icon.size}}">
        <div class="icon-error" ng-if="icon.error">{{icon.error}}</div>
        <p ng-if="icon.file">{{icon.name}}</p>
      </div>
    </div>
  </div>
</div>