.action {
	cursor: pointer;
}

.more.activePanel ~ .comment {
	display: none !important;
}

.replyView ul,.replyView ol {
	padding-left: 1.5em;
}

.comment,.commentView,.commentHeight {
	content: '' !important;
	clear: both !important;
	display: block !important;
	overflow: visible !important;
	min-width:350px;
}

.data-annotation .btn,.comment .btn {
	padding: 0.1em 1em;
}

.comment .btn {
	margin-top: 0.25em;
}

.control-group div div {
	display: inline;
}

.data-annotation .form-control {
	padding: 0.2em;
	height: 1.8em;
}

.data-annotation .panel {
	padding: 0.75em;
}

.tabs-content {
	position: absolute;
	z-index: 10000;
}

.tabs-content .export-btns {
	float: right;
	margin-top: 0.5em;
}

.clearfix:before,.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.tabs ul {
	list-style: none;
}

.tabs-head ul {
	float: left;
}

.tabs-head li {
	float: left;
	margin: 0em 0.5em 0em 0em;
}

.data-annotation table {
	border-collapse: separate;
	border-spacing: 0.25em;
}

.comment-box {
	position: absolute;
	display: none;
	width: 45em;
	height: auto;
	z-index: 10000;
	padding: 0 1.25em 0.5em 1.25em;
}

.comment-box .panel-heading {
	padding: 0em;
}

.data-annotation {
	padding: 0.5em 0em;
	margin-top: 0em;
	height: 2em;
	width: 100%;
}

.lineContainer {
	overflow: hidden;
}

.floatRight {
	float: right;
}

.replyText {
	margin-left: 0.5em;
}

.comment p {
	margin: 0em;
}

.comment .glyphicons:before,.comment-box .glyphicons:before {
	font: 18px/18px 'Glyphicons Regular';
}

.styledButton {
	padding: 0em;
	cursor: pointer;
	border: 1px solid;
	border-radius: 0.25em;
	height: 21px !important;
	width: 21px !important;
	display: inline-block;
	background-color: transparent !important;
}

.thumbnail.styledButton {
	margin: 0;
}

.dropdown-menu.left {
	right: 0;
	left: auto;
}

.styledButton .caret {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.select2-choices {
	width: 100%;
}

.comment .row {
	margin: 0em;
	padding: 0em;
}

.rotate135 {
	transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.reply.row {
	height: 100%;
}

.activePanel {
	display: block !important;
}

.inactive {
	display: none !important;
}

.replyPreview.thumbnail,.replyView.thumbnail {
	margin-bottom: 0em;
}

.dropdown.floatRight {
	margin-top: -0.25em;
}

.commentPreview {
	line-height: 2em;
}

.commentPreview>div {
	height: 2em;
}

a.dropdown-toggle {
 	display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0;
}

.reply.thumbnail {
	padding: 0;
	margin: 0;
}

.info {
	line-height: 3em;
}

.info>div {
	height: 3em;
}

.info>div.col-xs-6 {
	overflow: hidden;
}

.row.modal-footer {
	text-align: left;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.comment-editor {
	margin: 0em;
	width: 100%;
	display: block;
	min-height: 10em;
}

.comment-title-input, .tags {
	margin: 0em;
	width: 100%;
	display: block;
}

.tags ul li {
	/*
	 * a style in cmf-main.css overrides '.facet ul li' resets these style 
	 * but they are needed for topic preview - selected tags, layers
	 */
	padding: 3px 5px 3px 18px !important;
	margin: 3px 0 3px 5px !important;
}

.tags ul li.select2-search-field {
	/*
	 * this hack fixes the above hack (.tags ul li)
	 */
	padding: 0 !important;
	margin: 0 !important;
}

.select2-drop {
	/* filter menu in comments has z-index of 9999 */
	z-index: 10000 !important;	
}

.idoc-comments,.idoc-comments>div,.idoc-comments table {
	width: 100%;
}

.idoc-comments>div {
	overflow: hidden;
}

.commentRow {
	height: 15em;
	margin-bottom: 0.25em;
}

.commentRow iframe {
	height: 100% !important;
}

.commentRow .mce-edit-area {
	border-width: 1px !important;
}

.more {
	height: 6px !important;
	display: none;
}

.comment .text-right, .reply .text-right {
	text-align: right;
}

.comment .unread-comments {
	display: inline-block;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	background-image: url('../images/unreadComments.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 38px;
	height: 24px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	color: red;
}

.replyPreview:hover, .reply-meta-line:hover {
	background-color: #f1f1f1;
} 
