.template-results {

  padding-left: 5px;
  padding-right: 5px;

  .result-row {
    vertical-align: bottom;
  }

  i.checkbox-external {
    z-index: 1;
    top: 50% !important;
    transform: translateY(-50%);
  }

  .external-result {
    display: flex;
    width: 100%;
  }

  .process-all {
    float: right;
  }

  .modal {
    .results, .basket {
      overflow-y: auto;
      max-height: calc(100vh - 60vh);
      width: 100%;
    }
  }
}
