body {
	width: 510px;
	margin: 0 auto;
	/* set default font and size */
	font-family: sans-serif, serif, monospace;
	font-size: 12px;
}

table {
	border-collapse: collapse;
	border: none;
	max-width: 500px;
}

td>img {
	max-width: 75% !important;
	max-height: 75% !important;
}

p img, img.htmlValueImage {
	max-width: 75% !important;
	max-height: 75% !important;
	display: block;
}

.compact_header img, .breadcrumb_header img, .default_header img {
	max-width: 70% !important;
	max-height: 70% !important;
	display: block;
}

td.compact_header, td.breadcrumb_header {
	width: 16px;
}

td.default_header {
	width: 46px;
}

.object-link img {
	width: 12px;
	display: inline !important;
	vertical-align: middle;
}

.header-column {
	vertical-align: middle;
}

.col-xs-1 {
	width: 8%;
}

.col-xs-2 {
	width: 16%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33%;
}

.col-xs-5 {
	width: 41%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58%;
}

.col-xs-8 {
	width: 66%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83%;
}

.col-xs-11 {
	width: 91%;
}

.col-xs-12 {
	width: 100%;
}

/* Hyperlinks specific underline styling */
a {
	text-decoration: none;
}

u * {
	text-decoration: underline;
}


span.banner.label.label-warning, span.lock-label {
	display: none;
}

.info-widget {
	padding: 10px 0px 10px 0px;
	min-height: 20px;
	position: relative;
	display: block;
}

.info-content {
	margin-left: 10px;
}

.info-widget-success {
	background: #f3f9f4;
	border: 1px solid #91c89c;
}

.info-widget-warning {
	background: #fff9d7;
	border: 1px solid #2A1A1A;
}

.info-widget-danger {
	background: #fff8f7;
	border: 1px solid #D04437;
}

.info-widget-info {
	background: #fcfcfc;
	border: 1px solid #aab8c6;
}