<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c:%L] (%t) %m%n" />
		</layout>
	</appender>
	<category name="com.sirma.itt">
		<priority value="info" />
	</category>
	
	<category name="httpclient.wire">
		<priority value="warn" />
	</category>
	
	<category name="org.apache.commons">
		<priority value="warn" />
	</category>
	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>