<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>

  <style>
    section {
      margin-bottom: 10px;
    }
  </style>
  
</head>
<body>
  <script type="text/javascript">
    bootstrapSandbox({
      paths: {
        'data-loader-service': 'sandbox/components/select/data-loader-service.stub.js',
        'select': 'sandbox/components/select/select.stub.js',
        'select-template': 'sandbox/components/select/select.stub.html',
        'formatted-select': 'sandbox/components/select/formatted-select.stub.js',
        'formatted-select-template': 'sandbox/components/select/formatted-select.stub.html'
      },
      modules: ['select', 'formatted-select']
    });
  </script>

  <seip-select-stub></seip-select-stub>
  <seip-formatted-select-stub></seip-formatted-select-stub>

</body>
</html>