[submodule "platform"]
	path = platform
	url = https://git.sirmaplatform.com/stash/scm/seip/platform.git
[submodule "content"]
	path = content
	url = https://git.sirmaplatform.com/stash/scm/seip/content.git
[submodule "alfresco"]
	path = alfresco
	url = https://git.sirmaplatform.com/stash/scm/seip/alfresco.git
[submodule "dev-env"]
	path = dev-env
	url = https://git.sirmaplatform.com/stash/scm/seip/dev-env.git
[submodule "models"]
	path = models
	url = https://git.sirmaplatform.com/stash/scm/seip/models.git
[submodule "ui2"]
	path = ui2
	url = https://git.sirmaplatform.com/stash/scm/seip/ui2.git
[submodule "acceptance-tests"]
	path = acceptance-tests
	url = https://git.sirmaplatform.com/stash/scm/seip/acceptance-tests.git
[submodule "compare-pdfs"]
	path = compare-pdfs
	url = https://git.sirmaplatform.com/stash/scm/seip/compare-pdfs.git
[submodule "content-preview"]
	path = content-preview
	url = https://git.sirmaplatform.com/stash/scm/seip/content-preview.git
[submodule "end-to-end-tests"]
	path = end-to-end-tests
	url = https://git.sirmaplatform.com/stash/scm/seip/end-to-end-tests.git
[submodule "export"]
	path = export
	url = https://git.sirmaplatform.com/stash/scm/seip/export.git
[submodule "ocr"]
	path = ocr
	url = https://git.sirmaplatform.com/stash/scm/seip/ocr.git
[submodule "performance-steps"]
	path = performance-steps
	url = https://git.sirmaplatform.com/stash/scm/seip/performance-steps.git
[submodule "sep-wso2is"]
	path = sep-wso2is
	url = https://git.sirmaplatform.com/stash/scm/seip/sep-wso2is.git
[submodule "zimbra-integrations"]
	path = zimbra-integrations
	url = https://git.sirmaplatform.com/stash/scm/seip/zimbra-integrations.git
[submodule "stacks"]
	path = stacks
	url = https://git.sirmaplatform.com/stash/scm/seip/stacks.git
[submodule "http-proxy"]
	path = http-proxy
	url = https://git.sirmaplatform.com/stash/scm/seip/http-proxy.git
[submodule "deployer"]
	path = deployer
	url = https://git.sirmaplatform.com/stash/scm/seip/deployer.git
[submodule "ansible-deploy"]
	path = ansible-deploy
	url = https://git.sirmaplatform.com/stash/scm/seip/ansible-deploy.git
