@import '../../style/variables';
@import '../../style/mixins';

.dropdown-menu {

  a:focus {
    outline: none;
  }

  a:hover {
    position: relative;
  }

  a[data-tooltip] {
    @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size) {
      left: -200px;
    };
  }
}