<div class="model-general">
  <div class="model-semantic-attributes" ng-if="modelGeneral.class">
    <h4 class="model-header">
      <span ng-class="::modelGeneral.class.getIcon()" class="model-icon"></span>
      <span class="model-header-name">{{ modelGeneral.getClassName() }}</span>
      <span class="model-header-id">({{ modelGeneral.getClassIdentifier() }})</span>
    </h4>

    <div class="container-fluid form-horizontal">
      <model-attribute-view id="{{attribute.getId()}}"
                            ng-repeat="attribute in modelGeneral.class.getAttributes()"
                            attribute="attribute"></model-attribute-view>
    </div>
  </div>

  <hr class="horizontal-divider" ng-if="modelGeneral.definition"/>

  <div class="model-definition-attributes" ng-if="modelGeneral.definition">
    <h4 class="model-header">
      <span ng-class="::modelGeneral.definition.getIcon()" class="model-icon"></span>
      <span class="model-header-name">{{ modelGeneral.getDefinitionName() }}</span>
      <span class="model-header-id">({{ modelGeneral.getDefinitionIdentifier() }})</span>
    </h4>

    <div class="container-fluid form-horizontal">
      <model-attribute-view id="{{attribute.getId()}}" class="flex-group"
                            ng-repeat="attribute in modelGeneral.definition.getAttributes()"
                            attribute="attribute"></model-attribute-view>
    </div>
  </div>
</div>