@import "../../../../style/variables";

.model-general {

  .model-header {
    color: $link-color;
    margin: 10px 0 15px 10px;
  }

  .model-attribute-view {
    margin-top: $default-gap;
    margin-bottom: $default-gap;
  }

  .form-horizontal .model-attribute-view > label {
    text-align: left;
    padding-top: 0;
  }

  .horizontal-divider {
    height: 1px;
    background-color: $panel-border-color;
  }

}