@import "../style/reusables";

.instance-create-panel {

  .form-wrapper {
    .checkbox-wrapper {
      .form-field-wrapper {
        left: 1px !important;

        .seip-hint i {
          right: -1px !important;
          color: black;
        }
      }
    }
  }

  .error-wrapper {
    color: $state-danger-text;
    text-align: center;
  }
}