@import '../../../style/mixins';
@import '../../../style/theme/default-theme';

.code-values {

  .code-values-header {
    display: block;
    padding-bottom: 0.5em;

    .code-value-add-btn {
      padding: 0;
    }
  }

  table {
    margin-bottom: 0;
  }

  .code-value {

    @include exclude-ie11-and-edge() {
      textarea {
        overflow: hidden;
      }
    }

    input {
      text-overflow: ellipsis;
    }

    .code-active-ctrl {
      display: inline;
      padding-left: 10px;
    }

    .code-active-disabled-ctrl {
      cursor: not-allowed;
    }

    .code-value-btn,
    .code-value-btn:hover,
    .code-value-btn:focus,
    .code-value-btn:active,
    .code-value-btn.active {
      height: 30px;
      box-shadow: none;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
      background-color: white !important;
    }

    .code-value-action-btns {
      // Avoids buttons to be on separate lines
      display: inline-flex;

      .code-value-remove-btn {
        margin-left: 0.3em;
      }
    }
  }
}
