@import '../../../style/mixins';

.code-list {

  .code-list-header {

    > .fa {
      width: 1em;
    }

    .code-list-id {
      min-width: 2ch;
    }

    .code-list-name {
      padding-left: 0.5em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .code-list-details {
    padding: 0.5em;

    .form-group > label {
      font-weight: 400;
    }

    @include exclude-ie11-and-edge() {
      .form-group > textarea  {
        overflow: hidden;
      }
    }

    input {
      text-overflow: ellipsis;
    }

    .code-values {
      margin-top: 0.5em;
    }

    .code-list-actions {
      margin: 0;
      padding-top: 0.5em;

      .edit-disabled {
        padding-right: $default-gap;
      }
    }
  }
}