<span class="code-validation-messages">
  <span class="text-danger field-empty" ng-if="codeValidationMessages.validationField.empty">
    {{ ::'code.lists.manage.validation.empty' | translate }}
  </span>
  <span class="text-danger field-not-unique" ng-if="codeValidationMessages.validationField.exists">
    {{ ::'code.lists.manage.validation.unique' | translate }}
  </span>
  <span class="text-danger field-exceeds-size" ng-if="codeValidationMessages.validationField.exceedsSize">
    {{ ::'code.lists.manage.validation.size' | translate: {maxSize: codeValidationMessages.validationField.maxSize} }}
  </span>
    <span class="text-danger field-invalid-characters" ng-if="codeValidationMessages.validationField.invalidCharacters">
    {{ ::'code.lists.manage.validation.characters' | translate }}
  </span>
</span>