<button class="code-descriptions-btn text-info" ng-click="::codeDescriptionsButton.openDescriptions()"
        title="{{ 'code.lists.manage.lang.tooltip' | translate}}">
  <i class="fa fa-list"></i>
  <span ng-if="::codeDescriptionsButton.config.renderLabel" ng-switch="codeDescriptionsButton.mode">
    <span ng-switch-when="preview">
      {{ ::'code.lists.manage.see.lang' | translate }}
    </span>
    <span ng-switch-default>
      {{ ::'code.lists.manage.edit.lang' | translate }}
    </span>
  </span>
</button>