<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="userhelp">

	<description>User Guide Web Application</description>
	<display-name>User Guide Web Application</display-name>
	<jsp-config>
		<taglib>
			<taglib-uri>/jhlib.tld</taglib-uri>
			<taglib-location>WEB-INF/jhlib.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>