@CHARSET "UTF-8";

.top-buffer {
    margin-top: 20px;
}

.models {
    min-height: 100px !important;
}

.scrollable-menu {
    max-height: 295px;
    overflow-x: hidden;
}

div.required:after {
    content: "*";
    color: red;
}

.panel-heading:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
}

.panel-heading.collapsed:after {
    content: "\e080";
}

.group-legend {
    border-style: none;
    border-width: 0;
    font-size: 16px;
    margin-bottom: 0;
}
.group {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.tenant-table .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}