<div>
  <div id="viewModeInput">
    <label>
      <input type="radio" ng-model="formWidget.config.formViewMode" value="EDIT" name="formMode" />
      Edit
    </label>
    <label>
      <input type="radio" ng-model="formWidget.config.formViewMode" value="PREVIEW" name="formMode" />
      Preview
    </label>
    <label>
      <input type="radio" id="print-mode" ng-model="formWidget.config.formViewMode" value="PRINT" name="formMode" />
      Print
    </label>
  </div>
  <button id="togglePreview" ng-click="formWidget.togglePreview()">toggle preview</button>
  <button id="toggleLabelLeft" ng-click="formWidget.toggleLabelPosition('label-left')">label left</button>
  <button id="toggleLabelAbove" ng-click="formWidget.toggleLabelPosition('label-above')">label above</button>
  <button id="toggleLabelHide" ng-click="formWidget.toggleLabelPosition('label-hidden')">label hide</button>
  <button id="toggleLabelTextLeft" ng-click="formWidget.toggleLabelTextPosition('label-text-left')">label text left</button>
  <button id="toggleLabelTextRight" ng-click="formWidget.toggleLabelTextPosition('label-text-right')">label text right</button>
  <button id="setLineDirection" ng-if="formWidget.isRadionButtonGroupSandbox()" ng-click="formWidget.setLineDirection()">line direction (radio button group)</button>
  <button id="setPageDirection" ng-if="formWidget.isRadionButtonGroupSandbox()" ng-click="formWidget.setPageDirection()">page direction (radio button group)</button>
  <button id="setBorders" ng-if="formWidget.isAllControlsSandbox()" ng-click="formWidget.toggleBorders()">Toggle Borders</button>
  <hr />
  <seip-form-wrapper config="formWidget.config" form-config="formWidget.formConfig"></seip-form-wrapper>

  <div ng-repeat="fieldDefinition in formWidget.formConfig.models.viewModel.flatDefinitions">
    <label>{{fieldDefinition.identifier}}</label>
    <textarea id="{{fieldDefinition.identifier}}-model" style="width: 100%;">{{formWidget.formConfig.models.validationModel[fieldDefinition.identifier].value}}</textarea>
  </div>
</div>
