@import '../../../style/mixins';

$info-widget-danger-bgcolor: #fff8f7;
$info-widget-danger-border: 1px solid #D04437;
$info-widget-danger-icon-color: #cf4336;

$info-widget-success-bgcolor: #f3f9f4;
$info-widget-success-border: 1px solid #91c89c;
$info-widget-success-icon-color: #14892c;

$info-widget-warning-bgcolor: #fff9d7;
$info-widget-warning-border: 1px solid rgba(42, 26, 26, 0.3);
$info-widget-warning-icon-color: #594300;

$info-widget-info-bgcolor: #fcfcfc;
$info-widget-info-border: 1px solid #aab8c6;
$info-widget-info-icon-color: #114559;

.info-widget-danger {
  background: $info-widget-danger-bgcolor;
  border: $info-widget-danger-border;
  & > .info-widget-icon:first-child {
    color: $info-widget-danger-icon-color;
  }
}

.info-widget-success {
  background: $info-widget-success-bgcolor;
  border: $info-widget-success-border;
  & > .info-widget-icon:first-child {
    color: $info-widget-success-icon-color;
  }
}

.info-widget-warning {
  background: $info-widget-warning-bgcolor;
  border: $info-widget-warning-border;
  & > .info-widget-icon:first-child {
    color: $info-widget-warning-icon-color;
  }
}

.info-widget-info {
  background: $info-widget-info-bgcolor;
  border: $info-widget-info-border;
  & > .info-widget-icon:first-child {
    color: $info-widget-info-icon-color;
  }
}

.info-widget {
  @include round-border(5px);
  padding: 10px 10px 10px 10px;
  min-height: 20px;
  .cke_widget_focused {
    outline: none !important;
  }
  .info-widget-icon {
    float: left;
    margin-right: 5px;
    display: inline-block;
  }
}