.relationships-widget {

}

.relationships-widget table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	min-width: 400px;
	border-collapse: collapse;
	border-spacing: 0;
}

.relationships-widget td {
	width: 40px;
}

.relationship-widget-panel {
	width: 100%;
}

.config {
	width: 600px; 
	max-height: 400px; 
	overflow: auto;
}

.widget-label:focus {
	border: solid 1px #CCCCCC;
	vertical-align: bottom;
}