@import "../../../style/mixins";

.recent-activities {

  .panel-body {
    padding: 5px;
  }

  .user-activity-entry {
    @include word-wrap();

    &.well {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .instance-link {
      margin-left: 2px;
    }
  }
}