.audit-placeholder {
	padding: 5px;
}

.audit-search-placeholder {
	width:800px;
	margin: 0 auto;
}

.audit-search-placeholder textarea {
    width: 100% !IMPORTANT;
    display: none;
}

.audit-placeholder #results-table {
	margin-top: 5px;
}

.audit-placeholder #results-table .x-mask {
	z-index: 1;
}

.audit-placeholder .datepicker-input, .ui-icon {
 	z-index: 1;
}
 
.audit-placeholder .select2-choice {
	height: 26px !important;
	line-height: 26px !important;
}

.audit-search {
	width:100%;
}

.audit-query-toggler:hover {
	cursor: pointer;
}

.audit-search-button {
	margin-top: 5px;
}

.icon-print { 
	background-image: url(../images/printer.png) !important; 
}
.icon-search{
	background-image: url(../css/images/zoom-fit.png);
}
.icon-csv{
	background-image: url(../images/csv-icon-sml.png);
}
.icon-pdf{
	background-image: url(../images/pdf-icon-sml.png);
}


.simple-table {
	margin-top: 16px;
	margin-bottom: 16px;
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
    display: table; 
    word-wrap: break-word;
    table-layout:fixed;
    font-size:0.7vw;
}

.simple-table-cell {
	padding-left:5px;
	padding-right:5px;
	padding-top:2.5px;
	padding-bottom:2.5px;
	border:1px solid black;
	border-collapse:collapse;
	text-align:center;
	display:table-cell;
}

.head-row {
	font-weight:bold;
	font-size: 80%;
	background-color: #ABC7EC ;
}

.print-preview-nav-btn {
	margin-right: 16px;
	margin-bottom: 16px;
}

.x-panel > .x-mask {
	background-color: transparent;
}

.audit-headers-with-icons a {
	background-size: contain;
}

.audit-menu-headers-with-icons .select2-result a {
	color: black;
}

.audit-menu-headers-with-icons .select2-highlighted a {
	color: white;
}

.audit-menu-headers-with-icons .select2-search-choice > div  a {
	background-size: contain;
}

.audit-placeholder #results-table .x-grid-cell-inner {
	overflow: visible;
	white-space: normal;
	word-wrap: break-word; 
	word-break: normal;
}
