.idoc-editor {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

/* headings */
.idoc-editor h1 {
	font-weight: normal;
	font-size: 22px;
	line-height: 1.25;
	margin: 30px 0 0;
}

.idoc-editor h2 {
	font-weight: normal;
	font-size: 20px;
	line-height: 1.25;
	margin: 30px 0 0;
}

.idoc-editor h3 {
	font-size: 18px;
	line-height: 1.5;
	margin: 30px 0 0;
}

.idoc-editor h4 {
	font-size: 16px;
	line-height: 1.5;
	margin: 20px 0 0;
}

.idoc-editor h5 {
	font-size: 14px;
	line-height: 1.66667;
	margin: 20px 0 0;
}

.idoc-editor h6 {
	font-size: 12px;
	line-height: 1.66667;
	margin: 20px 0 0;
}

.idoc-editor h1,.idoc-editor h2,.idoc-editor h3,.idoc-editor h4,.idoc-editor h5,.idoc-editor h6
	{
	border-bottom: 1px solid #CCCCCC;
	position: relative;
}

/* subscetions that are after parent section */
h1+h1,h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,h2+h1,h2+h2,h2+h3,h2+h4,h2+h5,h2+h6,h3+h1,h3+h2,h3+h3,h3+h4,h3+h5,h3+h6,h4+h1,h4+h2,h4+h3,h4+h4,h4+h5,h4+h6,h5+h1,h5+h2,h5+h3,h5+h4,h5+h5,h5+h6,h6+h1,h6+h2,h6+h3,h6+h4,h6+h5,h6+h6
	{
	margin-top: 30px;
}

.idoc-editor em {
	font-style: italic;
}

.idoc-editor ul {
	padding-left: 20px;
}

/* the padding should not be applied for bootstrap dropdowns */
.idoc-editor ul.dropdown-menu {
	padding-left: inherit !important;
}

.idoc-editor ol {
	padding-left: 25px;
}

.idoc-editor widget {
	display: table;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	width: 100%;
}

.widget-buttons {
	float: right;
}

/* make the button dropdown pop on the right side of the button so it doesn't go out of the editor */
.widget-buttons .dropdown-menu {
	left: auto;
	right: 0;
	padding-left: 0px;
}

/* make the actions button the same size as the other buttons */
.widget-actions {
	height: 19px;
	padding-top: 5px;
}

.idoc-editor widget .widget-wrapper {
	padding: 5px;
	padding-top: 3px;
	text-align: left !important;
	background: #EEE;
	border: 1px solid #CCC;
}

.widget-label {
	border: solid 1px transparent;
	background: #EEE;
	font-size: 12px;
	width: 93%;
}

.idoc-editor widget .widgetBody {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 5px;
	min-heigth: 0px;
	margin-top: 2px;
}

.idoc-editor widget .widget-buttons>div {
	display: inline-block;
	cursor: pointer;
}

.idoc-editor widget .widgetImg {
	width: 15px;
	padding-bottom: 10px;
	margin-right: 2px;
}

.idoc-editor widget .widgetTitle {
	font-weight: bold;
}

.idoc-editor widget {
	margin-top: 15px;
	margin-bottom: 15px;
}

.idoc-editor widget a {
	cursor: pointer;
}

.idoc-editor .widget-config-button {
	padding-left: 3px;
}

.hideWidgetContent>* {
	display: none;
}

.idoc-editor .mce-resizehandle {
	display: none !important;
}

 #objectsExplorerContent .x-grid-cell-inner-treecolumn {
 	background: #f9f9f9;
 }
 
 #objectsExplorerContent .x-panel-body {
 	background: #f9f9f9;
 } 

.idoc-editor .idoc-section-collapse-header {
	display: inline-block;
	position: absolute;
	left: -20px;
	top: 5px;
	cursor: pointer;
}