.widget {

}

.widget.ng-scope {

}

.widget.edit-mode {
	padding: 3px 5px 5px 5px;
	text-align: left !important;
	background: #EEE;
	border: 1px solid #CCC;
}

.widget-title-and-actions-wrapper, .widget-body-wrapper {
	display: block;
	width: 100%;
	margin: 0;
}

.widget-title-wrapper {
	padding: 3px; 
	overflow: hidden;
}

.widget-title-input {
	width: 100%;
	height: 23px;
}

.widget-title-input.widget-title-input-readonly {
	border: none;
	outline: none;
	background: #EEE;
	border-bottom: 1px dotted grey;
	cursor: text;
}

.widget-actions-wrapper {
	float: right; 
	padding: 3px; 
	position: relative;
}

.widget-actions-wrapper .dropdown-menu {
	right: 0;
	left: auto;
	z-index: 1000;
}

.widget-body-wrapper {
	background-color: white;
	padding: 3px;
}

.user-select-none {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	user-select: none;          
}

/* config dialogs */

/* .ui-dialog-content > div {
	height: 100%;
} */
