@import '../../style/variables';

.context-selector {
  padding-bottom: 15px;
  word-break: break-all;

  .clear-context-btn i {
    vertical-align: unset;
  }

  img {
    margin-right: 0.5em;

    height: $breadcrumb-header-size;
    width: $breadcrumb-header-size;
  }

  .error-message {
    text-align: center;
  }
  .error-message:empty {
    display: none;
  }
}
