<div class="model-list">

  <div class="empty-list-message alert alert-info" ng-if="::!modelListValidationView.hasModelsToDisplay()">
    {{ ::'administration.models.management.list.view.empty.message' | translate}}
  </div>

  <div ng-if="::modelListValidationView.hasModelsToDisplay()">
    <div class="list-actions" ng-if="modelListValidationView.isSelectDeselectEnabled()">
      <a class="select-all" href="javascript:void(0)" ng-click="modelListValidationView.selectAll()">
        {{::'administration.models.management.list.view.select.all' | translate}}
      </a> /
      <a class="deselect-all" href="javascript:void(0)" ng-click="modelListValidationView.deselectAll()">
        {{::'administration.models.management.list.view.deselect.all' | translate}}
      </a>
    </div>

    <table class="table table-hover table-condensed">
      <tr class="model-item-wrapper"
          ng-repeat="item in modelListValidationView.models.getModels() track by item.getId()">
        <td class="model-item">
          <div class="model-data-section">
            <label ng-if="::modelListValidationView.config.selectableItems"
                   class="{{::modelListValidationView.getSelectionControlType()}}"
                   ng-class="::{'state-disabled' : modelListValidationView.hasCriticalErrors(item)}">
              <input class="form-control" type="{{::modelListValidationView.getSelectionControlType()}}"
                     name="selectedItems" value="{{::item.getId()}}"
                     ng-click="::modelListValidationView.toggleItem(item)"
                     ng-checked="modelListValidationView.isSelected(item)"
                     ng-disabled="::modelListValidationView.hasCriticalErrors(item)"/>
              <i class="select-control"></i>
            </label>

            <h5 class="model-data">
              <span ng-class="::item.getIcon()" class="model-icon"></span>
              <span class="model-name">{{ ::modelListValidationView.getModelName(item) }}</span>
              <span class="model-id">({{ ::modelListValidationView.getModelIdentifier(item) }})</span>
            </h5>
          </div>
          <div class="model-validation-log">
            <div class="model-validation-message" ng-repeat="error in ::modelListValidationView.getErrors(item)">
              <h6 ng-class="::{ 'model-error': modelListValidationView.isErrorMessage(error),
                'model-warning': modelListValidationView.isWarningMessage(error)}">
                {{ error.message }}
              </h6>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>