.sourcearea {
  .CodeMirror {
    height: auto;
  }

  .cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
  }
}

/* Applies styles similar to those applied by bootstrap to all form fields. */
@mixin border-styles() {
  .CodeMirror {
    border: 1px solid #ccc;
    transition: border-color 0.3s;
  }

  .CodeMirror-focused {
    border: 1px solid #66afe9;
  }
}
