<div class="model-label-attribute input-group">
  <input type="text" class="form-control"
         ng-readonly="!modelLabelAttribute.editable"
         ng-change="modelLabelAttribute.onModelChange('{{modelLabelAttribute.getValue()}}')"
         ng-model="modelLabelAttribute.attribute.getValue().value">

  <span class="input-group-btn">
    <button class="multi-language-btn btn btn-default text-info" ng-click="modelLabelAttribute.openValuesDialog()">
      <i class="fa fa-list"></i>
    </button>
  </span>
</div>