<div class="model-property form-group">
  <label class="control-label">
    <span class="property-label">
      {{ modelPropertyView.model.getDescription().getValue() }}
    </span>
    <i class="property-parent" ng-if="modelPropertyView.isParentVisible()">
      ({{ modelPropertyView.model.getParent().getDescription().getValue() }})
    </i>
  </label>

  <div class="control-data">
    <seip-hint ng-if="modelPropertyView.getTooltip()"
               hint-visible="true" class="property-hint"
               hint-text="modelPropertyView.getTooltip()">
    </seip-hint>
  </div>

  <div class="property-buttons">
    <model-select class="attributes" on-select="modelPropertyView.selectModel()"></model-select>
  </div>
</div>