.tabs-toolbar {
	list-style: none;
	min-height: 30px;
	margin-bottom: 0px;
}

.icons-container {
	min-width: 200px;
}

@media (max-width: 1280px) {
 	.icons-container {
		width: 10px; 
	}
	
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		width: 55px;
		font-size: 11px;
	}
	
	.idoc-container .tags {
		width: 300px;
	}
}