.emf-comments-object-wrapper label {
	width: auto !important;
}

.topic-status, .topic-category {
	display: table-row;
}

.topic-status > label, .topic-category > label, .topic-status > span, .topic-category > span {
	display: table-cell;
}

.topic-tags .select2-container-multi .select2-choices {
	min-height: initial;
}

.topic-tags .select2-container-multi .select2-choices .select2-search-choice {
	padding: 0 5px 0 18px;
	margin: 3px 0 3px 5px;
}

.topic-tags .select2-container-multi .select2-choices .select2-search-field {
	padding: 0;
}

.topic-tags .select2-container-multi .select2-choices .select2-search-field input {
	padding: 3px 0 0 3px;
	margin: 0;
}

.topic-tags .select2-search-choice-close {
	top: 0;
}

.topic-tags {
	margin-bottom: 5px;
}

.inline-comment-wrapper {
	cursor: pointer;
}

.mce-floatpanel {
	border-color: transparent !important;
}

.user-and-actions {
	line-height: 1.2;
}

.username, .comment-action-link {
	font-weight: bold;
}

.avatar {
	float: left;
}

.emf-comments-object-wrapper {
	position: relative;
}

.emf-comments-object-wrapper .btn, .emf-comments-dashlet-wrapper .btn {
	background-image: none;
}

.emf-comments-object-wrapper .create-topic-btn {
	position: absolute;
	top: 0;
	left: -45px;
}

/* Inline comment */

.inline-comment-wrapper .comment-content {
	padding-left: 32px;
}

/* Topic */
.topic-wrapper {
	border-top: 1px solid rgb(197, 197, 197);
	background-color: #fff;
}

.topic-wrapper.collapsed {
	background-color: transparent;
}

.topic-wrapper.collapsed .comment-content {
	white-space: nowrap;	
}

.topic .comment-content {
	text-overflow: ellipsis;
}

.show-more-wrapper {
	margin: auto  auto 5px 32px;
}

.topic-details-wrapper {
	border-top: 1px solid #f1f1f1;
}

.toggle-show-more-btn {
	display: block;
}

/* Inline comment editor */

.inline-comment-editor {
	overflow: hidden;
	background-color: #fff;
}

.inline-comment-editor .comment-editor-wrapper {
	overflow: hidden;
}

.inline-comment-editor .comment-content-wrapper {
	overflow: hidden;
	border-radius: 3px;
	min-height: 32px;
	border: 1px solid #d5d5d5;
}

/* Popup comment editor */

.popup-comment-editor-popup.ui-dialog-content.ui-widget-content {
	padding: 0;
}

.popup-comment-editor-popup .comment-editor-content {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	min-height: 100px;
	max-height: 100px;
	overflow-y: auto; 
}

.popup-comment-editor-popup .toolbar-placeholder {
	min-height: 30px;
	max-height: 30px;
}

.popup-comment-editor-popup .toolbar-placeholder .mce-panel {
	display: block !important;
}

/* create reply inline editor */

.inline-reply {
	margin-left: 32px;
}

/* Replies */

.topic-replies-wrapper {
	margin-left: 32px;
}

/* Dashlet */

.emf-comments-dashlet-wrapper { 
	background-color: #f6f6f6; 
}

.dashlet-topic-wrapper {
	overflow: hidden;
}

/* Filter/Sort */

.emf-comments-filter-wrapper {
	position: relative;
}

.emf-comments-sort-popout label:first-child {
	margin-right: 20px;
}

.emf-comments-sort-popout input {
	vertical-align: text-bottom;
}

.emf-comments-filter-popout, .emf-comments-sort-popout {
	position: absolute;
	top: 35px;
	left: auto;
	border-radius: 5px;
	z-index: 100;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.emf-comments-filter-popout {
	left: 0px;
}

.emf-comments-sort-popout {
	min-width: 255px;
}

.emf-comments-sort-popout label {
	width: auto !important;
}