@import "../../style/variables";

.model-management {
  margin-top: $navbar-height + $breadcrumb-height;
  padding-top: 0.5em;
  display: flex;

  .model-tree {
    bottom: 0;
    width: 15%;

    margin-right: 0.5em;
    border-right: 1px solid $panel-border-color;
  }

  .model-data {
    width: 85%;

    .select-message, .missing-model-message, .loading-message {
      margin: $default-gap;
    }

    .loading-message .fa-spinner {
      margin-right: $default-gap;
    }

  }
}