<div class="model-management">

  <seip-model-tree class="model-tree"
                   ng-if="::modelManagement.treeConfig"
                   model="::modelManagement.treeModel"
                   config="::modelManagement.treeConfig"
                   on-selected-node="modelManagement.onSelectedNode(node)"></seip-model-tree>

  <div class="model-data">
    <seip-tabs class="model-sections"
               config="modelManagement.modelSectionsConfig"></seip-tabs>

    <div ng-show="!modelManagement.isModelSelected()" class="select-message alert alert-info">
      {{ ::'administration.models.management.select' | translate}}
    </div>

    <div ng-show="modelManagement.isModelLoading()" class="loading-message alert alert-info">
      <i class="fa fa-spinner fa-spin"></i>{{ ::'administration.models.management.loading' | translate}}
    </div>

    <div ng-show="modelManagement.isModelMissing()" class="missing-model-message alert alert-warning">
      {{ ::'administration.models.management.missing.model' | translate: {model: modelManagement.getCurrentModel()} }}
    </div>

    <seip-model-general ng-if="!modelManagement.isModelPresent()"
                        ng-show="modelManagement.isSectionVisible('general')"
                        model="modelManagement.model" emitter="modelManagement.emitter"></seip-model-general>

    <seip-model-fields ng-if="!modelManagement.isModelPresent()"
                       ng-show="modelManagement.isSectionVisible('fields')"
                       model="modelManagement.model" emitter="modelManagement.emitter"></seip-model-fields>
  </div>

</div>