<div class="container dynamic-date-range-stub">

  <div class="row" id="default_values">
    <h2>Dynamic date range form
      <button id="toggle_state" class="btn btn-sm btn-default" ng-click="dynamicDateRangeStub.toggleState()">
        Enable/disable form
      </button>
    </h2>

    <dynamic-date-range ng-if="dynamicDateRangeStub.render"
                        config="dynamicDateRangeStub.default.config"
                        date-step="dynamicDateRangeStub.default.step"
                        date-offset="dynamicDateRangeStub.default.offset"
                        date-offset-type="dynamicDateRangeStub.default.offsetType">
    </dynamic-date-range>

    <br>
    <textarea style="width: 100%" ng-model="dynamicDateRangeStub.evaluated"></textarea>
  </div>

  <div class="row" id="predefined_values">
    <h2>Dynamic date range form with predefined date offset</h2>
    <dynamic-date-range ng-if="dynamicDateRangeStub.render"
                        config="dynamicDateRangeStub.predefined.config"
                        date-step="dynamicDateRangeStub.predefined.step"
                        date-offset="dynamicDateRangeStub.predefined.offset"
                        date-offset-type="dynamicDateRangeStub.predefined.offsetType">
    </dynamic-date-range>
  </div>

</div>