<!DOCTYPE html>
<html>
<head>
  <title>SandBox: Dynamic date range</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    paths: {
      'dynamic-date-range-stub': 'sandbox/search/components/advanced/dynamic-date-range/dynamic-date-range.stub.js',
      'dynamic-date-range-stub-template': 'sandbox/search/components/advanced/dynamic-date-range/dynamic-date-range.stub.html'
    },
    modules: ['style/main.css!css', 'dynamic-date-range-stub']
  });
</script>

<dynamic-date-range-stub></dynamic-date-range-stub>

</body>
</html>