@import "../../../../style/reusables";
@import "../../../../style/variables";
@import "../../style/management-variables";

.model-actions-tree .object-browser {

  .action-group-link {
    font-weight: bold;
  }

  .jstree-node {
    li {
      margin-left: $default-gap;
    }

    .action-parent {
      font-size: 75% !important;
      font-weight: normal !important;
      color: $link-color !important;
    }
  }

  .modified-node {
    color: $modified-color;
  }
}