.file-upload {

  .file-upload-field {
    display: none;
  }

  .file-entry {
    .row {
      margin-bottom: 5px;
    }

    .row.vertical-center {
      display: flex;
      align-items: center;
    }

    .progress {
      margin-bottom: 0;
    }

    .progress-bar {
      min-width: 2em;
    }

    .separator {
      border-top: 1px solid #dddddd;
    }
  }

  .file-name {
    word-break: break-all;
  }

  .select-files-button {
    margin-bottom: 10px;
  }
}
