//Prevents the bootstrap's modal dialog from adding a padding to the body.
body {
  padding-right: 0 !important;
}

form {
  label {
    font-weight: 400;
  }
}

.form-control {
  box-shadow: none !important;
}

.form-control, .input-lg, .input-sm, .input-xs {
  border-radius: 0 !important;
}

.input-group-addon {
  border-radius: 0;
  padding: 6px 10px;
  transition: background-color 0.3s ease 0s;
}

.input-group-btn {
  .btn {
    height: 34px;
  }
}

input::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

input[type="text"]:focus + .input-group-addon {
  background-color: #72a0ce;
  border-color: #0091d9;
  color: #fff;
}

input.form-control[disabled] + .input-group-addon {
  opacity: 0.8 !important;
}

/* Overrides for buttons */
.btn {
  border-radius: 2px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
  background-image: none !important;
}

.btn-default {
  background-color: #fff !important;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
  color: #333;
}

.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  color: #fff;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: $btn-primary-hover-bg !important;
  border-color: $btn-primary-hover-border !important;
  color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $btn-primary-disabled-bg !important;
  border-color: $btn-primary-disabled-border !important;
  color: #fff;
  opacity: 1;
}

/* Overrides for panels */
.panel-group .panel, .panel {
  background-color: transparent;
  border: 1px solid $panel-border-color;
  border-radius: 0;

  .panel-heading {
    display: flex;
    align-items: center;
    min-height: 34px;
    background-image: none;
    background-color: $color-darker-tone-03;
    padding: 0;
    padding-left: 11px;
    border-bottom: 1px solid $panel-border-color;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
    &:not(.widget-header) {
      @include internet-explorer-11() {
        padding-top: 7px;
      }
    }
  }

  &.no-header {
    > .panel-heading {
      display: none;
    }
  }

  &.no-header-borders {
    > .panel-heading {
      visibility: hidden;
    }
  }

  &.no-borders {
    > .panel-body {
      padding-left: 0px;
      .layoutmanager {
        .container-fluid {
          padding-left: 0px;
        }
        .layout-column-editable {
          padding-left: 0px;
        }
      }
    }

    border: none;
    box-shadow: none;
    > .panel-heading {
      border: 1px solid $panel-border-color;
    }
  }
}

/* Overrides for modals */
.modal {
  .modal-dialog {
    @include internet-explorer-11() {
      height: auto;
    }
    max-width: 96%;
    .modal-content {
      border-radius: 3px;
    }
  }
}

/* Overrides for tabs */
.nav-tabs {
  min-height: $constant-row-height;
  background-color: $idoc-tabs-background-color;
  border: 1px solid $idoc-tabs-border-color;
  border-left: transparent;
  border-right: transparent;
}

.nav-tabs > li > a {
  border-radius: 0;
  outline: none;
  color: $idoc-info-area-font-color;
}

.nav-tabs > li.active > a {
  box-shadow: 0px -2px 0 $instance-link-color;
  border-top-width: 0 !important;
  margin-top: 1px !important;
}

.nav-tabs > li > a:hover {
  border-bottom-color: transparent;
  cursor: pointer;
}

.nav-tabs > li > a.active:hover {
  cursor: default;
}

.idoc-body .tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  position: absolute;
  overflow-y: hidden;
  top: -9999px;
  left: -9999px;

  // text and widget inside layout is wanted to
  // be on the level of text without layout
  // layoutmanager class is not used, because
  // pasting of layouts ommit it.
  .layout-container {
    padding-left: 9px;
  }
}

.idoc-body .tab-content > .active {
  visibility: visible;
  position: static;
  overflow-y: auto;
  top: 0;
  left: 0;
}

/* Overrides for vertical navigational tabs */
.nav-tabs.nav-stacked {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  height: inherit;
}

/* Overrides for left vertical navigational tabs */
.nav-tabs.nav-stacked.nav-left {
  border: none;
  border-right: 1px solid $idoc-tabs-border-color;
  background-color: $idoc-tabs-background-color;

  li > a {
    margin-top: 3px !important;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: -1px;
  }

  li.active > a {
    box-shadow: -2px 0 0 $instance-link-color;
    border: 1px solid $idoc-tabs-border-color;
    border-right-color: transparent;
    border-top-width: 1px !important;
  }
}

/*
 * Alerts
 */
.alert {
  margin-bottom: 20px;
  margin-top: 0;
  padding: 10px;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  border-radius: 0;
  background-image: none;
}

.alert .close {
  top: 0;
  right: -5px;
  line-height: 20px;
}

.alert-heading {
  font-weight: 600;
}

.alert-danger {
  border-color: #953b39;
  color: $state-danger-text;
  background-color: $state-danger-bg;
  text-shadow: none;
}

.alert-warning {
  border-color: #dfb56c;
  color: $state-warning-text;
  background-color: $state-warning-bg;
}

.alert-success {
  border-color: #8ac38b;
  color: $state-success-text;
  background-color: $state-success-bg;
}

.alert-info {
  border-color: #9cb4c5;
  color: $state-info-text;
  background-color: $state-info-bg;
}

/* Overrides drop-down trigger button */
.button-ellipsis {
  border: none;
  background: none;

  .fa-circle-column::before {
    color: #777777;
    content: "\2AF6";
  }

  i {
    font-size: 14px;
    transform: scale(2.3, 1.7);
  }
}

.thumbnail {
  margin-bottom: 0;
  padding: 2px;
  display: inline-block;
}

.label-warning {
  white-space: pre-wrap;
}

.dropdown-menu {
  z-index: 10;
  li > a {
    padding: 3px 20px 3px 10px;
  }
}

.fa-disabled {
  opacity: $disabled-field-opacity;
}

.fa-sm {
  font-size: 0.78em;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $color-darker-tone-05;
}

.table-hover > tbody > tr:hover {
  background-color: $table-row-background-color-hover;
}

// prevents objects links to overflow from their cell
td .cke_widget_object-link {
  width: 100%
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.pagination {
  > .active {
    > a, > span {
      background-color: $link-color;

      &:hover, &:focus {
        background-color: $link-hover-color;
      }
    }
  }
}

.text-info {
  color: $link-color;
}

a.text-info:hover, .text-info:hover {
  color: $link-hover-color;
}

.progress-bar {
  background-image: linear-gradient(to bottom, $link-color 0%, $link-color 100%);
}

p {
  margin-bottom: $paragraph-margin-bottom;
}