/*
 * Common transition effects.
 * To correctly determine when transitions end, use the "animated" class upon the element to enable angular's
 * animate handlers.
 */

$transition-duration-default: 0.2s;

@mixin transition-drop-down() {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform $transition-duration-default ease;

  &.ng-hide {
    transform: scaleY(0);
    transform-origin: top;
  }
}