@import "./theme/default-theme";

$BASE_PATH: '/';

/* Supported screen widths list. See the list functions in sass documentation to know how to access list values:
http://sass-lang.com/documentation/Sass/Script/Functions.html#list-functions */
$screen-widths: (1920px, 1600px, 1440px, 1280px, 1024px, 800px);
/* Default font sizes according to the screen width. See the $screen-width list above. */
$default-font-sizes: (14px, 14px, 14px, 13px, 13px, 13px);

$font-family-sans-serif: "Open Sans", Arial, Helvetica, sans-serif;

/* Base images path.  */
$images-url: "../images";

//defines standard form field label and field widths in ODW
$form-label-width: 25%;
$form-field-width: 75%;

// Defines the height of a layout row in the ui
$constant-row-height: 41px;

$default-gap: 5px;

$idoc-page-default-padding:15px;

$idoc-header-height: 70px;

$idoc-info-area-font-color: #666666;

$idoc-editor-toolbar-background-color: $toolbar-background-color;

$idoc-editor-area-wrapper-background-color: white;

$user-menu-width: 75px;

$menu-item-width: 50px;
$menu-item-height: 50px;
$dropdown-menu-item-width: 60px;
$dropdown-menu-item-caret-color: #ffffff;

$nav-image-container-size: $menu-item-height - 8;

$panel-border-color: #c2c2c2;

$field-border-width: 3px;

$disabled-field-border-color: #e5e5e5;
$disabled-field-bg-color: #fff;
$disabled-field-color: #333;
$disabled-field-opacity: 0.8;

$placeholder-color: #a9a9a9;

$form-label-color: #8a6d3b;

$table-border-color: #c2c2c2;
$table-column-min-width: 150px;
$aggregated-table-column-min-width: 50px;

$table-row-background-color-hover: rgba(7, 55, 99, 0.1);

$seip-btn-toggle-header-hover-color: #888;
$seip-btn-toggle-header-hover-background-color: #d9d9d9;

$breadcrumb-header-size: 12px;

// Color for ticks and radio buttons that uses font awesome icons
$icon-font-normal-state: $link-color !default;

$small-component-font-size: 13px;
$small-component-height: 30px;

// Left margin between inline buttons
$action-button-margin-left: 0.3em;

$color-darker-tone-05: rgba(0, 0, 0, 0.05);
$color-darker-tone-03: rgba(0, 0, 0, 0.03);
$color-darker-tone-1: rgba(0, 0, 0, 0.1);

// Override bootstrap variables
$btn-primary-bg: $link-color;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-primary-hover-bg: $link-hover-color;
$btn-primary-hover-border: darken($btn-primary-hover-bg, 5%);

$btn-primary-disabled-bg: #7294b1;
$btn-primary-disabled-border: darken($btn-primary-disabled-bg, 5%);

// Bottom margin for paragraphs, widgets and layouts
$paragraph-margin-bottom: 10px;
