# Change CN according to your desired FQDN
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ dn ]
C=BG
ST=Rousse
L=Rousse
O=Sirma Group
OU=Sirma Enterprise Systems
CN=mail.zimbra-vm.com

[alt_names]
IP.1 = 172.17.8.101