@import '../../style/_variables';

.icon-upload {
  .icon-uploader {
    border-bottom: 1px solid $panel-border-color;
    height: 70px;

    .icon-content{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-upload-field {
        display: none;
      }
      div {
        display: flex;
        align-items: center;
        sup {
          color: red;
        }
        img {
          margin-right: 10px;
        }
        .icon-error {
          color: red;
          font-size: medium;
        }
        p {
          word-break: break-all;
          overflow-y: auto;
          max-height: 60px;
        }
        button {
          display: inline-block;
        }
      }
    }
  }
}