@import "../../../../style/mixins";
@import "../../../../style/variables";
@import "../../style/management-mixins";

.model-property {
  display: flex;
  padding: $default-gap $default-gap * 2;

  .control-label {
    flex-basis: 30%;
    text-align: left;
    font-weight: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

    .property-parent {
      font-size: 75%;
      color: $link-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .control-data {
    display: flex;
    flex-basis: 65%;

    .property-hint {
      left: -5px;
      bottom: 1px;
      position: relative;

      min-width: 4px;
      margin-left: -5px;
      font-size: x-small;
    }
  }

  .property-buttons {
    visibility: hidden;
  }

  &:hover {
    @include highlighted-model;

    .property-buttons {
      visibility: visible;
    }
  }
}