@import "../../style/variables";

.idoc-actions {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  & > button {
    margin-left: $action-button-margin-left;
  }
}