.image-widget {
  width: 100%;
  height: 100%;
  position: relative;

  .panel-body{
    padding:5px;
  }

  .image-widget-viewer {
    position: relative;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      display: block;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      border: 0;
      width: 100%;
      height: 100%;
    }
  }

}