@import "../../style/variables";

$comment-border-color: #205081;

.comment {
  position: relative;
  min-width: 200px;
  margin: 9px 8px;
  padding: 10px 0 2px 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.02) inset;
  border-left: 2px solid $comment-border-color;

  .icon {
    .user-avatar {
      float:left;
      margin-right: 10px;
    }
  }

  .comment-reply-toolbar {
    text-align: right;
    padding: 5px 5px 0 0;
    display: none;

    a {
      text-decoration: underline;
      cursor: pointer;
      i {
        margin-right: 2px;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  .comment-header {
    display: block;
    font-size: 12px;

    .author {
      padding-top: 5px;
      color: $instance-link-color;
      font-weight: normal;
      font-size: 13px;
      word-wrap: break-word;
      margin-right: 25px;
    }
  }

  .comment-description {
    margin-top: 10px;
    font-size: 13px;
    word-break: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .collapsed {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    p:not(:first-child) {
      margin-top: -10px;
    }
  }

  .comment-actions {
    position: absolute;
    right: 15px;
    top: 12px;
  }

  button {
    border: none;
    background: none;
  }

  .fa-ellipsis-v {
    color: $idoc-info-area-font-color;
  }

}
