.code-lists-search.advanced-search-criteria {

  .criteria-property {
    flex-basis: 15%;
  }

  .criteria-operator {
    flex-basis: 10%;
  }

  .criteria-value {
    flex-basis: 75%;
    padding-right: 0 !important;
  }
}