@import '../../../style/variables';
@import '../../../style/mixins';

.versions {
  padding: $idoc-page-default-padding;

  .versions-header {
    .versions-toolbar {
      margin-bottom: 10px;
      float: right;
    }
  }

  .instance-header[data-tooltip] {
    @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size) {
      margin-top: 25px;
      margin-left: -200px;
    }
  }

  .versions-view {
    table {
      text-align: center;
      margin-bottom: 0;

      caption {
        padding: 8px;
        font-weight: bold;
        background: #fafafa;
        color: $default-font-color;
        border: 1px solid $table-border-color;
        border-bottom: none;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
      }

      thead {
        background-color: whitesmoke;
      }
    }
  }
}
