.advanced-search-panel .search-data .ui-autocomplete-input + .ui-icon {
    right: 3px;
}

/* IE doens't apply padding properly */
.top-header .menu-item .menu-item-trigger.dropdown-menu-trigger {
	padding-top: 5px;
}

/* IE doens't apply top properly */
.top-header .main-menu .dropdown-menu-item .dropdown-menu-list {
	top: 54px;
}

.top-header .main-menu .admin-menu .icon {
	position: absolute;
	/* Half of the icon size which is 24px. This works for FF and chrome, IE should be fixed in ie.css */
	margin-left: 24px !important; 
	margin-top: -1px; /* align according to other menu items which use glyphicon font image */
}