
/* =============================================================================
   AJAX loader style classes
   ========================================================================== */
   
.sf-ajax-loader img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #FAFAFA;
}

.sf-ajax-loader.after-loader {
	position: absolute;
}

.sf-ajax-loader.after-loader img {
	position: relative;
}

.sf-ajax-loader.modal-loader {
	position: fixed;
}

.sf-ajax-loader.modal-loader img {
	margin-top: -5px;
	margin-left: -8px;
}

.sf-ajax-loader.static-loader {
	position: fixed;
	right: 15px;
	top: 10px;
}

.sf-ajax-loader.inplace-loader {
	 position: absolute;
}

.sf-ajax-loader.inplace-loader img {
	margin-top: -5px;
	margin-left: -8px;
}