.mce-widget.mce-btn > button {
	line-height: 15px !important;
}

.mce-widget.mce-btn {
	line-height: 16px;
}

.mce-widget.mce-btn * {
	line-height: 16px;
	font-size: 13px !important;
}

.emf-tiny-editor em, .emf-tiny-editor i {
	font-style: italic;
}

.emf-tiny-editor bold, .emf-tiny-editor strong {
	font-weight: bold;
}

.emf-tiny-editor ul, .emf-tiny-editor ol {
	padding-left: 40px;
}
