@import "../../../style/mixins";
@import "../../../style/variables";

.model-field {
  display: flex;
  padding: $default-gap $default-gap * 2 $default-gap $default-gap * 2;

  .control-label {
    flex-basis: 35%;
    font-weight: normal;

    .field-parent {
      font-size: 75%;
      color: $link-color;

      &:hover {
        text-decoration: underline;
      }
    }

    .mandatory-mark {
      color: #FF0000;
    }
  }

  .field-hint {
    left: -5px;
    bottom: 1px;
    position: relative;

    .seip-hint {
      font-size: x-small;
      min-width: 4px;
      margin-left: -5px;
    }
  }

  .control-view, .control-edit {
    flex-basis: 65%;
  }

  .control-view {
    overflow: hidden;

    .control-label {
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:active {
        white-space: normal;
      }
    }
  }

  @include exclude-ie11-and-edge() {
    .control-edit > textarea {
      overflow: hidden;
    }
  }

  .control-buttons {
    display: flex;
    align-items: center;

    .control-button {
      float: right;
      color: $link-color;

      button {
        padding: 0;
        border: none;
        background: none;
        margin-left: $default-gap * 2;

        &:focus, &:active {
          border: none;
        }
      }
    }
  }

  &:hover {
    background-color: #DCDCDC;
  }
}