<div class="model-region panel panel-default">
  <div class="region-header panel-heading" ng-if="modelRegionView.model.getDescription().getValue()" ng-click="modelRegionView.onRegionToggle()">
    <i class="fa" ng-class="{'fa-caret-down': modelRegionView.isRegionVisible(), 'fa-caret-right': !modelRegionView.isRegionVisible()}"></i>
    <span class="region-name">{{ modelRegionView.model.getDescription().getValue() }}</span>
  </div>
  <div class="region-body panel-body" ng-show="modelRegionView.isRegionVisible()">
    <seip-model-field-view ng-repeat="item in modelRegionView.model.getFields()" model="item"></seip-model-field-view>
  </div>
</div>