<div class="model-field form-group" ng-show="modelFieldView.isFieldVisible()">
  <label class="control-label">
    <span class="field-label">
      {{ modelFieldView.model.getDescription().getValue() }}
    </span>
    <i class="field-parent" ng-if="modelFieldView.isParentVisible()">
      ({{ modelFieldView.model.getParent().getDescription().getValue() }})
    </i>
    <sup ng-show="::modelFieldView.mandatory" class="mandatory-mark">*</sup>
  </label>

  <span class="field-hint">
    <seip-hint hint-text="::modelFieldView.tooltip"
               hint-visible="::modelFieldView.tooltip"></seip-hint>
  </span>

  <div class="control-view" ng-if="modelFieldView.isReadOnly()">
    <label class="control-label">{{ ::modelFieldView.value }}</label>
  </div>

  <div class="control-edit" ng-if="modelFieldView.isEditable()" ng-switch on="modelFieldView.getType()">
    <textarea ng-switch-when="text" type="text"
              class="form-control" rows="1"></textarea>
    <label ng-switch-when="boolean" class="checkbox">
      <input type="checkbox" class="form-control"/><i></i>
    </label>
    <button ng-switch-when="picker" class="btn btn-xs btn-default">
      <span aria-hidden="true">&#43;</span>
    </button>
    <seip-select ng-switch-when="select" class="control-field"
                 ng-if="::modelFieldView.selectConfig"
                 config="modelFieldView.selectConfig">
    </seip-select>
    <seip-datetime-picker ng-switch-when="date"></seip-datetime-picker>
  </div>

  <div class="control-buttons">
    <span class="control-button">
      <button class="attributes"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </span>
  </div>
</div>