.widget-common-display-configurations {
  .widget-color {
    label {
      font-weight: normal;
    }

    .color-picker-group {
      display: table;
    }

    .header-background-color-picker, .widget-background-color-picker {
      display: table-row;
    }

    label, .color-picker {
      display: table-cell;
    }

    button {
      margin-top: 5px;
    }
  }
}
