<span class="dropdownmenu-wrapper no-print" ng-class="::dropdownMenu.config.wrapperClass"
      ng-click="dropdownMenu.reset()" ng-switch
      on="::dropdownMenu.config.buttonAsTrigger === true">
    <button ng-switch-when="true" type="button" data-toggle="dropdown" aria-expanded="true"
            class="dropdown-toggle" ng-class="::dropdownMenu.config.triggerClass"
            ng-bind-html="(dropdownMenu.config.triggerLabel | translate) +  dropdownMenu.config.triggerIcon| toTrustedHtml">
    </button>

    <a ng-switch-default type="button" data-toggle="dropdown" aria-expanded="true"
       class="dropdown-toggle" ng-class="::dropdownMenu.config.triggerClass"
       data-tooltip="{{::dropdownMenu.config.tooltip | translate}}"
       ng-bind-html="((dropdownMenu.config.triggerLabel | translate) + dropdownMenu.config.triggerIcon | toTrustedHtml)">
    </a>

    <submenu config="dropdownMenu.config" data="dropdownMenu.data"></submenu>
</span>