<div>
	<span style="float: right; margin-right: 10px;">
		<a id="lang-en" href="javascript:void(0)" ng-click="translate.changeLanguage('en')">EN</a> |
		<a id="lang-bg" href="javascript:void(0)" ng-click="translate.changeLanguage('bg')">BG</a> |
		<a id="lang-refresh" href="javascript:void(0)" ng-click="translate.refresh()">Refresh</a>
	</span><br>
	<span id="translate-0" translate="welcome" translate-values="{ username: 'John Doe', currentDate: translate.aDate }"></span><br>
	<span id="translate-1">{{ 'dashboard' | translate }}</span><br>
	<span id="translate-2">{{ translate.homepage }}</span><br>
	<span id="translate-3">{{ translate.homepageunbind }}</span><br>
	<span id="translate-4">{{ translate.menu }}</span><br>
	<span id="translate-5">{{ translate.menuunbind }}</span><br>
	<span id="translate-6">{{ 'missing' | translate }}</span><br>
	<span id="translate-7">{{ 1288323623006  | date:'fullDate' }}</span><br>
	<span id="translate-8">{{ translate.anotherDate }}</span><br>
	<span id="translate-9">{{ translate.yetAnotherDate }}</span>><br>
  <span id="translate-10">{{ translate.fallback| translate }}</span>
</div>