<div class="seip-basic-search-criteria">
  <div ng-if="::basicSearchCriteria.initialized">
    <div class="criteria-row">
      <div class="criteria-field input-group">
        <input type="text" class="criteria-field-fts form-control"
               ng-model="basicSearchCriteria.criteriaMapping.freeText.value"
               ng-keypress="basicSearchCriteria.onFtsKeyPress($event)"
               placeholder="{{ ::'search.keyword.placeholder' | translate}}">

        <div class="input-group-btn">
          <button type="button" class="btn btn-primary seip-search" ng-click="basicSearchCriteria.search()"
                  ng-disabled="basicSearchCriteria.config.disabled">
                    <span class="fa fa-search fa-1"
                          ng-class="{'fa-spinner fa-spin':basicSearchCriteria.config.disabled}"></span>
          </button>
          <seip-saved-search-select
            ng-if="!basicSearchCriteria.config.predefinedTypes || basicSearchCriteria.config.predefinedTypes.length < 1" config="basicSearchCriteria.savedSearchSelectConfig">
          </seip-saved-search-select>
          <button type="button" class="btn btn-default clear-criteria"
                  ng-click="basicSearchCriteria.clear()"
                  ng-disabled="basicSearchCriteria.config.disabled">
            {{::'labels.clear' | translate}}
          </button>
        </div>

      </div>
    </div>

    <div class="criteria-row">
      <div class="criteria-field">
        <seip-object-type-select class="criteria-field-types"
                                 ng-model="basicSearchCriteria.criteriaMapping.types.value"
                                 config="::basicSearchCriteria.typesConfig"></seip-object-type-select>
      </div>

      <div class="criteria-field">
        <seip-relationships-select class="criteria-field-relationships"
                                   ng-model="basicSearchCriteria.criteriaMapping.relationships.value"
                                   config="::basicSearchCriteria.relationshipsConfig">
        </seip-relationships-select>
      </div>

      <div class="criteria-field">
        <seip-object-select class="criteria-field-contexts"
                            ng-model="basicSearchCriteria.criteriaMapping.context.value"
                            config="::basicSearchCriteria.contextConfig">
        </seip-object-select>
      </div>
    </div>

    <div class="criteria-row">
      <div class="criteria-field">
        <seip-datetime-picker class="criteria-field-created-from"
                              ng-model="basicSearchCriteria.criteriaMapping.createdFromDate.value"
                              config="::basicSearchCriteria.createdOnConfigs.from"></seip-datetime-picker>
      </div>

      <div class="criteria-field">
        <seip-datetime-picker class="criteria-field-created-to"
                              ng-model="basicSearchCriteria.criteriaMapping.createdToDate.value"
                              config="::basicSearchCriteria.createdOnConfigs.to"></seip-datetime-picker>
      </div>

      <div class="criteria-field">
        <seip-resource-select class="criteria-field-created-by"
                              ng-model="basicSearchCriteria.criteriaMapping.createdBy.value"
                              config="::basicSearchCriteria.userSelectConfig">
        </seip-resource-select>
      </div>
    </div>
  </div>
</div>