@import "../../../style/reusables";
@import "../../../style/variables";

.seip-basic-search-criteria {
  .criteria-row {
    @include make-row(0);
    margin-bottom: $default-gap;
  }

  .criteria-field {
    @include make-lg-column(4, 0);
    @include make-sm-column(4, 0);
    @include make-md-column(4, 0);

    @media(min-width: 768px) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  .criteria-field:first-child, .criteria-field:last-child {
    padding-left: inherit;
    padding-right: inherit;
  }

  .criteria-field.input-group {
    @include make-lg-column(12, 0);
    @include make-sm-column(12, 0);
    @include make-md-column(12, 0);
  }
}