@import "../../../style/variables";

.mixed-search-criteria {
  .contextual-help {
    margin-top: 5px;
  }
}

.modal .object-selector {

  .mixed-search-criteria {
    padding-top: 0.2em;
  }

  > .inline-group {
    border-bottom: 1px solid $idoc-tabs-border-color;
  }
}