<div class="mixed-search-criteria">
  <form class="inline-group">
    <label class="radio basic-search-option">
      <input type="radio" class="form-control" name="searchMode" value="basic"
             ng-model="mixedSearchCriteria.config.searchMode"
             ng-change="mixedSearchCriteria.onSwitch()">
      {{::'search.basic' | translate}}
      <i></i>
    </label>

    <label class="radio advanced-search-option">
      <input type="radio" class="form-control" name="searchMode" value="advanced"
             ng-model="mixedSearchCriteria.config.searchMode"
             ng-change="mixedSearchCriteria.onSwitch()">
      {{::'search.advanced' | translate}}
      <i></i>
    </label>
    <label class="radio external-search-option" ng-show="mixedSearchCriteria.isExternalSearchPresent()">
      <input type="radio" class="form-control" name="searchMode" value="external"
             ng-model="mixedSearchCriteria.config.searchMode"
             ng-change="mixedSearchCriteria.onSwitch()">
      {{'external.search.title.label' | translate}}
      <i></i>
    </label>

    <seip-contextual-help class="pull-right" target="'search'"
                          ng-if="mixedSearchCriteria.config.renderHelp">
    </seip-contextual-help>
  </form>

  <seip-basic-search-criteria ng-if="mixedSearchCriteria.isBasicSearchMode()"
                              config="mixedSearchCriteria.config"
                              context="mixedSearchCriteria.context">
  </seip-basic-search-criteria>

  <seip-advanced-search ng-if="mixedSearchCriteria.isAdvancedSearchMode()"
                        config="mixedSearchCriteria.config"
                        context="mixedSearchCriteria.context">
  </seip-advanced-search>

  <seip-external-search ng-if="mixedSearchCriteria.isExternalSearchMode()"
                        config="mixedSearchCriteria.config"
                        context="mixedSearchCriteria.context">
  </seip-external-search>
</div>
