.seip-pagination {

  border-top: 1px solid #eee;

  .pagination {
    display: flex;
    justify-content: center;
    margin: 0.5em;

    a:hover {
      cursor: pointer;
    }
  }
}

.modal .seip-pagination .pagination {
  margin-bottom: 0;
}