.search-toolbar {
  display: flex;
  align-items: center;

  padding-top: 1em;
  padding-bottom: 1em;

  .toolbar-column {
    flex-basis: calc(100% / 3);
  }

  .order-by-wrapper {
    display: inline-flex;

    .order-by {
      flex-grow: 1;
    }

    .sort-by {
      margin-left: 0.5em
    }
  }

  .save-search {
    display: inline-flex;
    justify-content: flex-end;

    button {
      margin-left: 0.5em
    }
  }

  .results-count {
    text-align: center;
  }
}