<div class="search-toolbar">

  <span class="toolbar-column order-by-wrapper">
    <seip-select class="order-by" ng-change="searchToolbar.onOrderByChanged()"
                 config="searchToolbar.orderByConfig" ng-model="searchToolbar.config.orderBy"></seip-select>

    <button class="btn btn-default sort-by" ng-click="searchToolbar.toggleOrderDirection()"
            ng-disabled="searchToolbar.config.disabled"
            ng-class="{'disabled' : searchToolbar.config.disabled}">
      <i class="fa fa-sort-alpha-asc ascending" ng-if="searchToolbar.isAscending()"></i>
      <i class="fa fa-sort-alpha-desc descending" ng-if="!searchToolbar.isAscending()"></i>
    </button>
  </span>

  <span class="toolbar-column results-count">
    <span class="count badge">{{searchToolbar.results.total}}</span>
    <span class="message">{{::searchToolbar.config.labels.total | translate}}</span>
  </span>

  <seip-save-search class="toolbar-column" ng-if="::searchToolbar.config.saveSearch.render"
                    config="::searchToolbar.config.saveSearch"></seip-save-search>
</div>