@import '../../style/mixins';

.actions-menu {
  margin-left: 5px;

  .btn-xs, .btn-group-xs > .btn {
    @include internet-explorer-11() {
      padding-top: 8px;
    };
  }
}

.dropdown-menu > li > .noPermissions {
  color: lightgrey;
}