.pkl-overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #aaaaaa;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
	filter: alpha(opacity = 50); /* IE transparency */
	z-index: 1000;
}

.pkl-wrapper {
	display: block;
	margin-top: 10px;
}

.pkl-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #888888;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #363636;
	z-index: 1001;
}

.pkl-header,
.pkl-footer {
	background-color: #E3EBEC;
}

.pkl-header {
	position: relative;
	padding: 10px 5px;
	border-bottom: 1px solid #c4c5c5;
	color: #515D6B;
	font-size: 13px;
	font-weight: bold;
}

.pkl-header-title {
	display: inline-block;
	width: 100%;
	padding: 0 0 0 7px;
	text-align: left;
}

.pkl-close-button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 25px;
    height: 15px;
    background: url("../images/sprite.png") no-repeat scroll 0 -300px transparent;
    cursor: pointer;
}

.pkl-actions-subheader {
	padding: 5px 10px;
}

.pkl-actions-subheader input[type="text"].pkl-filter-field {
	width: 46.5%;
}

.pkl-actions-subheader .search-button {
	background-image: none;/* if not removed, there will be an spyglass icon inside */
	background-color: #efefef;
	padding: 1px;
}

.pkl-actions-subheader .search-button:hover {
	background-image: none;
}

.pkl-body {
	padding: 5px 10px;
}

.pkl-body:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pkl-body-panel {
	display: inline-block;
	width: 46%;
	height: 100%;
  	padding: 3px;
	border: 1px solid #888888;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
	-khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset;
  	overflow-x: hidden;
  	overflow-y: scroll;
}

.pkl-left-panel {
	float: left;
}

.pkl-left-panel.single-list {
  	width: 99%;
}

.pkl-right-panel {
	float: right;
}

.pkl-collect-buttons {
  	float: left;
  	width: 20px;
  	height: 100%;
  	position: relative;
}

.pkl-collect-buttons:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pkl-collect-buttons span {
  	position: absolute;
  	padding: 4px;
  	margin-left: 6px;
  	border: 1px solid #aaaaaa;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  	background: #ffffff; /* Old browsers */
  	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.pkl-collect-buttons .add-all-button {
  top: 43%;
}

.pkl-collect-buttons .remove-all-button {
  top: 55%;
}

.pkl-footer {
	position: absolute;
	bottom: 0px;
	padding: 10px 0;
	width: 100%;
	border-top: 1px solid #c4c5c5;
	margin: 0 auto;
	text-align: center;
}

.pkl-clickable-mask {
 	 cursor: pointer;
}

.pkl-items-list {
  	margin: 0;
}

.pkl-items-list dt {
  	position: relative;
  	padding: 3px 0;
  	border-bottom: 1px dotted #888888;
}

.pkl-items-list dt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pkl-items-list dt:nth-child(even) {
  	background-color: #EDF5FF;
}

.pkl-items-list dt:nth-child(odd) {
 	background: #FFFFFF;
}

.pkl-items-list dt .item-data {
    float: left;
}
.pkl-items-list .item-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
    margin: 5px;
}
.pkl-items-list dt .item-icon.user-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background-image: url("../images/user-icon-32.png");
}

.pkl-items-list dt  .item-icon img {
	width: 32px;
	height: 32px;
}

.pkl-items-list dt .item-icon.group-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background-image: url("../images/group-icon-32.png");
}
.pkl-items-list dt .item-data span {
  	display: block;
}

.pkl-items-list dt .item-select,
.pkl-items-list dt .item-remove  {
	display: block;
  	float: right;
  	width: 11px;
  	height: 11px;
  	position: absolute;
  	top: 50%;
  	right: 5px;
  	cursor: pointer;
	background-repeat: no-repeat;
}

.pkl-items-list dt .item-select {
	background-image: url("../images/glyphicons_halflings_097_plus.png");
  	margin-top: -6px;
}

.pkl-items-list dt .item-remove  {
	background-image: url("../images/glyphicons_halflings_098_minus.png");
	margin-top: -2px;
}

.pkl-selected-items-preview {
  	display: none;
  	padding-left: 30%;
}

.pkl-selected-items-preview .item-data {
  	display: block;
}


