<!DOCTYPE html>
<html>
<head>
    <script src="/jspm_packages/es6-module-loader.js"></script>
    <script src="/jspm_packages/system.js"></script>
    <script src='/build/config.js'></script>
    <script src="/build/common/lib/plugin-registry.js"></script>
    <script src="/build/plugins.js"></script>
    <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
    bootstrapSandbox({
        paths: {
            'tabs.stub': '/sandbox/components/tabs/tabs.stub.js',
            'tabs.stub.html': '/sandbox/components/tabs/tabs.stub.html'
        },
        modules: ['tabs.stub', 'style/main.css!css']
    });
</script>
<seip-tabs-stub></seip-tabs-stub>
</body>
</html>