.create-comment-dialog {
  .panel {
    margin-bottom: 0;
  }
  .cke_contents {
    @media (max-height: 500px) {
      max-height: 100px;
    }

    @media(min-height: 500px) {
      max-height: calc(50vh - 150px);
    }
  }
}