@import "../../../style/variables";
@import "./management-variables";

// Forms
.model-form.form-horizontal {
  .model-attribute-view {
    margin-top: $default-gap;
    margin-bottom: $default-gap;

    > label {
      text-align: left;
      padding-top: 0;
    }
  }
}

// Panels
.panel {
  .panel-heading {
    cursor: pointer;

    .panel-caret {
      padding-right: $default-gap;
    }
  }
}

// Controls
button.btn-borderless {
  padding: 0;
  border: none;
  background: none;

  &:focus, &:active {
    border: none;
  }
}