<div class="model-field-control-view" ng-class="[modelFieldControlView.extension.type, {'dirty-model': modelFieldControlView.isDirty()}]">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="model-header" label-hint hint-visible="true"
            hint-text="::modelFieldControlView.controlTooltip">
        <span class="header-label">{{ modelFieldControlView.controlLabel }}</span>
      </span>
      <ng-transclude class="pull-right user-controls"></ng-transclude>
    </div>

    <!-- Control extensions will be appended here as panel body. If the extension don't have view then an empty tag should be rendered instead of panel body! -->
  </div>
</div>