@import '../../../style/mixins';

.video-player-wrapper {
  background-color: #000000;

  video {
    @include content-max-height();
    width:100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .message {
    background-color: #fff;
  }
}
