@mixin bpmn {
  .djs-container {
    height: inherit;
    width: inherit;
    display: block;
    overflow: visible !important;

    svg {
      overflow: visible;
      transform-origin: 0 0;
      display: inline;

      .highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
        fill: #66ff66 !important;
        /* color elements as green */
      }
    }
  }
}