@import "bpmn-basic";

.bpmn-process {
  .process-toolbar {
    display: flex;
    justify-content: flex-end;
  }

  .bpm-holder {
    @include bpmn();
    svg {
      height: 350px !important;
    }
  }
}

@media print {
  .bpmn-process {
    .process-toolbar {
      visibility: hidden;
    }
  }
  .bjs-container > a {
      visibility: hidden;
  }
}