.widget.widget-checkbox .widget-body-wrapper label > input{
	vertical-align: top;
}

.checkbox-widget-config, .checkbox-widget-config > div {
	width: 100%;
	height: 100%;
}

.checkbox-widget-config .configured-checkboxes {
	height: 80%;
	margin-top: 10px;
	overflow-y: auto;	
}

.checkbox-widget-config .add-checkbox-wrapper {
	height: 10%;
}
