<div class="container">
  <div class="row" id="row1">
    <div class="col-md-4">
      <seip-select id="seip-multiple-select"
                   style="width: 100%;"
                   data-config="{tags:true, data: [{ id: 1, text: 'Option 1' },{ id: 2, text: 'Option 2' },{ id: 3, text: 'Option 3' }], multiple: true}"
                   ng-model="select.model">
      </seip-select>
    </div>
    <div class="col-md-4">{{select.model}}</div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <seip-select id="seip-single-select"
                   data-config="selectStub.selectConfig"
                   ng-model="selectStub.selectModel">
      </seip-select>
    </div>
    <div class="col-md-4"><input type="text" ng-model="selectStub.selectModel"></div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <seip-resource-select id="seip-resource-select"
                            data-config="selectStub.resourceSelectConfig"
                            ng-model="selectStub.resourceSelectModel">
      </seip-resource-select>
    </div>
    <div class="col-md-4"><input type="text" ng-model="selectStub.resourceSelectModel"></div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <seip-select id="seip-single-select_default_to_single"
                   data-config="selectStub.selectDefaultToSingleConfig"
                   ng-model="selectStub.defaultToSingleModel">
      </seip-select>
    </div>
    <div class="col-md-4" id="seip-single-select_default_to_single_value">{{ selectStub.defaultToSingleModel }}</div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <seip-select id="seip-single-select_default_to_first"
                   data-config="selectStub.selectDefaultToFirstConfig"
                   ng-model="selectStub.defaultToFirstModel">
      </seip-select>
    </div>
    <div class="col-md-4" id="seip-single-select_default_to_first_value">{{ selectStub.defaultToFirstModel }}</div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
      <seip-select id="seip-single-select_reload_on_data_change"
                   data-config="selectStub.reloadOnDataChangeConfig"
                   ng-model="selectStub.reloadOnDataChangeModel">
      </seip-select>
    </div>

    <div class="col-md-1">
      <button id="reload-button" class="btn btn-default" ng-click="selectStub.reloadData()">Reload</button>
    </div>

    <div class="col-md-4" id="seip-single-select_reload_on_data_change_value">{{ selectStub.reloadOnDataChangeModel }}</div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <seip-select id="small_select" class="small-select" config="selectStub.selectConfig">
      </seip-select>
    </div>
  </div>
  <br>
</div>