<div class="dropdown model-language-select">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="modelLanguageSelectButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
    {{ modelLanguageSelect.getSelectedLanguage() }}
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
    <li ng-repeat="(language, label) in modelLanguageSelect.availableLanguages" class="menu-item" ng-class="language">
      <a role="menuitem" href="javascript:void(0)" ng-click="modelLanguageSelect.onLanguageSelected(language)">
        {{ ::label }}
      </a>
    </li>
  </ul>
</div>