@import '../../../style/variables';

.pie-chart-wrapper {
  .arc text {
    z-index: 10;
    opacity: .6;
    text-anchor: middle;
  }

  .arc:hover text {
    display: block;
    opacity: 1.0;
    font-weight: bold;
    text-anchor: middle;
  }

  .arc path {
    stroke: none;
  }
}
