@import "../../../../style/mixins";
@import "../../../../style/variables";
@import "../../style/management-mixins";

.model-container {

  .container-header {
    padding: $default-gap $default-gap * 2 !important;

    > .fa {
      width: 1em;
    }

    .container-label {
      flex-grow: 1;

      .container-parent {
        font-size: 75%;
        color: $link-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      @include highlighted-model;

      .container-buttons {
        visibility: visible;
      }
    }
  }

  .container-buttons {
    visibility: hidden;
  }
}