<div class="model-codevalue-attribute">
  <model-select-attribute ng-if="::modelCodeValueAttribute.selectConfig"
                          config="::modelCodeValueAttribute.selectConfig"
                          context="modelCodeValueAttribute.context"
                          editable="modelCodeValueAttribute.editable"
                          attribute="modelCodeValueAttribute.attribute"
                          on-change="modelCodeValueAttribute.onValue()"></model-select-attribute>
</div>