@import "../../style/reusables";
@import "../../style/variables";

.browse-libraries {
  padding-top: $default-gap;
  padding-left: 0.5em;
  padding-right: 0.5em;

  .filter-row {
    @include make-row(0);
    margin-bottom: $default-gap;
  }

  .filter-field {
    @include make-lg-column(6, 0);
    @include make-sm-column(12, 0);
    @include make-md-column(6, 0);

    > input {
      width: 100%;
      height: 32px;
      text-overflow: ellipsis;
    }

    @media(min-width: 768px) {
      padding-left: 0.5em;
    }
  }

}