<div class="container">
    <h3>Pagination component</h3>

    <div class="row" id="two-pages-no-buttons">
        <div class="col-md-6">
            <label>30 results, 25 results per page and without first + last buttons</label>
            <seip-pagination total="paginationStub.twoPagesNoButtons.total"
                             config="paginationStub.twoPagesNoButtons.config"
                             callback="paginationStub.twoPagesNoButtons.callback"></seip-pagination>
        </div>
    </div>

    <br/>

    <div class="row" id="two-pages">
        <div class="col-md-6">
            <label>30 results & 25 results per page</label>
            <seip-pagination total="paginationStub.twoPagesResults.total"
                             config="paginationStub.twoPagesResults.config"
                             callback="paginationStub.twoPagesResults.callback"></seip-pagination>
        </div>
    </div>

    <br/>

    <div class="row" id="multiple-pages">
        <div class="col-md-6">
            <label>375 results and 50 results per page</label>
            <seip-pagination total="paginationStub.multipleResults.total"
                             config="paginationStub.multipleResults.config"
                             callback="paginationStub.multipleResults.callback"></seip-pagination>
        </div>
    </div>
</div>