.user-activity-entry {

  display: flex;
  align-items: center;

  background-image: none;
  background-color: #fbfbfb;
  border: 1px solid #dddddd;

  &.well {
    padding: 5px;
    margin: 0;
  }

  .activity-details {
    padding-left: 5px;

    .activity-text > span > img {
      margin-bottom: 0.5em;
    }
  }
}