<!DOCTYPE html>
<html>
<head>
  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    modules: ['components/collapsible/collapsible', 'font-awesome', 'style/main.css!']
  });
</script>
<br>
<div>
  <div class="form-group panel panel-default">
    <div class="panel-body">
      <seip-collapsible id="first-section-collapse" target="'#first-section'"
                        label="'First section'"></seip-collapsible>
      <div id="first-section" class="collapse">Content 1</div>
    </div>
  </div>

  <div class="form-group panel panel-default">
    <div class="panel-body">
      <seip-collapsible id="second-section-collapse" target="'#second-section'"
                        label="'Second section'"></seip-collapsible>
      <div id="second-section" class="collapse in">Content 2</div>
    </div>
  </div>

  <div class="form-group panel panel-default">
    <div class="panel-body">
      <seip-collapsible id="third-section-collapse" target="'#third-section'"
                        label="'Third section'"></seip-collapsible>
    </div>
  </div>

</div>
</body>
</html>
