.account-confirmation {

  width: 600px;

  .form-group {
    label {
      width: 100%;
    }

    .form-field-wrapper {
      width: 100%;
      .form-field {
        margin-right: 0 !important;
      }
    }
  }

  .finish-btn {
    margin-top: 10px;
  }

}