@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/tinos/tinos-regular.eot');
  src: local('Tinos Regular'), local('Tinos-Regular'),
  url('/fonts/tinos/tinos-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/tinos/tinos-regular.woff2') format('woff2'),
  url('/fonts/tinos/tinos-regular.woff') format('woff');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/tinos/tinos-italic.eot');
  src: local('Tinos Italic'), local('Tinos-Italic'),
  url('/fonts/tinos/tinos-italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/tinos/tinos-italic.woff2') format('woff2'),
  url('/fonts/tinos/tinos-italic.woff') format('woff');
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/tinos/tinos-bold.eot');
  src: local('Tinos Bold'), local('Tinos-Bold'),
  url('/fonts/tinos/tinos-bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/tinos/tinos-bold.woff2') format('woff2'),
  url('/fonts/tinos/tinos-bold.woff') format('woff');
}

@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/tinos/tinos-bolditalic.eot');
  src: local('Tinos Bold Italic'), local('Tinos-BoldItalic'),
  url('/fonts/tinos/tinos-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/tinos/tinos-bolditalic.woff2') format('woff2'),
  url('/fonts/tinos/tinos-bolditalic.woff') format('woff');
}
