@import "../../../../style/mixins";

.datatable-header-create-item {

  button.create-item-button {
    @include widget-header-button();
  }

  .fa-stack {
    position: relative;
  }

  .fa-sm {
    top: 1px;
    transform: scale(0.75, 0.75);
  }

}
