.notifyme {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #888888;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #363636;
	z-index: 1001;
}

.notifyme .notifyme-header,
.notifyme .notifyme-footer {
	background-color: #E3EBEC;
}

.notifyme .notifyme-header {
	position: relative;
	padding: 10px 5px;
	border-bottom: 1px solid #c4c5c5;
	color: #515D6B;
	font-size: 13px;
	font-weight: bold;
}

.notifyme .notifyme-header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.notifyme .notifyme-icon {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 0px;
}

.notifyme .notifyme-header-title {
	display: inline-block;
	float: left;
	padding: 0 0 0 7px;
	text-align: left;
}

.notifyme .notifyme-close-button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 25px;
    height: 15px;
    background: url("../images/sprite.png") no-repeat scroll 0 -300px transparent;
    cursor: pointer;
}

.notifyme .notifyme-content {
	display: inline-block;
	width: 100%;
	height: 100%;
  	margin: 5px;
  	text-align: left;
}

.notifyme .notifyme-footer {
	width: 100%;
	padding: 5px 0;
	margin: 0 auto;
	border-top: 1px solid #c4c5c5;
	text-align: center;
}

.notifyme .notifyme-footer-buttons input {
	
}

/* top position */
.notifyme.top {
	box-shadow: 0px 2px 2px #CCCCCC;
	-moz-box-shadow: 0px 2px 2px #CCCCCC;
	-webkit-box-shadow: 0px 2px 2px #CCCCCC;
	-khtml-box-shadow: 0px 2px 2px #CCCCCC;
}

.notifyme.top.notifyme-round-corners {
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-ms-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
}

/* bottom position */
.notifyme.bottom {
	box-shadow: 0px -2px 2px #CCCCCC;
	-moz-box-shadow: 0px -2px 2px #CCCCCC;
	-webkit-box-shadow: 0px -2px 2px #CCCCCC;
	-khtml-box-shadow: 0px -2px 2px #CCCCCC;
}

.notifyme.bottom.notifyme-round-corners {
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
}

/* center position */
.notifyme.center {
	box-shadow: 2px 2px 2px #CCCCCC;
	-moz-box-shadow: 2px 2px 2px #CCCCCC;
	-webkit-box-shadow: 2px 2px 2px #CCCCCC;
	-khtml-box-shadow: 2px 2px 2px #CCCCCC;
}

.notifyme.center.notifyme-round-corners {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}

.notifyme.center .notifyme-content {
	/*margin-top: 25px;
	padding: 0px 5px 5px 5px;*/
}

/* bottomRight position */
.notifyme.bottomRight {
	box-shadow: 2px 2px 2px #CCCCCC;
	-moz-box-shadow: 2px 2px 2px #CCCCCC;
	-webkit-box-shadow: 2px 2px 2px #CCCCCC;
	-khtml-box-shadow: 2px 2px 2px #CCCCCC;
}

.notifyme.bottomRight.notifyme-round-corners {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
}

.notifyme.bottomRight .notifyme-content {
	margin-top: 25px;
	padding: 0px 5px 5px 5px;
}

/* info message */
.notifyme.info-message .notifyme-header,
.notifyme.info-message .notifyme-footer {
	background-color: #E3EBEC;
}
.notifyme.info-message .notifyme-icon {
	background: url("../css/notifyme/img/info-icon.png");
}

/* ok message */
.notifyme.ok-message .notifyme-header,
.notifyme.ok-message .notifyme-footer {
	background-color: #D0FCB0;
}
.notifyme.ok-message .notifyme-icon {
	background: url("../css/notifyme/img/ok-icon.png");
}

/* error message */
.notifyme.error-message .notifyme-header,
.notifyme.error-message .notifyme-footer {
	background-color: #F4A4A4;
}
.notifyme.error-message .notifyme-icon {
	background: url("../css/notifyme/img/error-icon.png");
}

/* warn message */
.notifyme.warn-message .notifyme-header,
.notifyme.warn-message .notifyme-footer {
	background-color: #FFE2BA;
}
.notifyme.warn-message .notifyme-icon {
	background: url("../css/notifyme/img/warning-icon.png");
}

/* fatal message */
.notifyme.fatal-message .notifyme-header,
.notifyme.fatal-message .notifyme-footer {
	background-color: #8E8E8E;
	color: #ffffff;
}
.notifyme.fatal-message .notifyme-icon {
	background: url("../css/notifyme/img/fatal-icon.png");
}

.notifyme.hidden-icon .notifyme-icon {
	display: none;
}

.notifyme.no-close-btn .notifyme-close-btn {
	display: none;
}

.notifyme-message {
	position: relative;
}

.notifyme-close-btn {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 1px;
	right: 2px;
	border: 1px solid transparent;
	cursor: pointer;
	background: url("../css/notifyme/img/glyphicons_halflings_013_remove.png");
}

.notifyme-close-btn:hover {
	border: 1px solid #CCCCCC;
	border: 1px solid transparent;
}

