/* =============================================================================
		   			-- Objects module styles --
   ========================================================================== */
   
.notifyme .section-picker .check-column,
.notifyme .section-picker .icon-column {
	width: 30px;
}

.top-header .main-menu .objects-library {
	background: url("../images/objectslibrary-icon-24.png") no-repeat center 2px;
}

.object-type-toolbar .item-selector-panel .selector-label {
    width: auto;
}