atlassian-ide-plugin.xml
bin/
catalog-v001.xml
.checkstyle
.classpath
.externalToolBuilders/
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
node_modules/
*.patch
.project
.settings/
.sonar-ide.properties
target/
test-output/
*.iml
*.eml