@import "../../../../style/reusables";
@import "../../../../style/mixins";

.table-view {

  .table-footer {
    text-align: left;
    padding: 6px 0 6px 15px;
  }

  .table-header {
    display: flex;
    width: 100%;

    > .header-cell {
      display: flex;
      flex-grow: 1;
      min-width: $aggregated-table-column-min-width;
      border-right: 1px solid $table-border-color;
      border-bottom: 2px solid $table-border-color;
      background-color: $color-darker-tone-05;

      .title-cell {
        display: flex;
        padding: 10px 12px;
        width: 100%;

        span {
          @include word-wrap();
        }
      }
    }

    > div:last-child {
      border-right: none;
      .ui-resizable-handle {
        width: 0;
      }
    }
  }

}
