@CHARSET "UTF-8";

.top-buffer {
    margin-top: 20px;
}

.models {
    min-height: 100px !important;
}

.scrollable-menu {
    max-height: 250px;
    overflow-x: hidden;
}

div.required:after {
    content: "*";
    color: red;
}

.panel-heading:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
}

.panel-heading.collapsed:after {
    content: "\e080";
}