.resources-table {

  table {

    caption {
      border: 1px solid #ddd;
      color: #000;
      font-weight: bold;
      padding: 10px;

      .table-header {
        float: left;
      }

      .table-actions {
        float: right;
      }
    }

    tr {
      th {
        padding: 10px;
      }

      td {
        min-width: 200px;
        vertical-align: middle;

        .edit-link {
          float: left;
        }
      }
    }

    .table-actions {
      .config-btn {
        border: none;
        background: none;
      }
    }
  }

}