<div class="modal fade seip-modal" ng-class="::dialogConfig.modalCls" tabindex="-1">
  <div class="modal-dialog" ng-class="::{'modal-lg':dialogConfig.largeModal}">
    <div class="modal-content">
      <div class="modal-header" ng-show="dialogConfig.showHeader" ng-class="::dialogConfig.headerCls">
        <h4 class="modal-title" ng-bind-html="::dialogConfig.header | translate | toTrustedHtml"></h4>
        <span class="modal-options">
          <span ng-if="::dialogConfig.warningMessage" class="option-alert alert pull-left">
            <i class="fa fa-info-circle"></i>
            <span class="alert-message"
                  data-html="true"
                  data-trigger="hover"
                  data-container="body"
                  data-toggle="popover"
                  data-title="{{::dialogConfig.warningPopover.title}}"
                  data-placement="{{::dialogConfig.warningPopover.placement}}"
                  data-content="{{dialogConfig.warningPopover.body}}">{{::dialogConfig.warningMessage}}</span>
          </span>

          <seip-contextual-help ng-if="::dialogConfig.helpTarget"
                                class="option-help"
                                target="::dialogConfig.helpTarget">
          </seip-contextual-help>

          <button ng-if="::dialogConfig.showClose"
                  type="button" class="close"
                  ng-click="dialogConfig.dismiss(true)">&times;
          </button>
        </span>
      </div>
      <div class="modal-body">{body}</div>
      <div class="modal-footer" ng-if="::dialogConfig.buttons">
        <button ng-repeat="button in ::dialogConfig.buttons" type="button"
                class="btn btn-sm seip-btn-{{::button.id.toLowerCase() | removeWhitespaces}}"
                ng-disabled="button.disabled"
                ng-class="::button.cls === undefined?'btn-default':button.cls"
                data-dismiss="{{::button.dismiss ? 'modal' : ''}}"
                ng-click="button.onButtonClick(button.id, this.$parent.$parent.$$childHead, dialogConfig, $event); button.onButtonClick === undefined ? dialogConfig.onButtonClick(button.id, this.$parent.$parent.$$childHead, dialogConfig, $event) : noop()"
                data-id="::button.id"
                ng-bind-html="::button.label | translate | toTrustedHtml">
        </button>
      </div>
    </div>
  </div>
</div>