@import "../../style/reusables";

.seip-modal {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.error {
      background-color: $state-danger-bg;
      color: $state-danger-text;
    }

    &.notification {
      background-color: $state-success-bg;
      color: $state-success-text;
    }

    &.confirmation {
      background-color: $state-info-bg;
      color: $state-info-text;
    }

    &.ui-draggable-handle {
      cursor: move;
    }

    .modal-options > * {
      padding-left: 0.5em;
    }
  }
}

.modeless {
  overflow: visible;
  height: 1px;
}

@media only screen and (min-width: 768px) {
  .seip-modal {
    text-align: center;
    &:before {
      display: inline-block;
      content: " ";
    }
    .modal-dialog {
      display: inline-block;
      text-align: left;
    }
    &.fade .modal-dialog {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &.fade.in .modal-dialog {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}

