$elements-gap: 0.5em;

.seip-code-lists-upload {
  margin: 1em auto;

  .btn {
    margin-right: $elements-gap;
  }

  .file-upload-field {
    display: none;
  }

  .upload-status {
    margin-top: $elements-gap;
  }
}