<div class="tenant-configuration">

  <div class="input-group filter-box">
    <input type="text" class="form-control filter-input"
           ng-model="tenantConfiguration.filterKeyWord"
           ng-keypress="tenantConfiguration.filterOnEnter($event)"
           placeholder="{{ ::'administration.tenant.filter.placeholder' | translate }}">
   <span class="input-group-btn">
     <button class="btn btn-primary filter-button" type="button"
             ng-click="tenantConfiguration.filterConfigurations()">
       {{ ::'administration.tenant.filter.button' | translate }}
     </button>
   </span>
  </div>

  <seip-form-wrapper ng-if="tenantConfiguration.formReady"
                     config="tenantConfiguration.wrapperConfig"
                     form-config="tenantConfiguration.formConfig"></seip-form-wrapper>
  <div class="form-group pull-right">
    <button class="btn btn-primary save-button"
            ng-disabled="!tenantConfiguration.isFormValid()"
            ng-click="::tenantConfiguration.saveModifiedConfigurations()">
      {{ ::'administration.tenant.button.save' | translate }}
    </button>
    <button class="btn btn-default cancel-button"
            ng-click="::tenantConfiguration.cancelConfigurationChanges()">
      {{ ::'administration.tenant.button.cancel' | translate }}
    </button>
  </div>
</div>