@import "../../style/reusables";

.widget {

  .widget-header {

    &.panel-heading {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-left: 0;
    }

    @include internet-explorer-11() {
      padding-top: 0px;
    }

    .widget-icon {
      flex-basis: 32px;
      text-align: center;
    }

    .widget-title-input {
      border: 1px solid #66afe9;
      outline: none;
      cursor: text;
    }
    .widget-title-input:not(:focus):hover {
      outline: 1px solid #66afe9;
    }
    .widget-title-input:not(:focus) {
      border: 1px none #ffffff;
      background-color: transparent;
      font-weight: bold;
      cursor: pointer;
    }

    & .widget-title:first-child {
      padding-left: 15px;
    }

    .widget-title {
      flex-grow: 1;
      font-size: 14px;

      &.input-group {
        display: inline;
        padding-right: 5px;

        input {
          position: relative;
          top: -1px;
          width: 100%;
          height: 29px;
          line-height: 29px;
        }
      }
    }

    .widget-actions {
      button {
        float: left;
        width: 30px;
        height: 33px;
        padding: 0;
        border: none;
        border-left: 1px solid #e0e0e0;
        background: none;

        &:hover {
          background-color: rgba(0, 0, 0, .05);
        }
      }
    }
  }

  .message {
    text-align: center;

    &.error {
      color: $state-danger-text;
    }
  }
}

.widget, .widget-wrapper {
  user-modify: read-only;
  user-select: none;
}

.panel {
  &.no-border {
    border: none;
    box-shadow: none;

    .panel-heading {
      display: none;
    }
  }
}