@import "../../../../style/variables";
@import "../../../../style/mixins";

.model-attribute-view {
  display: flex;

  > label {
    font-weight: normal;
    @include word-wrap();
  }

  .control-label {
    flex: 0 0 25%;
  }

  .control-data {
    padding-right: $default-gap;
  }

  .controls {
    display: flex;

    > * {
      height: 75%;
      margin-right: $default-gap;
      transform: translate(0%, 15%);
    }
  }
}

