<div class="loading-box" ng-show="httpRequestsIndicator.loadingComponentVisible">
  <div class="loading-component-transition"></div>
  <div id="loadingDot_1" class="loadingDot"></div>
  <div id="loadingDot_2" class="loadingDot"></div>
  <div id="loadingDot_3" class="loadingDot"></div>
  <div id="loadingDot_4" class="loadingDot"></div>
  <div id="loadingDot_5" class="loadingDot"></div>
  <div id="loadingDot_6" class="loadingDot"></div>
  <div id="loadingDot_7" class="loadingDot"></div>
  <div id="loadingDot_8" class="loadingDot"></div>
</div>