<div class="role-actions-table">

  <div class="role-actions-table-header">
    <seip-contextual-help class="pull-right" target="'administration.actions.per.role'"></seip-contextual-help>

    <div class="role-actions-table-toolbar">
      <div class="role-actions-table-filter">
        <seip-input-filter ng-if="roleActionsTable.filterConfig"
                           config="::roleActionsTable.filterConfig"
                           ng-model="roleActionsTable.filterAction"></seip-input-filter>
      </div>

      <div class="role-actions-table-actions">
        <span class="input-group-btn" ng-if="!roleActionsTable.editMode">
          <button class="btn btn-sm btn-default edit-btn"
                  ng-click="roleActionsTable.edit()">
            {{ ::'administration.role.actions.table.edit.btn' | translate }}
          </button>
        </span>
        <span class="input-group-btn" ng-if="roleActionsTable.editMode">
          <button class="btn btn-sm btn-primary save-btn"
                  ng-disabled="roleActionsTable.isSaving"
                  ng-click="roleActionsTable.save()">
            {{ ::'administration.role.actions.table.save.btn' | translate }}
          </button>
          <button class="btn btn-sm btn-default cancel-btn"
                  ng-disabled="roleActionsTable.isSaving"
                  ng-click="roleActionsTable.cancelEditAndInitialize()">
            {{ ::'administration.role.actions.table.cancel.btn' | translate }}
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="table-responsive role-actions-table-view">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th rowspan="2">{{::'administration.role.actions.table.action.header' | translate}}</th>
        <th colspan="2" ng-repeat="role in roleActionsTable.roles">
          {{role.label}}
        </th>
      </tr>
      <tr>
        <th ng-repeat-start="role in roleActionsTable.roles">
          {{::'administration.role.actions.table.active.header' | translate}}
        </th>
        <th ng-repeat-end class="filters-header">
          {{::'administration.role.actions.table.filter.header' | translate}}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr id="{{action.id}}"
          ng-repeat="action in roleActionsTable.actions | filter: { label: roleActionsTable.filterAction }">
        <td class="action-label">
          {{action.label}}
        </td>
        <td ng-repeat-start="role in roleActionsTable.roles" ng-class="role.id">
          <div class="action-active">
            <label class="checkbox" ng-class="{'state-disabled': !roleActionsTable.editMode}">
              <input type="checkbox"
                     ng-disabled="!roleActionsTable.editMode"
                     ng-model="roleActionsTable.roleActionsModel[role.id][action.id].enabled"
                     ng-click="roleActionsTable.activateFilter(role.id, action.id)">
              <i></i>
            </label>
          </div>
        </td>
        <td ng-repeat-end>
          <div class="filters-cell">
            <div class="filters-box {{role.id + action.id}}-box"
                 ng-if="!roleActionsTable.filterActivated(role.id, action.id)"
                 ng-click="roleActionsTable.activateFilter(role.id, action.id, true)">
              <ul class="filters-list">
                <li class="filter-item"
                    ng-if="roleActionsTable.roleActions[role.id][action.id].filters"
                    ng-repeat="filter in roleActionsTable.roleActions[role.id][action.id].filters">
                  {{filter}}
                </li>
                <li class="filter-item-placeholder"
                    ng-if="!roleActionsTable.roleActions[role.id][action.id].filters || roleActionsTable.roleActions[role.id][action.id].filters.length === 0">
                  {{::'administration.role.actions.table.action.filters.placeholder' | translate}}
                </li>
              </ul>
            </div>

            <seip-select class="{{role.id + action.id}}-select"
                         ng-if="roleActionsTable.editMode && roleActionsTable.filterActivated(role.id, action.id)"
                         config="roleActionsTable.filtersSelectConfig"
                         ng-model="roleActionsTable.roleActionsModel[role.id][action.id].filters"></seip-select>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>