<!DOCTYPE html>
<html>
<head>
  <title>SandBox: Mixed search criteria</title>
  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    modules: ['style/main.css!', 'font-awesome', 'sandbox/search/components/common/mixed-search-criteria/mixed-search-criteria.stub']
  });
</script>

<mixed-search-criteria-stub></mixed-search-criteria-stub>

</body>
</html>