<div>

    <button class="initA" ng-click="splitterStub.initA()">InitA</button>

    <div seip-splitter config="splitterStub.configA" style="height:200px;width:800px;border:1px solid red;">
        <div id="paneA1" class="split split-horizontal">
            <div><p>A1</p></div>
        </div>
        <div id="paneA2" class="split split-horizontal">
            <p>A2</p>
        </div>
        <div id="paneA3" class="split split-horizontal">
            <p>A3</p>
        </div>
    </div>

    <br/>

    <button class="initB" ng-click="splitterStub.initB()">InitB</button>
    <button class="destroyB" ng-click="splitterStub.destroyB()">DestroyB</button>

    <div seip-splitter config="splitterStub.configB" style="height:200px;width:100%;border:1px solid red;">
        <div id="paneB1" class="split split-horizontal">
            <p>B1</p>
        </div>
        <div id="paneB2" class="split split-horizontal">
            <p>B2</p>
        </div>
    </div>

</div>