@import "../../../../style/reusables";
@import "../../../../style/variables";

.image-comments {
  position: relative;
  width: 100%;

  .image-comments-section.panel {
    border: none;
    box-shadow: none;
  }

  .comments-filter {
    margin-left: 10px;
    width: 32px;
    float: left;
  }

  .filtered {
    //Same as the locked label's color
    background-color: #f0ad4e !important;
    opacity: 0.85;
    margin-top: 10px;
  }

  .comments {
    width: auto;
    min-height: 50px;
    margin-left: 42px;

    .comment {
      .expanded {
        cursor: pointer;
      }
      .comment-description {
        margin-right: 5px;
        word-break: normal;
      }
      .comment-replies {
        .comment {
          position: relative;
          border-left: 0;
          margin: 0 0 0 -6px;
          background-color: $color-darker-tone-05;
        }
      }
    }
  }

  .comments-container {
    & ~ .comments-container {
      padding-top: 0;
    }
  }
}