@import "../../style/variables";

.role-actions-table {

  .role-actions-table-header {
    margin: 1em auto;

    .role-actions-table-toolbar {
      clear: both;
      display: flex;
      align-items: center;

      .role-actions-table-filter {
        // needed for IE, without set width the filter box takes all the space
        flex-basis: 92%;

        .filter-button {
          margin-right: 0.25em;
        }
      }

      .role-actions-table-actions {
        flex: 0 0;

        button {
          margin-left: 0.25em;
        }
      }
    }
  }

  .role-actions-table-view {

    table {
      thead {
        background-color: whitesmoke;

        th {
          text-align: center;
          vertical-align: middle;
        }
      }

      td {
        vertical-align: middle;

        .action-active {
          label {
            margin: 0;
            padding: 0;

            i {
              position: relative;
              top: 0;
              margin: 0 auto;
            }
          }
        }
      }

      .filters-header, .filters-cell {
        width: 220px;
      }

      .filters-box {
        border: 1px solid $disabled-field-border-color;
        overflow: hidden;

        .filters-list {
          list-style: none;
          margin: 0;
          padding: 0 5px 5px 5px;

          .filter-item {
            display: inline-block;
            margin-right: 5px;
            margin-top: 5px;
            background-color: #f0f0f0;
            border: 1px solid $disabled-field-border-color;
            color: $disabled-field-color;
            opacity: 0.8;
            padding: 0 5px;
          }

          .filter-item-placeholder {
            color: #b1a9a9;
            padding: 5px 5px 0 5px;
          }
        }
      }
    }

  }

}