<!DOCTYPE html>
<html>
<head>
  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/components/dropdown-menu/plugin-registry.stub.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
  <style>
    .position-simulation {
      position: absolute;
      top: 7px;
      left: 100px;
      width: 200px;
    }

    .test-container {
      margin-left: 25px;
      padding: 10px
    }
  </style>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    modules: ['font-awesome', 'style/main.css!', 'sandbox/components/dropdown-menu/dropdown-menu.stub']
  });
</script>
<div class="test-container">
  <dropdown-menu-stub></dropdown-menu-stub>
</div>
</body>
</html>