@import "../../../style/variables";

.mixed-search-criteria {
  .advanced-search-close-btn, .external-search-close-btn {
    padding-left: 1em;
  }

  .advanced-search-header, .external-search-header {
    padding-top: 13px;
    padding-bottom: 3px;
  }
}

.modal .object-selector {

  .mixed-search-criteria {
    padding-top: 0.5em;
  }

  > .inline-group {
    border-bottom: 1px solid $idoc-tabs-border-color;
  }
}