@import "../../../style/variables";

.order-toolbar {
  display: flex;
  align-items: center;

  .order-by {
    display: flex;

    .order-by-dropdown {
      min-width: 80px;
      text-align: left;
      font-size: $small-component-font-size;
    }

    .order-by-dropdown-menu {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;
      border-color: #66afe9;
      margin-top: 34px;
      position: fixed;
      left: auto;
      top: auto;

      .order-by-item:hover, .order-by-item:focus {
        color: #fff;
        background: $link-color;
      }

      .order-disabled {
        color: #999;
        cursor: not-allowed;
      }

      &:hover, &:focus {
        background-color: #fff;
        border-color: #66afe9;
      }
    }

    .order-by-option {
      color: #444;
    }

    .order-by-dropdown-button {
      top: 0;
      right: 0;
      background-color: #eee;
      border: 1px solid #ccc;

      .order-by-caret {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }

    button {
      border-radius: 0;
      box-shadow: none;
      background: #fff;
      height: $small-component-height;

      &:hover {
        background: #fff !important;
        border-color: #66afe9 !important;
      }
    }
  }

  .sort-by {
    height: $small-component-height;
    margin-left: $action-button-margin-left;
  }
}