<nav class="seip-pagination" ng-show="pagination.showPagination()">
    <ul class="pagination pagination-sm">
        <li class="first-page" ng-if="::pagination.showFirstLastButtons()"
            ng-class="{'disabled': pagination.disableFirstPageButton()}" ng-switch
            on="!pagination.disableFirstPageButton()">
            <a ng-switch-when="true" ng-click="pagination.goToPage(1)">
                {{::'search.pagination.first' | translate}}
            </a>
            <span ng-switch-default>{{::'search.pagination.first' | translate}}</span>
        </li>

        <li class="page" ng-repeat="page in pagination.pages" page="{{page}}" ng-switch on="pagination.config.disabled"
            ng-class="{'active' : pagination.page === page, 'disabled': pagination.config.disabled}">
            <a ng-switch-when="false" ng-click="pagination.goToPage(page)">{{page}}</a>
            <span ng-switch-default>{{page}}</span>
        </li>

        <li class="last-page" ng-if="::pagination.showFirstLastButtons()"
            ng-class="{'disabled': pagination.disableLastPageButton()}" ng-switch
            on="!pagination.disableLastPageButton()">
            <a ng-switch-when="true" ng-click="pagination.goToLastPage()">
                {{::'search.pagination.last' | translate}}
            </a>
            <span ng-switch-default>{{::'search.pagination.last' | translate}}</span>
        </li>
    </ul>
</nav>