@import "../../../style/mixins";

.modal .search-results {
  @include scrollable-area(60vh);
}

.fullscreen {
  .modal-dialog {
    width: 80% !important;
    height: 90% !important;
    .modal-content {
      .modal-body {
        .search-results {
          max-height: calc(100vh - 45vh);
        }
      }
    }
  }
}
