@import "../../../style/variables";
@import "../../../style/mixins";

.search-toolbar {
  left: 0;
  right: 0;

  width: 100%;
  display: flex;
  padding: 0.1em;
  @include border-bottom();

  .results-bar-wrapper {
    flex-grow: 1;
  }

  .order-bar-wrapper {
    height: $small-component-height !important;
  }
}