@import '../../../style/variables';

.line-chart-wrapper {
  .line-chart {
    .line {
      fill: none;
      stroke: #205081;
      stroke-width: 1px;
    }

    .overlay {
      fill: none;
      pointer-events: all;
    }

    .focus{
      circle {
        fill: #FFFFFF;
        stroke: #205081;
        stroke-width: 2px;
      }
    }
  }
}
