<div class="search-bar-options">
  <span class="options-header">
    <span class="saved-search-filter-wrapper">
      <input type="text"
             class="form-control saved-search-filter"
             title="{{ ::'search.bar.options.filter.input.title' | translate }}"
             ng-model="searchBarOptions.savedSearchFilter"
             ng-model-options="::{ debounce: { 'default': 500, 'blur': 0 } }"
             ng-change="::searchBarOptions.filterSavedSearches()"
             ng-keypress="searchBarOptions.onKeyPressed($event)"
             placeholder="{{ ::'search.options.saved.search.filter.placeholder' | translate}}">
    </span>

    <ol class="search-links breadcrumb">
      <li>
        <a class="advanced-mode" href="javascript:void(0)" ng-click="searchBarOptions.changeMode('advanced')">
          {{::'search.advanced' | translate}}
        </a>
      </li>
      <li ng-if="::searchBarOptions.renderExternalSearch()">
        <a class="external-mode" href="javascript:void(0)" ng-click="searchBarOptions.changeMode('external')">
          {{::'external.search.title.label' | translate}}
        </a>
      </li>
      <li>
        <seip-contextual-help target="'search'"></seip-contextual-help>
      </li>
    </ol>
  </span>

  <div class="saved-searches-list">
    <table class="table table-striped table-hover">
      <tr ng-repeat="search in searchBarOptions.savedSearches"
          ng-click="searchBarOptions.selectSavedSearch(search)">
        <td>
          <seip-static-instance-header config="::searchBarOptions.headerConfig"
                                       header-type="'breadcrumb_header'"
                                       header="::search.headers.breadcrumb_header">
          </seip-static-instance-header>
        </td>
      </tr>
    </table>
  </div>
</div>