@import "../../../style/variables";
@import "../../../style/mixins";

.search-context-menu {

  display: flex;
  flex-direction: column;

  .context-loader {
    padding: $default-gap;
  }

  .current-object-item-wrapper, .empty-recent-objects {
    width: 100%;
    padding: $default-gap $default-gap $default-gap 12px;
    @include media-font-size();
  }

  .recent-object-item-wrapper {
    width: 100%;
    padding: $default-gap;

    .instance-header {
      display: inline-flex;
    }
  }

  .table {
    margin-bottom: 0;
    // Prevents expansion of cells in case of long headers
    table-layout: fixed;

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
