@import "../../../style/variables";
@import "../search-variables";

.search-bar-options {
  display: flex;
  flex-direction: column;

  .options-header {
    display: inline-flex;
    border-bottom: 1px solid $search-border-color;

    .saved-search-filter-wrapper {
      display: inline-flex;
      flex-grow: 1;
      padding: 2px;
    }

    .search-links {
      display: inline-flex;
      margin: 0;

      background-color: white;

      & > li:not(:first-of-type):before {
        content: '|'
      }
    }
  }

  .saved-searches-list {
    display: inline-block;
    flex-direction: column;

    .table {
      margin-bottom: 0;

      td {
        padding: $default-gap;
        cursor: pointer;
      }
    }
  }

}