<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- NOTE: In order the patching system to work the property should not be present into the configuration -->
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

		<property name="hibernate.show_sql">false</property>
		<!-- Comment formating of SQL 
		<property name="hibernate.format_sql">true</property>  
		-->
		<!-- Cache configuration -->
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		
		<!-- Enables creating a temporary session to fetch lazy collections
			 when no session is present into the same transaction -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
	</session-factory>
</hibernate-configuration>
