.bg {
	background-image: url(../img/background.jpg);
}

.InputAddOn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.InputAddOn-field {
    -webkit-box-flex: 1 !important; 
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
	border-radius: 5px 0 0 5px !important;
	margin-bottom: 0 !important;
}

.InputAddOn-item {
    background: #6a707b;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 0 5px 5px 0;
	font-size: 1.4rem;
}

.descriptionHeaderClass {
	text-align: center;
}

.descriptionHeaderWrapperClass {
	padding: 120px 10px 20px;
}

@media (max-width: 767px) {
	#kc-header {
		display: none;
	}
}

.alert {
    border-width: 1px;
    position: relative;
    word-wrap: break-word;
	padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 1px;
}

.alert-error {
    border-color: red;
}
.alert-warning {
	border-color: #ec7a08;
}
.fa-exclamation-triangle {
	color: #ec7a08;
}

.content-body {
	background: #515560;
    width: 500px;
    min-height: 300px;
	border-radius: 9px;
	padding: 20px 62px;
}

#kc-form-buttons {
    margin-top: 40px;
	margin-bottom: 20px;
}

.remberMeCheckbox {
	text-align: left;
}

.loginOptions {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; 
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box; 
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }

html { tap-highlight-color: rgba(0,0,0,0); }

body {
	-moz-osx-font-smoothing: grayscale; 
	 -webkit-font-smoothing: antialiased; 
			 font-smoothing: antialiased; 
	-webkit-text-size-adjust: none; 
		-ms-text-size-adjust: none; 
			text-size-adjust: none;
}

img,
iframe,
video,
audio,
object { max-width: 100%; }

img,
iframe { border: 0 none; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] {
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; 
	-webkit-overflow-scrolling: touch; 
			overflow-scrolling: touch; 
}

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; 
	-moz-osx-font-smoothing: grayscale; 
	 -webkit-font-smoothing: antialiased; 
			 font-smoothing: antialiased; 
}

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html { font-size: 10px; }

body { font: normal 400 1.4rem/1.54 'Open Sans', sans-serif; color: #777c86; background: #ebeff3; min-width: 320px; }

a { color: inherit; text-decoration: none; }

h1 {}
h2 { font-weight: 300; font-size: 2.5rem; line-height: 1; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h6 { font-weight: 400; }

h5,
h6 { font-size: 1.4rem; }

@media (max-width: 1199px) {
	h6 { font-size: 1.2rem; }
}
/* Mobile */
@media (max-width: 767px) {
	h2 { font-size: 2rem; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		 url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
		 url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		 url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		 url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Custom font */
@font-face {
	font-family: 'SEP Font';
	src: url('fonts/sep-font.eot?i52lgz');
	src: url('fonts/sep-font.eot?i52lgz#iefix') format('embedded-opentype'),
		 url('fonts/sep-font.ttf?i52lgz') format('truetype'),
		 url('fonts/sep-font.woff?i52lgz') format('woff'),
		 url('fonts/sep-font.svg?i52lgz#sep-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fs { font-size: 4rem; }
.fs-lg { font-size: 6rem; }
.fs-sm { font-size: 2.8rem; }

/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.cols { margin: -13px; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-webkit-flex-wrap: wrap; 
	   -moz-flex-wrap: wrap; 
	    -ms-flex-wrap: wrap; 
	     -o-flex-wrap: wrap; 
	        flex-wrap: wrap; 
}

.col { flex: 0 0 auto; width: 100%; padding: 13px; }
.col--1of2 { width: 50%; }
.col--1of3 { width: calc(100% / 3); }

@media (max-width: 1699px) {
	.col--1of3 { width: 50%; }
}
@media (max-width: 1199px) {
	.col--1of2,
	.col--1of3 { width: 100%; }
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/* Hidden */
.hidden { display: none; }

@media (max-width: 767px) {
	.hidden-mobile { display: none !important; }
}

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list"] { list-style: none; }

/* List Buttons */
.list-buttons > li { display: inline-block; vertical-align: middle; }
.list-buttons > li + li { margin-left: 7px; }

.list-buttons .dropdown .dropdown__body {
	-webkit-transform: translateY(3px); 
	    -ms-transform: translateY(3px); 
	     -o-transform: translateY(3px); 
	        transform: translateY(3px); 
}

@media (max-width: 479px) {
	.list-buttons > li,
	.list-buttons a { display: block; }
	
	.list-buttons > li + li { margin: 7px 0 0; }
	.list-buttons a { width: 100%; padding-right: 30px; padding-left: 30px; }
}

/* List Profile */
.list-profile li + li { margin-top: 7px; }
.list-profile span { text-align: right; width: 100px; }
.list-profile strong { color: #5c6c83; margin-left: 20px; }

.list-profile span,
.list-profile strong { display: inline-block; vertical-align: middle; }

@media (max-width: 479px) {
	.list-profile { font-size: 1.2rem; }

	.list-profile span { width: 70px; }
	.list-profile strong { margin-left: 5px; }
}

/* List Groups */
.list-groups { color: #5c6c83; }

.list-groups li + li { margin-top: 10px; }
.list-groups i { vertical-align: middle; color: #65c4e5; margin-right: 7px; }
.list-groups a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.list-groups a:hover { color: #65c4e5; }

/* List Filter */
.list-filters,
.list-filters ul { list-style: none; }

.list-filters ul { padding-top: 10px; }
.list-filters li { padding: 9px 15px 10px 38px; position: relative; z-index: 5; }
.list-filters i { position: absolute; top: 6px; left: 6px; }
.list-filters a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.list-filters a:hover { color: #57aac7; }

.list-filters .active { font-weight: 700; color: #57aac7; }

@media (max-width: 1439px) {
	.list-filters ul { padding-top: 10px; }
	.list-filters li { padding: 6px 10px 7px 38px; position: relative; z-index: 5; }
}

/* List Filter */
.list-filters--clean > li { padding-left: 0; }

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

/* Button */
.btn { display: inline-block; font-weight: 600; font-size: 1.4rem; line-height: 1.2; text-decoration: none; text-align: center; vertical-align: middle; color: #fff; background: #57aac7; border: 0; border-radius: 5px; padding: 12px 15px; 
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
	-webkit-transition: color .3s, background .3s; 
	     -o-transition: color .3s, background .3s; 
	        transition: color .3s, background .3s; 
}

.btn:hover,
.btn:focus,
.btn:active { background: #3588a5; }

/* Mobile */
@media (max-width: 767px) {
	.btn { padding: 10px 12px; }
}

/* Button Block */
.btn--block { display: block; width: 100%; }

/* Button Small */
.btn--small { font-weight: 400; padding: 9px 14px; }

/* Button Outline */
.btn--outline { color: #5c6c83; background: transparent; border: 1px solid #797b81; }

.btn--outline:hover,
.btn--outline:focus,
.btn--outline:active { color: #fff; background: #797b81; }

/* Button White */
.btn--white { font-weight: 400; color: #7f8ca0; background: #fff; }

.btn--white:hover,
.btn--white:focus,
.btn--white:active { color: #fff; }

/* Button Blue */
.btn--blue { background: #00bcd4; }

.btn--blue:hover,
.btn--blue:focus,
.btn--blue:active { background: #009ab2; }

/* Button Blue Medium */
.btn--blue-medium { background: #235784; }

/* Button Blue Dark */
.btn--blue-dark { background: #1d6fd7; }

/* Button Menu */
.btn-menu { display: inline-block; width: 18px; height: 12px; position: relative; z-index: 5; }

.btn-menu span,
.btn-menu span:before,
.btn-menu span:after { background: #fff; width: 100%; height: 2px; position: absolute; left: 0; }

.btn-menu span:before,
.btn-menu span:after { content: ''; 
	-webkit-transition: top .3s; 
	     -o-transition: top .3s; 
	        transition: top .3s; 
}

.btn-menu span { top: 50%; 
	-webkit-transform: translateY(-1px); 
	    -ms-transform: translateY(-1px); 
	     -o-transform: translateY(-1px); 
	        transform: translateY(-1px); 
	-webkit-transition: background .3s; 
	     -o-transition: background .3s; 
	        transition: background .3s; 
}
.btn-menu span:before { top: -5px; }
.btn-menu span:after { top: 5px; }

.btn-menu.active span:before,
.btn-menu.active span:after { top: 0; 
	-webkit-transition: transform .3s; 
	     -o-transition: transform .3s; 
	        transition: transform .3s; 
}

.btn-menu.active span { background: transparent; }
.btn-menu.active span:before {
	-webkit-transform: rotate(-45deg); 
	    -ms-transform: rotate(-45deg); 
	     -o-transform: rotate(-45deg); 
	        transform: rotate(-45deg); 
}
.btn-menu.active span:after {
	-webkit-transform: rotate(45deg); 
	    -ms-transform: rotate(45deg); 
	     -o-transform: rotate(45deg); 
	        transform: rotate(45deg); 
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

/* Wrapper */
.wrapper { background-position: right top; background-repeat: no-repeat; min-height: 100vh; }

/* Wrapper Dark */
.wrapper--dark { color: #cbced4; background-color: #33363f; }

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

/* Logo */
.logo { display: inline-block; font-size: 0; line-height: 0; text-indent: -4000px; background: url(images/logo.png) center center no-repeat; width: 142px; height: 30px; 
	-webkit-background-size: 100% auto; 
	        background-size: 100% auto; 
}

@media (max-width: 1439px) {
	.logo { width: 118px; height: 25px; }
}

/* Logo Alone */
.logo--alone { position: fixed; top: 21px; left: 27px; width: 200px; z-index: 15; }

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

select::-ms-expand { display: none; }

::-webkit-input-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }

.field,
.select select,
.textarea { font-size: 1.4rem; color: #fff; background: #8c919d; border: 0; border-radius: 5px; width: 100%; margin-bottom: 13px; 
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
	-webkit-transition: background .3s; 
	     -o-transition: background .3s; 
	        transition: background .3s; 
}

.field:last-child,
.select select:last-child,
.textarea:last-child { margin-bottom: 0; }

.field,
.select select { line-height: 1; height: 44px; }

.field:focus,
.textarea:focus { background: #6a707b; }

/* Field */
.field { padding: 0 10px; }

/* Select */
.select { position: relative; z-index: 5; }

.select select { padding: 0 40px 0 10px; }
.select i { font-size: 2.5rem; color: #fff; position: absolute; top: 10px; right: 14px; pointer-events: none; }

/* Textarea */
.textarea { height: 200px; padding: 5px 10px; }

/* Checkbox */
.checkbox input { display: none; }
.checkbox label { display: block; padding-left: 30px; position: relative; z-index: 5; }
.checkbox label:before { content: ''; background: #fff; border: 1px solid #bdbdbd; width: 19px; height: 19px; top: 1px; left: 0; }
.checkbox label:after { content: '\f00c'; font: 400 1.5rem/1 'FontAwesome'; color: #2785e1; top: 3px; left: 2px; visibility: hidden; opacity: 0; 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.checkbox input:checked + label:after { visibility: visible; opacity: 1; }

.checkbox label:before,
.checkbox label:after { position: absolute; }

/* Mobile Small */
@media (max-width: 479px) {
	.field,
	.select select { height: 36px; }

	.select select { padding-right: 30px; }
	.select i { top: 6px; right: 10px; }
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

/* Form Simple */
.form--simple .form__head { margin-bottom: 30px; }
.form--simple .form__body { min-height: 105px; margin-bottom: 52px; }
.form--simple .form__controls { margin-bottom: 17px; }

.form--simple .form__body:last-child,
.form--simple .form__controls:last-child { margin-bottom: 0; }

/* Mobile */
@media (max-width: 767px) {
	.form--simple .form__head { margin-bottom: 30px; }
	.form--simple .form__body { margin-bottom: 35px; }
	.form--simple .form__controls { margin-bottom: 17px; }
}
/* Mobile Small */
@media (max-width: 479px) {
	.form--simple .form__body { min-height: 89px; margin-bottom: 17px; }
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav li { position: relative; z-index: 5; }
.nav a { display: block; border-bottom: 1px solid #292c34; padding: 22px 15px 22px 57px; position: relative; z-index: 5; 
	-webkit-transition: color .3s, background .3s, border-color .3s; 
	     -o-transition: color .3s, background .3s, border-color .3s; 
	        transition: color .3s, background .3s, border-color .3s; 
}
.nav ul ul a { padding-left: 87px; }
.nav ul ul ul a { padding-left: 120px; }
.nav a:hover { color: #fff; background: #2f323b; }

.nav a:hover .fs
.nav .current > a > .fs { opacity: 1; }

.nav .has--dd > a { padding-right: 40px; }
.nav .current > a { font-weight: 700; color: #fff; background: #40444c; border-left: 5px solid #57aac7; }

.nav .fs { color: #65c3e4; position: absolute; top: 50%; left: auto; opacity: .6; 
	-webkit-transform: translate(-120%, -50%); 
	    -ms-transform: translate(-120%, -50%); 
	     -o-transform: translate(-120%, -50%); 
	        transform: translate(-120%, -50%); 
	-webkit-transition: opacity .5s; 
	     -o-transition: opacity .5s; 
	        transition: opacity .5s; 
}

.nav .dropdown__trigger { font-size: 1.8rem; padding: 5px; position: absolute; top: 17px; right: 18px; z-index: 10; cursor: pointer; }
.nav .dropdown__trigger:hover { color: #fff; }
.nav .dropdown__trigger i {
	-webkit-transition: transform .5s; 
	     -o-transition: transform .5s; 
	        transition: transform .5s; 
}

.nav .dropdown__body { max-height: 0; visibility: visible; opacity: 1; overflow: hidden; 
	-webkit-transition: max-height .3s linear; 
	     -o-transition: max-height .3s linear; 
	        transition: max-height .3s linear; 
}
.nav .dropdown__trigger.active + .dropdown__body { max-height: 2000px; }
.nav .dropdown__trigger.active i {
	-webkit-transform: rotateZ(90deg); 
	    -ms-transform: rotateZ(90deg); 
	     -o-transform: rotateZ(90deg); 
	        transform: rotateZ(90deg); 
}

@media (max-width: 1699px) {
	.nav a { padding: 19px 15px 19px 54px; }
	.nav ul ul a { padding-left: 70px; }
	.nav ul ul ul a { padding-left: 100px; }

	.nav .has--dd > a { padding-right: 40px; }

	.nav .fs { font-size: 30px; }
	.nav .dropdown__trigger { top: 13px; }
}
@media (max-width: 1199px) {
	.nav a { padding: 13px 15px 13px 45px; }
	.nav ul ul a { padding-left: 65px; }
	.nav ul ul ul a { padding-left: 80px; }

	.nav .dropdown__trigger { top: 6px; right: 15px; }
}
@media (max-width: 767px) {
	.nav ul ul a { padding-left: 70px; }
	.nav ul ul ul a { padding-left: 90px; }
}

/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.breadcrumbs a,
.breadcrumbs > i { display: inline-block; vertical-align: middle; }

.breadcrumbs > i { font-size: 1.6rem; margin: 0 4px 0 6px; position: relative; top: -1px; }
.breadcrumbs a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.breadcrumbs a:hover { color: #65c4e5; }

.breadcrumbs .fs { color: #65c4e5; }

/* ------------------------------------------------------------ *\
	Login
\* ------------------------------------------------------------ */

.login { font-size: 1.3rem; text-align: center; position: fixed; top: 310px; left: 50%; z-index: 10; 
	-webkit-transform: translateX(-50%); 
	    -ms-transform: translateX(-50%); 
	     -o-transform: translateX(-50%); 
	        transform: translateX(-50%); 
}

.login .login__body,
.login .login__forms { border-radius: 9px; }

.login .login__body { background: #3c404b; width: 822px; height: 357px; padding: 20px 60px; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
	justify-content: space-between; 
}
.login .login__group { flex: 0 0 auto; width: 280px; }
.login .login__group h2 { margin-bottom: 12px; }
.login .login__group p { margin-bottom: 53px; }
.login .login__group .fa { display: none; }
.login .login__group:first-child .btn { pointer-events: none; }
.login .login__forms { background: #515560; width: 428px; height: 460px; position: absolute; top: 50%; left: 31px; z-index: 5; 
	-webkit-transform: translateY(-50%); 
	    -ms-transform: translateY(-50%); 
	     -o-transform: translateY(-50%); 
	        transform: translateY(-50%); 
	-webkit-transition: left .3s linear; 
	     -o-transition: left .3s linear; 
	        transition: left .3s linear; 
}
.login .login__forms .form { width: 100%; padding: 20px 50px; position: absolute; top: 50%; left: 0; visibility: hidden; opacity: 0; 
	-webkit-transform: translateY(-50%); 
	    -ms-transform: translateY(-50%); 
	     -o-transform: translateY(-50%); 
	        transform: translateY(-50%); 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}

.login.moved .login__forms { left: 373px; }
.login.moved .login__group:first-child .btn { pointer-events: auto; }
.login.moved .login__group:last-child .btn { pointer-events: none; }

.login .login__forms .form.visible { visibility: visible; opacity: 1; }

.login .btn--outline { color: #797b81; }

.login .btn--outline:hover,
.login .btn--outline:focus,
.login .btn--outline:active { color: #fff; }

.login .checkbox  label{
	display: inline;
}

/* Desktop */
@media (max-width: 1439px) {
	.login { top: 50%; 
		-webkit-transform: translate(-50%, -50%); 
		    -ms-transform: translate(-50%, -50%); 
		     -o-transform: translate(-50%, -50%); 
		        transform: translate(-50%, -50%); 
	}
}
/* Tablet */
@media (max-width: 1023px) {
	.login .login__body { width: 700px; height: 320px; padding: 20px 40px; }
	.login .login__group { width: 260px; }
	.login .login__group p { margin-bottom: 40px; }
	.login .login__forms { width: 350px; height: 350px; left: 15px; }
	.login .login__forms .form { padding: 20px 35px; }

	.login.moved .login__forms { left: 335px; }
}
/* Mobile */
@media (max-width: 767px) {	
	.login { padding: 100px 15px 30px; position: static; 
		display: -webkit-flex; 
		display: -moz-flex; 
		display: -ms-flex; 
		display: -o-flex; 
		display: flex; 
		-ms-align-items: flex-start; 
		    align-items: flex-start; 
		-webkit-flex-wrap: wrap; 
		   -moz-flex-wrap: wrap; 
		    -ms-flex-wrap: wrap; 
		     -o-flex-wrap: wrap; 
		        flex-wrap: wrap; 
		-webkit-transform: none; 
		    -ms-transform: none; 
		     -o-transform: none; 
		        transform: none; 
	}

	.login .login__body,
	.login .login__forms { flex: 0 0 auto; width: 100%; }

	.login .login__body { width: 100%; height: auto; padding: 30px 15px 35px; margin: 0 auto; 
		-webkit-order: 1; 
		   -moz-order: 1; 
		    -ms-order: 1; 
		     -o-order: 1; 
		        order: 1; 
	}
	.login .login__group { width: calc(50% - 15px); position: relative; z-index: 5; }
	.login .login__group p { margin-bottom: 30px; }
	.login .login__group .fa { font-size: 2.5rem; position: absolute; top: -28px; left: 50%; 
		-webkit-transform: translateX(-50%); 
		    -ms-transform: translateX(-50%); 
		     -o-transform: translateX(-50%); 
		        transform: translateX(-50%); 
	}
	.login .login__group:first-child .fa { display: inline-block; }
	.login .login__group:last-child .fa { display: none; }
	.login .login__forms { background: transparent; width: 100%; height: auto; margin: 0 auto 15px; position: relative; top: 0; left: 0; 
		-webkit-order: -1; 
		   -moz-order: -1; 
		    -ms-order: -1; 
		     -o-order: -1; 
		        order: -1; 
		-webkit-transform: none; 
		    -ms-transform: none; 
		     -o-transform: none; 
		        transform: none; 
		-webkit-transition: transform .3s; 
		     -o-transition: transform .3s; 
		        transition: transform .3s; 
	}
	.login .login__forms .form { display: none; background: #515560; border-radius: 9px; padding: 20px 15px 30px; visibility: visible; opacity: 1; position: static; 
		-webkit-transform: none; 
		    -ms-transform: none; 
		     -o-transform: none; 
		        transform: none; 
	}
	.login .login__forms .form:first-child { position: relative; z-index: 5; }
	.login .login__forms .form:last-child { top: 0; z-index: 10; }
	.login .login__forms .form.visible { display: block; }

	.login.moved .login__group:first-child .fa { display: none; }
	.login.moved .login__group:last-child .fa { display: inline-block; }
	.login.moved .login__forms { left: 0; }
}
/* Mobile Small */
@media (max-width: 599px) {
	.login { padding: 80px 15px 15px; }

	.login .login__body { display: block; padding: 20px 15px 25px; }
	.login .login__group { width: 100%; }
	.login .login__group p { margin-bottom: 15px; }
	.login .login__group .fa { display: none !important; }
	.login .login__group + .login__group { margin-top: 15px; }

	.login:not(.moved) .login__group:first-child .btn--outline { color: #fff; background: #797b81; }
	.login.moved .login__group:first-child .btn--outline { background: transparent; }
	.login.moved .login__group:last-child .btn--outline { color: #fff; background: #797b81; }
}

/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

/* Dropdown */
.dropdown { position: relative; z-index: 5; }

.dropdown .dropdown__trigger { display: inline-block; padding-right: 19px; position: relative; z-index: 5; }
.dropdown .dropdown__trigger i { position: absolute; top: 50%; right: 0; 
	-webkit-transform: translateY(-50%); 
	    -ms-transform: translateY(-50%); 
	     -o-transform: translateY(-50%); 
	        transform: translateY(-50%); 
}

.dropdown .dropdown__body,
.dropdown .dropdown__body ul { list-style: none; }

.dropdown .dropdown__body { background: #fff; border-radius: 4px; min-width: 120px; padding: 5px 10px; position: absolute; top: 100%; right: 0; 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5); 
	        box-shadow: 0 0 10px rgba(0, 0, 0, .5); 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.dropdown .dropdown__body a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.dropdown .dropdown__body a:hover { color: #57aac7; }

.dropdown ul.dropdown__body ul { background: #fff; padding: 5px 10px; position: absolute; top: 0; right: 100%; visibility: hidden; opacity: 0; 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.dropdown ul.dropdown__body li a { display: block; white-space: nowrap; padding-top: 3px; padding-bottom: 3px; }
.dropdown ul.dropdown__body li i { color: inherit; float: right; position: relative; top: 2px; }

.dropdown .dropdown__trigger.btn { padding-right: 29px; }
.dropdown .dropdown__trigger.btn i { right: 11px; }

.dropdown .dropdown--has-dd.open + ul { visibility: visible; opacity: 1; }

@media (min-width: 1025px) {
	.dropdown ul.dropdown__body li:hover ul { visibility: visible; opacity: 1; }
}

/* Dropdown inner elements */
.dropdown__body { visibility: hidden; opacity: 0; }

.dropdown__trigger i { pointer-events: none; }
.dropdown__trigger.active + .dropdown__body { visibility: visible; opacity: 1; }

/* ------------------------------------------------------------ *\
	Dashboard
\* ------------------------------------------------------------ */

.dashboard .dashboard__bar,
.dashboard .dashboard__sidebar { color: #9397a1; background: #33363f; }

.dashboard .dashboard__body,
.dashboard .dashboard__bar,
.dashboard .dashboard__bar .dashboard__bar-aside,
.dashboard .dashboard__bar .dashboard__bar-content,
.dashboard .dashboard__actions { 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
}

.dashboard .dashboard__bar,
.dashboard .dashboard__bar .dashboard__bar-aside,
.dashboard .dashboard__bar .dashboard__bar-content,
.dashboard .dashboard__actions {
	-ms-align-items: center; 
	    align-items: center; 
}

.dashboard .dashboard__sidebar.sliding,
.dashboard .dashboard__sidebar.sliding + .dashboard__content {
	-webkit-transition: width .3s linear; 
	     -o-transition: width .3s linear; 
	        transition: width .3s linear; 
}

.dashboard .dashboard__actions,
.dashboard .dashboard__bar .dashboard__bar-aside { justify-content: space-between; }

.dashboard .dashboard__bar .dashboard__bar-aside,
.dashboard .dashboard__bar .profile-small { flex: 0 0 auto; }

.dashboard .dashboard__sidebar,
.dashboard .dashboard__bar .dashboard__bar-aside { border-right: 1px solid #565a64; }

.dashboard .dashboard__sidebar.expanded,
.dashboard .dashboard__bar .dashboard__bar-aside.expanded { width: 335px; }

.dashboard .dashboard__bar { position: relative; z-index: 20; }
.dashboard .dashboard__bar > * { height: 76px; }
.dashboard .dashboard__bar .dashboard__bar-aside { border-bottom: 1px solid #292c34; width: 250px; padding: 0 27px; }
.dashboard .dashboard__bar .dashboard__bar-aside a + a { margin-left: 30px; }
.dashboard .dashboard__bar .dashboard__bar-aside:not(.expanded) { width: 250px !important; }

.dashboard .dashboard__bar .dashboard__bar-content { width: 100%; padding-right: 26px; padding-left: 29px; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
	justify-content: space-between; 
}

.dashboard .dashboard__sidebar,
.dashboard .dashboard__content { flex: 0 0 auto; }

.dashboard .dashboard__sidebar { min-height: calc(100vh - 76px); position: relative; z-index: 5; overflow: hidden; 
	-webkit-user-select: none; 
	   -moz-user-select: none; 
	    -ms-user-select: none; 
	     -o-user-select: none; 
	        user-select: none; 
}
.dashboard .dashboard__sidebar:not(.expanded) { width: 0 !important; }
.dashboard .dashboard__sidebar.sliding a { white-space: nowrap; }
.dashboard .dashboard__sidebar.expanded + .dashboard__content { width: calc(100% - 335px); }
.dashboard .dashboard__content { padding: 22px 29px; overflow: hidden; }
.dashboard .dashboard__sidebar:not(.expanded) + .dashboard__content { width: calc(100% - 1px) !important; }
.dashboard .dashboard__content.resizing {
	-webkit-user-select: none; 
	   -moz-user-select: none; 
	    -ms-user-select: none; 
	     -o-user-select: none; 
	        user-select: none; 
}
.dashboard .dashboard__actions { margin-bottom: 21px; position: relative; z-index: 15; }

.dashboard .dashboard__bar .profile-small { border-left: 1px solid #565a64; padding-right: 22px; padding-left: 19px; }

@media (max-width: 1439px) {
	.dashboard .dashboard__sidebar.expanded,
	.dashboard .dashboard__bar .dashboard__bar-aside.expanded { width: 270px; }

	.dashboard .dashboard__sidebar.expanded + .dashboard__content { width: calc(100% - 270px); }
}
@media (max-width: 1199px) {
	.dashboard .dashboard__bar .dashboard__bar-aside:not(.expanded) { width: 200px !important; 
		-webkit-transition: width .3s linear; 
		     -o-transition: width .3s linear; 
		        transition: width .3s linear; 
	}
	
	.dashboard .dashboard__bar .dashboard__bar-aside,
	.dashboard .dashboard__bar .dashboard__bar-content,
	.dashboard .dashboard__bar .profile-small { padding: 0 15px; }

	.dashboard .dashboard__sidebar.expanded,
	.dashboard .dashboard__bar .dashboard__bar-aside.expanded { width: 240px; }

	.dashboard .dashboard__sidebar.expanded + .dashboard__content { width: calc(100% - 230px); }
}
@media (max-width: 1023px) {
	.dashboard .dashboard__actions { display: block; }
	.dashboard .dashboard__actions .breadcrumbs { margin-bottom: 15px; }
}
@media (max-width: 767px) {
	.dashboard .dashboard__bar { top: 0; }
	.dashboard .dashboard__bar > * { height: 60px; }
	.dashboard .dashboard__bar .dashboard__bar-aside { padding: 0; 
		justify-content: center; 
	}
	.dashboard .dashboard__bar .dashboard__bar-aside.expanded { width: 60px; }
	.dashboard .dashboard__bar .dashboard__bar-aside:not(.expanded) { width: 60px !important; }
	.dashboard .dashboard__bar .dashboard__bar-aside a + a { margin-left: 0; }
	.dashboard .dashboard__bar .dashboard__bar-aside .logo { display: none; }

	.dashboard .dashboard__body { padding-top: 50px; }
	.dashboard .dashboard__sidebar { border-right: 0; top: 60px; bottom: 0; z-index: 30; overflow-x: hidden; overflow-y: auto; }
	.dashboard .dashboard__sidebar.expanded + .dashboard__content { width: 100% !important; }
	.dashboard .dashboard__content { padding: 22px 15px; }
	
	.dashboard .dashboard__bar,
	.dashboard .dashboard__sidebar { position: fixed; left: 0; }

	.dashboard .dashboard__bar,
	.dashboard .dashboard__sidebar.expanded { width: 100%; }
}
@media (max-width: 479px) {
	.dashboard .dashboard__bar > * { height: 50px; }
	.dashboard .dashboard__bar .dashboard__bar-aside.expanded { width: 50px; }
	.dashboard .dashboard__bar .dashboard__bar-aside:not(.expanded) { width: 50px !important; }

	.dashboard .dashboard__sidebar { top: 50px; }
}

/* ------------------------------------------------------------ *\
	Panel
\* ------------------------------------------------------------ */

.panel {
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
}

.panel > a { display: inline-block; vertical-align: middle; 
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.panel > a + a { margin-left: 33px; }
.panel > a > i { font-size: 2rem; vertical-align: middle; }
.panel > a:hover { color: #65c4e5; }

.panel .search { margin-left: 34px; }

@media (max-width: 1439px) {
	.panel > a + a { margin-left: 25px; }

	.panel .search { margin-left: 25px; }
}
@media (max-width: 1023px) {
	.panel .search { margin-left: 0; }
}
@media (max-width: 479px) {
	.panel > a + a { margin-left: 14px; }
}

/* ------------------------------------------------------------ *\
	Avatar
\* ------------------------------------------------------------ */

/* Avatar */
.avatar { display: inline-block; width: 45px; height: 45px; overflow: hidden; }

.avatar,
.avatar img { border-radius: 50%; }

.avatar img { width: 100%; }

/* Avatar Medium */
.avatar--medium { width: 64px; height: 64px; }

/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

/* Profile Small */
.profile-small { 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
}

.profile-small .avatar { flex: 0 0 auto; margin-right: 13px; }
.profile-small .dropdown .dropdown__trigger i { color: #fff; }
.profile-small .dropdown .dropdown__body {
	-webkit-transform: translateY(5px); 
	    -ms-transform: translateY(5px); 
	     -o-transform: translateY(5px); 
	        transform: translateY(5px); 
}

@media (max-width: 479px) {
	.profile-small .avatar { display: none; }
}

/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

/* Tabs */
.tabs { color: #7e8ea6; position: relative; z-index: 5; }

.tabs .tabs__head { position: relative; z-index: 10; 
	-ms-align-items: center; 
	    align-items: center; 
}
.tabs .tabs__head .tabs__head-aside { flex: 0 0 auto; list-style: none; border-left: 2px solid #777c86; padding: 5px 0 5px 21px; margin-left: 15px; }
.tabs .tabs__head .tabs__head-aside li { display: inline-block; vertical-align: middle; }
.tabs .tabs__head .tabs__head-aside li + li { margin-left: 24px; }
.tabs .tabs__head .tabs__head-aside i { font-size: 2.2rem; vertical-align: middle; margin-left: 5px; }

.tabs .tabs__body { background: #fff; padding: 38px 29px 36px; }

.tabs .tabs__head,
.tabs .tabs__nav {
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
}

.tabs .tabs__nav,
.tabs .tabs__nav > ul { width: 100%; }

.tabs .tabs__nav ul { list-style: none; }
.tabs .tabs__nav > ul li { display: inline-block; vertical-align: middle; }
.tabs .tabs__nav > ul a { display: block; border-radius: 4px 4px 0 0; padding: 23px 27px; }
.tabs .tabs__nav > ul a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.tabs .tabs__nav > ul a:hover, { color: #57aac7; }
.tabs .tabs__nav .current a { font-weight: 700; color: #57aac7; background: #fff; }
.tabs .tabs__nav .tabs__nav-more { margin-left: 15px; position: relative; z-index: 5; 
	flex: 0 0 auto;
	-ms-align-self: center; 
	    align-self: center; 
}
.tabs .tabs__nav .tabs__nav-more ul { background: #fff; border: 1px solid #d2d8de; border-radius: 4px; width: 192px; padding: 33px 25px 31px 30px; position: absolute; top: 100%; left: 50%; 
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .1); 
	        box-shadow: 0 0 25px rgba(0, 0, 0, .1); 
	-webkit-transform: translate(-50%, 10px); 
	    -ms-transform: translate(-50%, 10px); 
	     -o-transform: translate(-50%, 10px); 
	        transform: translate(-50%, 10px); 
}
.tabs .tabs__nav .tabs__nav-more ul li + li { margin-top: 25px; }
.tabs .tabs__nav .tabs__nav-more .dropdown__trigger { display: inline-block; font-size: 1.8rem; line-height: 21px; text-align: center; color: #767e8f; border-radius: 2px; width: 24px; height: 21px; 
	-webkit-transition: background .3s; 
	     -o-transition: background .3s; 
	        transition: background .3s; 
}
.tabs .tabs__nav .tabs__nav-more .dropdown__trigger i {
	-webkit-transform: rotateZ(0deg); 
	    -ms-transform: rotateZ(0deg); 
	     -o-transform: rotateZ(0deg); 
	        transform: rotateZ(0deg); 
	-webkit-transition: transform .3s; 
	     -o-transition: transform .3s; 
	        transition: transform .3s; 
}
.tabs .tabs__nav .tabs__nav-more .dropdown__trigger.active { background: #bcc5cd; }
.tabs .tabs__nav .tabs__nav-more .dropdown__trigger.active i {
	-webkit-transform: rotateZ(90deg); 
	    -ms-transform: rotateZ(90deg); 
	     -o-transform: rotateZ(90deg); 
	        transform: rotateZ(90deg); 
}

@media (max-width: 1699px) {
	.tabs .tabs__nav .tabs__nav-more ul { padding: 15px 20px; }
	.tabs .tabs__nav .tabs__nav-more ul li + li { margin-top: 15px; }
}
@media (max-width: 1439px) {
	.tabs .tabs__nav > ul a { padding: 15px 20px; }
}
@media (max-width: 1199px) {
	.tabs .tabs__nav > ul a { padding: 8px 15px; }

	.tabs .tabs__head .tabs__head-aside { padding: 3px 0 3px 16px; margin-left: 10px; }
	.tabs .tabs__body { padding: 15px; }
}
@media (max-width: 767px) {
	.tabs .tabs__head .tabs__head-aside li + li { margin-left: 15px; }
}
@media (max-width: 374px) {
	.tabs .tabs__nav > ul a { font-size: 1.2rem; }
}

/* Tab */
.tab { display: none; }
.tab.current { display: block; }

.tab .tab__actions { text-align: right; padding-top: 54px; }
.tab .tab__actions .btn { min-width: 109px; }
.tab .tab__actions .btn--outline { font-weight: 400; float: left; }

.tab .tab__btn,
.tab .tab__btn:before { position: absolute; z-index: 5; }

.tab .tab__btn { display: inline-block; font-size: 1.4rem; line-height: 1.2; vertical-align: middle; color: #7f8ca0; background: #f3f3f3; border-left: 1px solid #ced7df; padding: 4px 10px 5px 12px; top: 7px; right: 0; 
	-webkit-transform: translate(10px, -54px); 
	    -ms-transform: translate(10px, -54px); 
	     -o-transform: translate(10px, -54px); 
	        transform: translate(10px, -54px); 
}

@media (max-width: 1023px) {
	.tab .tab__btn { color: #eee; background: #424650; top: 5px; }
}
@media (max-width: 767px) {
	.tab .tab__actions { padding-top: 20px; }
}

/* Tabs Nav Orderable */
.tabs .tabs__nav--orderable { width: calc(100% - 142px); }
.tabs .tabs__nav--orderable > ul { white-space: nowrap; overflow: hidden; }
.tabs .tabs__nav--orderable > ul .red { color: #a00; border: 1px solid #a00; }

@media (max-width: 767px) {
	.tabs .tabs__nav--orderable { width: calc(100% - 90px); }
}

/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box { border: 1px solid #e6e6e6; border-radius: 4px; margin-bottom: 26px; }
.box:last-child { margin-bottom: 0; }

.box .box__header { border-bottom: 1px solid #dae1e7; height: 50px; padding: 5px 18px 6px; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
	justify-content: space-between; 
}
.box .box__header h6 { color: #4c596d; }
.box .box__header h6 a { display: inline-block; font-weight: 600; vertical-align: middle; border-left: 1px solid #9f9f9f; padding: 0 0 0 12px; margin-left: 8px; opacity: .7; 
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.box .box__header h6 a:hover { color: #65c4e5; }
.box .box__header .box__header-actions a { display: inline-block; line-height: 1; vertical-align: middle; 
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.box .box__header .box__header-actions a:hover { color: #65c4e5; }
.box .box__header .box__header-actions a + a { margin-left: 15px; }
.box .box__header .box__header-actions i { font-size: 18px; }

.box .box__footer { border-top: 1px solid #dae1e7; padding: 11px 15px; }

.box .list-profile { padding: 30px 24px 40px; }
.box .list-groups { padding: 18px 19px 22px; }
.box .table { padding: 19px 15px 66px; }

@media (max-width: 1199px) {
	.box .box__header { padding: 5px 15px 6px; }
	.box .box__header h6 a { padding-left: 7px; margin-left: 4px; }
	.box .box__header .box__header-actions a + a { margin-left: 10px; }

	.box .list-profile,
	.box .list-groups,
	.box .table { padding: 15px; }
}
@media (max-width: 479px) {
	.box .box__header h6 a { display: none; }
}

/* ------------------------------------------------------------ *\
	Bar
\* ------------------------------------------------------------ */

.bar { line-height: 1.43; position: relative; }
.bar.hovered { z-index: 10; }

.bar h5,
.bar h6 { color: #5c6c83; }

.bar i {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}

.bar:hover i { color: #4d97b0; }
.bar:hover .bar__btn { visibility: visible; opacity: 1; }

.bar .bar__body { padding: 12px 85px 12px 20px; cursor: pointer; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
	-webkit-transition: background .3s; 
	     -o-transition: background .3s; 
	        transition: background .3s; 
}
.bar .bar__body:hover { background: #ebeff3; }
.bar .bar__body:hover .bar__popup { visibility: visible; opacity: 1; 
	-webkit-transition-delay: 1s; 
	     -o-transition-delay: 1s; 
	        transition-delay: 1s; 
}
.bar .bar__body > i { color: #65c4e5; margin-right: 10px; }

.bar .bar__body > i,
.bar .bar__image,
.bar .avatar { flex: 0 0 auto; }

.bar .bar__content { width: 100%; }
.bar .bar__content h5 { white-space: nowrap; padding-right: 40px; overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	    text-overflow: ellipsis; 
}
.bar .bar__content p span { color: #a3b1c6; }

.bar .bar__image { border-radius: 4px; width: 64px; height: 64px; margin-right: 32px; }
.bar .bar__btn { display: inline-block; right: 62px; visibility: hidden; opacity: 0; 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.bar .bar__popup { background: #fff; max-width: 445px; position: absolute; top: -16px; right: -19px; z-index: 20; visibility: hidden; opacity: 0; 
	-webkit-transition: visibility .2s, opacity .2s; 
	     -o-transition: visibility .2s, opacity .2s; 
	        transition: visibility .2s, opacity .2s; 
}
.bar .bar__popup i { color: #65c4e5; margin-right: 15px; }
.bar .bar__popup .bar__popup-header { height: auto; 
	justify-content: flex-start; 
}
.bar .bar__popup .bar__popup-body { padding: 19px 20px 21px; }
.bar .bar__popup .bar__popup-body ul { list-style: none; }
.bar .bar__popup .bar__popup-body li + li { margin-top: 15px; }
.bar .bar__popup .bar__popup-body ul strong { display: inline-block; vertical-align: top; width: 90px; margin-right: 10px; }
.bar .bar__popup .bar__popup-body ul a { color: #2785e1; }

.bar .bar__btn,
.bar .dropdown { position: absolute; top: 50%; 
	-webkit-transform: translateY(-50%); 
	    -ms-transform: translateY(-50%); 
	     -o-transform: translateY(-50%); 
	        transform: translateY(-50%); 
}

.bar .dropdown { right: 18px; z-index: 5; }
.bar .dropdown .dropdown__trigger { line-height: 20px; height: 20px; padding-right: 0; }
.bar .dropdown .dropdown__trigger i { font-size: 20px; position: static; 
	-webkit-transform: none; 
	    -ms-transform: none; 
	     -o-transform: none; 
	        transform: none; 
}

.bar .avatar { margin-right: 17px; }

@media (max-width: 1199px) {
	.bar .bar__body { padding: 10px 85px 10px 15px; }
}
@media (max-width: 1024px) {
	.bar .bar__btn { right: 55px; visibility: visible; opacity: 1; }
}
@media (max-width: 479px) {
	.bar .bar__image { margin-right: 15px; }

	.bar .avatar { display: none; }
}

/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile { padding: 39px 90px 93px; position: relative; z-index: 5; }

.profile .profile__image { text-align: center; }

.profile .profile__actions { font-size: 1.8rem; line-height: 1; text-align: center; color: #000; position: absolute; top: 23px; }
.profile .profile__actions:first-child { left: 20px; }
.profile .profile__actions:last-child { right: 20px; }
.profile .profile__actions ul { display: inline-block; vertical-align: top; list-style: none; }
.profile .profile__actions ul + ul { margin-left: 16px; }
.profile .profile__actions ul li + li { margin-top: 5px; }
.profile .profile__actions a {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}
.profile .profile__actions a:hover { color: #6bc6e6; }

@media (max-width: 479px) {
	.profile { padding: 20px 60px 50px; }

	.profile .profile__actions { font-size: 2rem; top: 15px; }
	.profile .profile__actions:first-child { left: 15px; }
	.profile .profile__actions:last-child { right: 15px; }
	.profile .profile__actions ul { display: block; }
	.profile .profile__actions ul + ul { margin: 11px 0 0; }
	.profile .profile__actions ul li + li { margin-top: 11px; }
}

/* ------------------------------------------------------------ *\
	Pagination
\* ------------------------------------------------------------ */

.pagination { font-size: 0; line-height: 1; text-align: center; }

.pagination a { display: inline-block; font-size: 1.4rem; border: 1px solid #ddd; padding: 8px 10px; 
	-webkit-transition: color .3s, background .3s; 
	     -o-transition: color .3s, background .3s; 
	        transition: color .3s, background .3s; 
}
.pagination a + a { border-left: 0; margin-left: -1px; }
.pagination a:first-child { border-radius: 4px 0 0 4px; }
.pagination a:last-child { border-radius: 0 4px 4px 0; }

.pagination a:hover,
.pagination a.current { color: #fff; background: #2785e1; }

/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { position: relative; z-index: 5; }

.search form > a,
.search form > button {
	-webkit-transition: color .3s; 
	     -o-transition: color .3s; 
	        transition: color .3s; 
}

.search form > a:hover,
.search form > button:hover { color: #65c4e5; }

.search .search__body,
.search .search__btn,
.search .search__toggle,
.search .tabs .tabs__nav .current a:after,
.search .filter-items { position: absolute; }

.search .search__body { background: #fff; width: 100%; border-radius: 0 0 6px 6px; padding: 12px 25px 27px; top: 100%; left: 0; z-index: 5; visibility: hidden; opacity: 0; 
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .5); 
	        box-shadow: 0 10px 25px rgba(0, 0, 0, .5); 
	-webkit-transition: visibility .3s, opacity .3s; 
	     -o-transition: visibility .3s, opacity .3s; 
	        transition: visibility .3s, opacity .3s; 
}
.search .search__field { font-size: 1.4rem; color: #7f8ca0; background: #424650; border: 0; border-radius: 5px; width: 723px; height: 45px; padding: 0 230px 0 51px; }
.search .search__btn { background: transparent; border: 0; width: 51px; height: 100%; top: 0; left: 0; 
	-webkit-appearance: none; 
	   -moz-appearance: none; 
	        appearance: none; 
}

.search .search__toggle { line-height: 45px; text-align: center; height: 100%; width: 36px; top: 0; right: 0; }
.search .search__toggle i { font-size: 1.2rem; }

.search.expanded .search__field { color: #7f8ca0; background: #f3f3f3; border-radius: 5px 5px 0 0; }
.search.expanded .search__body { visibility: visible; opacity: 1; }

.search .tabs .tabs__head { border-bottom: 1px solid #ccc; }
.search .tabs .tabs__head .tabs__head-aside { border-left: 0; margin-left: 0; }

.search .tabs .tabs__nav > ul a { padding: 13px 21px; position: relative; z-index: 5; }
.search .tabs .tabs__nav .current a { color: #5c6c83; border: 1px solid #ccc; }
.search .tabs .tabs__nav .current a:after { content: ''; background: #fff; width: 100%; height: 4px; bottom: -2px; left: 0; z-index: 5; }

.search .tabs .tabs__body { padding: 16px 1px 0; }

.search .filter-items { top: 13px; right: 40px; }

/* Search Mobile */
.search-mobile { display: none !important; }

@media (max-width: 1699px) {
	.search .search__field { width: 600px; }
}
@media (max-width: 1439px) {
	.search .search__field { width: 540px; }

	.search .tabs .tabs__nav > ul a { padding: 5px 10px; }
}
@media (max-width: 1269px) {
	.search .search__field { width: 440px; }

	.search .tabs .tabs__nav > ul a { font-size: 1.2rem; padding: 5px 6px; }
}
@media (max-width: 1199px) {
	.search .search__field { width: 440px; }
}
@media (max-width: 1023px) {
	.search { background: #fff; width: 100%; padding: 40px 15px 15px; position: fixed; top: 0; bottom: 0; left: 0; z-index: 9999; visibility: hidden; opacity: 0; pointer-events: none; 
		-webkit-transition: visibility .3s, opacity .3s; 
		     -o-transition: visibility .3s, opacity .3s; 
		        transition: visibility .3s, opacity .3s; 
	}
	.search.expanded { visibility: visible; opacity: 1; pointer-events: auto; }

	.search form > button[type="submit"] { display: none; }

	.search .search__field { color: #fff; width: 100%; padding: 0 210px 0 15px; }
	.search .search__body { padding: 15px; position: static; visibility: visible; opacity: 1; }

	.search .filter-items { top: 52px; right: 30px; }

	.search .search-mobile { line-height: 1; height: auto; position: absolute; top: 9px; right: 15px; z-index: 20; }
	.search .search-mobile i { font-size: 2rem; }

	.search.expanded .search__field { color: #fff; background: #424650; }

	.search-mobile { display: inline-block !important; }
	.search-mobile-hidden { display: none !important; }
}

/* ------------------------------------------------------------ *\
	Accordion
\* ------------------------------------------------------------ */

.accordion > .box__header {
	-webkit-transition: border-color .3s; 
	     -o-transition: border-color .3s; 
	        transition: border-color .3s; 
}
.accordion > .box__header:not(.expand) { border-bottom-color: transparent; }
.accordion > .box__body { max-height: 0; overflow: hidden; 
	-webkit-transition: max-height .2s linear; 
	     -o-transition: max-height .2s linear; 
	        transition: max-height .2s linear; 
}

.accordion .expand + .box__body { max-height: 700px; overflow: visible; }

/* ------------------------------------------------------------ *\
	Filter
\* ------------------------------------------------------------ */

/* Filter */
.filter ::-webkit-input-placeholder { opacity: .6; }
.filter ::-moz-placeholder { opacity: .6; }
.filter :-ms-input-placeholder { opacity: .6; }
.filter :-moz-placeholder { opacity: .6; }

.filter .filter__field { margin-bottom: 20px; position: relative; z-index: 5; }
.filter .filter__field i { line-height: 1; color: #b2bac6; position: absolute; top: 11px; left: 12px; }
.filter .filter__field i ~ .field { padding-left: 40px; }
.filter .filter__field .field { color: #7f8ca0; background: transparent; border: 1px solid #e1e1e1; border-radius: 3px; height: 35px; padding: 0 15px; margin-bottom: 0; }

@media (max-width: 1439px) {
	.filter .filter__field { margin-bottom: 10px; }
}

/* Filter Items */
.filter-items { list-style: none; }
.filter-items li { display: inline-block; font-size: 0; }

/* Filter Item */
.filter-item { display: none; font-size: 1.2rem; line-height: 1; text-transform: lowercase; white-space: nowrap; color: #fff; background: #33363f; border-radius: 3px; width: 90px; height: 19px; padding: 3px 17px 4px 5px; position: relative; z-index: 5; overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	    text-overflow: ellipsis; 
	-webkit-transition: background .3s; 
	     -o-transition: background .3s; 
	        transition: background .3s; 
}
.filter-item:hover { background: #000; }
.filter-item.shown { display: inline-block; }

.filter-item i { font-size: 1rem; position: absolute; top: 4px; right: 4px; }

/* ------------------------------------------------------------ *\
	Context
\* ------------------------------------------------------------ */

.context { max-height: 355px; overflow-x: hidden; overflow-y: auto; }

@media (max-width: 767px) {
	.context { max-height: 275px; }
}

/* ------------------------------------------------------------ *\
	Resizer
\* ------------------------------------------------------------ */

.resizer { width: 5px; height: 100%; position: absolute; top: 0; right: -2px; z-index: 25; cursor: e-resize; }

@media (max-width: 1199px) {
	.resizer { display: none; }
}

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table { text-align: center; color: #333; }

.table th,
.table td { border: 1px solid #ddd; }

.table th { border-bottom-width: 2px; padding: 16px 13px 17px; }
.table td { padding: 8px 17px; }
.table td:first-child { text-align: left; }
.table thead td { background: #fafafa; }

.table th,
.table .grey { background: #f5f5f5; }

.table .table__field { color: inherit; background: #fff; border: 1px solid #ccc; width: 184px; height: 34px; padding: 0 12px; }

.table .fs { color: #2785e1; margin-right: 5px; }

@media (max-width: 1024px) {
	.table { width: 100%; overflow-y: hidden; overflow-x: auto; }

	.table table { width: 700px; margin: 0 auto; }
	.table th { padding: 5px 10px; }
	.table td { padding: 8px 15px; }

	.table .fs { font-size: 3rem; margin-right: 5px; }
}

/* ------------------------------------------------------------ *\
	Info
\* ------------------------------------------------------------ */

.info { font-size: 1.6rem; max-height: 0; overflow: hidden; 
	-webkit-transition: max-height .3s linear; 
	     -o-transition: max-height .3s linear; 
	        transition: max-height .3s linear; 
}
.info.open { max-height: 500px; }

.info span { font-weight: 400; }
.info i { color: #65c4e5; }

.info .info__header { padding-bottom: 18px; }
.info .info__footer { border-top: 1px solid #b1b5bc; padding: 16px 0; 
	display: -webkit-flex; 
	display: -moz-flex; 
	display: -ms-flex; 
	display: -o-flex; 
	display: flex; 
	-ms-align-items: center; 
	    align-items: center; 
	justify-content: space-between; 
}
.info .info__actions { flex: 0 0 auto; }
.info .info__actions .btn + .btn { margin-left: 5px; }

.info .info__title:after { content: ''; display: table; line-height: 0; clear: both; }
.info .info__title i { vertical-align: middle; float: left; margin-right: 7px; }

.info .fs-sm { font-size: 2.5rem; }

@media (max-width: 1024px) {
	.info .info__footer {
		-webkit-flex-wrap: wrap; 
		   -moz-flex-wrap: wrap; 
		    -ms-flex-wrap: wrap; 
		     -o-flex-wrap: wrap; 
		        flex-wrap: wrap; 
	}
	.info .info__actions { text-align: right; width: 100%; padding-top: 10px; 
		display: -webkit-flex; 
		display: -moz-flex; 
		display: -ms-flex; 
		display: -o-flex; 
		display: flex; 
	}
	.info .info__actions .btn { width: 50%; }
}
@media (max-width: 599px) {
	.info .info__actions { display: block; }
	.info .info__actions .btn { display: block; width: 100%; }
	.info .info__actions .btn + .btn { margin: 9px 0 0; }
}

/* ------------------------------------------------------------ *\
	Class Toggle
\* ------------------------------------------------------------ */

.class--toggle i {
	-webkit-transition: transform .3s linear; 
	     -o-transition: transform .3s linear; 
	        transition: transform .3s linear; 
}

.class--toggle.active .fa-angle-down {
	-webkit-transform: rotate(180deg); 
	    -ms-transform: rotate(180deg); 
	     -o-transform: rotate(180deg); 
	        transform: rotate(180deg); 
}
