.comments-widget-config {

  .modal-dialog {
    width: 820px;
  }

  .tab-content {
    padding-top: 5px;
  }

  .users-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0.5em;

    .users-select {
      flex-basis: 100%;
      min-width: 0;

    }

    .input-group-btn {
      width: 80px;
      .form-control {
        height: 32px !important;
      }
    }
  }

  .comments-details-tab .panel-body .criteria-row {

    display: flex;
    flex-direction: row;
    align-items: center;

    .criteria-property {
      flex-basis: 25%;
      // Fixes a width issue under different browsers
      min-width: 0;
    }

    .criteria-operator {
      flex-basis: 20%;
      // Fixes a width issue under different browsers
      min-width: 0;
    }

    .criteria-value {
      flex-basis: 55%;
      // Somehow this prevents *growing* if the component inside is very long
      flex-shrink: 0;
    }

    .criteria-column:not(:last-child) {
      padding-right: 0.5em;
    }

    .criteria-column:last-child {
      display: none;
    }

    .date-range {
      display: flex;

      .datetime-picker:not(:last-child) {
        padding-right: 0.5em;
      }
    }
  }
}
