<div class="advanced-search-relation-criteria" ng-switch="advancedSearchRelationCriteria.criteria.operator">
  <div class="relation-value" ng-switch-default>
    <seip-object-select class="relation-criteria-select"
                        config="advancedSearchRelationCriteria.selectConfig"
                        ng-if="advancedSearchRelationCriteria.isManualSelection() && advancedSearchRelationCriteria.selectConfig"
                        ng-model="advancedSearchRelationCriteria.criteria.value">
    </seip-object-select>

    <input class="form-control user-query-placeholder" type="text" readonly
           value="{{::'search.user.defined.query' | translate}}"
           ng-if="!advancedSearchRelationCriteria.isManualSelection()">

    <button class="btn btn-default" type="button" ng-click="advancedSearchRelationCriteria.openPicker()"
            ng-disabled="advancedSearchRelationCriteria.config.disabled">
      <i class="fa fa-fw fa-search fa-lg"></i>
    </button>
  </div>

  <seip-advanced-search-boolean-criteria ng-switch-when="empty"
                                         config="::advancedSearchRelationCriteria.config"
                                         criteria="advancedSearchRelationCriteria.criteria">
  </seip-advanced-search-boolean-criteria>
</div>