<div class="advanced-search-action-criteria" ng-switch="advancedSearchActionCriteria.criteria.operator">
  <seip-select class="codelist-criteria-select" ng-switch-default
               ng-if="::advancedSearchActionCriteria.selectConfig"
               config="::advancedSearchActionCriteria.selectConfig"
               ng-model="advancedSearchActionCriteria.criteria.value">
  </seip-select>

  <seip-advanced-search-boolean-criteria ng-switch-when="empty"
                                         config="::advancedSearchActionCriteria.config"
                                         criteria="advancedSearchActionCriteria.criteria">
  </seip-advanced-search-boolean-criteria>
</div>