#page,#info_panel {
	font: 12px/18px Helvetica, Arial;
	overflow-y: hidden;
}

#art-prospect-head a img,#zoom_panel a img {
	border-width: 0px;
	vertical-align: middle;
}

#ui-datepicker-div {
	z-index: 10000 !important;
	clip: auto !important;
}

.rightFloat a {
	margin: 1px;
}

.data-annotation ul {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

#art-prospect-head ul {
	outline: 0;
	padding: 0;
}

#art-prospect-head ul,.data-annotation ul {
	list-style: none;
}

#filterMenu input,#filterMenu select {
	border: 1px solid gray;
}

.commentCount {
	border-radius: 5px;
	margin: 0px 5px 0px 5px;
	border: 1px solid #444444;
}

.rightFloat {
	float: right;
}

.editable-input {
	float: left;
}

.control-group>div>div {
	display: inline;
}

.ui-button-icon-only {
	width: 18px !important;
	height: 18px !important;
}

.data-annotation h3 {
	color: #333333;
	line-height: 25px;
	font-size: 18px;
	border-bottom: 1px solid #EEEEEE;
	padding: 5px 0px 5px 0px;
	margin: 0px 40px 0px 0px;
}

.data-annotation table {
	border-spacing: 5px;
}

.comment-box textarea {
	resize: none;
}

#workarea {
	padding-top: 0px !important;
}

#menu_panel label {
	font-size: 12px;
	line-height: 18px;
	color: #999999;
	display: block;
	padding: 0px 0px 2px 0px;
}

.clearfix:before,.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.tools-wrap {
	overflow: hidden;
	display: inline-block;
}

/** Tools bars. */
.tools {
	padding: 12px 0px 0px 0px;
	overflow: hidden;
}

.tools ul {
	margin: 0px 6px 0px 12px;
	border-left: 1px solid #cccccc;
	float: left;
}

.navigation-bar {
	margin: 8px;
	padding: 0px;
	display: inline-block;
}

.navigation-bar  div.flyout-menu {
	background-color: 4E4E4E;
}

#overlayDrag {
	background-image: linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -o-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -moz-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -webkit-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -linear-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
}

.tools li {
	width: 24px;
	float: left;
	margin: 0px 0px 6px 6px;
}

.tools a {
	display: block;
	width: 24px;
	height: 24px;
	background: #ffffff;
	text-indent: -300em;
	overflow: hidden;
	border: 1px solid #BBBBBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tools a span {
	display: block;
	height: 24px;
	background: url('images/tools.png') no-repeat 0 0;
}

/** Overlay bar. */
.tools .comp-1 a span {
	background-position: 0 -250px;
}

.tools .comp-2 a span {
	background-position: 0 -275px;
}

.tools .comp-3 a span {
	background-position: 0 -300px;
}

/** History bar. */
.tools .arrow-left a span,.reversed .tools .arrow-left.active span {
	background-position: 0 -325px;
}

.tools .arrow-right a span,.reversed .tools .arrow-right.active span {
	background-position: 0 -350px;
}

.tools .arrow-left.active span,.reversed .tools .arrow-left span {
	background-position: 0 -375px;
}

.tools .arrow-right.active span,.reversed .tools .arrow-right span {
	background-position: 0 -400px;
}

.tools .circle a span,.reversed .tools .circle a:hover span,.reversed .tools .circle.active span
	{
	background-position: 0 -25px;
}

.tools .square a span,.reversed .tools .square a:hover span,.reversed .tools .square.active span
	{
	background-position: 0 -50px;
}

.tools .vector a span,.reversed .tools .vector a:hover span,.reversed .tools .vector.active span
	{
	background-position: 0 -75px;
}

.tools .arrow a span,.reversed .tools .arrow a:hover span,.reversed .tools .arrow.active span
	{
	background-position: 0 -100px;
}

.tools .line.active span,.reversed .tools .line span {
	background: url('images/line_active.png') no-repeat 0 center;
}

.tools .point.active span,.reversed .tools .point span {
	background: url('images/point_active.png') no-repeat 0 center;
}

.tools .circle.active span,.reversed .tools .circle span {
	background-position: 0 -125px;
}

.tools .square.active span,.reversed .tools .square span {
	background-position: 0 -150px;
}

.tools .vector.active span,.reversed .tools .vector span {
	background-position: 0 -175px;
}

.tools .arrow.active span,.reversed .tools .arrow span {
	background-position: 0 -200px;
}

.tools .line a span,.reversed .tools .line.active span {
	background: url('images/line.png') no-repeat 0 center;
}

.line a:hover span {
	background: url('images/line_hover.png') no-repeat 0 center;
}

.tools .point a span,.reversed .tools .point.active span {
	background: url('images/point.png') no-repeat 0 center;
}

.point a:hover span {
	background: url('images/point_hover.png') no-repeat 0 center;
}

.tools-edit a:hover,.reversed .tools-edit a:hover {
	background-image: linear-gradient(bottom, #C4C4C4 15%, #F4F4F4 60%);
	background-image: -o-linear-gradient(bottom, #C4C4C4 15%, #F4F4F4 60%);
	background-image: -moz-linear-gradient(bottom, #C4C4C4 15%, #F4F4F4 60%);
	background-image: -webkit-linear-gradient(bottom, #C4C4C4 15%, #F4F4F4 60%);
	background-image: -ms-linear-gradient(bottom, #C4C4C4 15%, #F4F4F4 60%);
}

.tools-edit .active a,.reversed .tools-edit a {
	background-image: linear-gradient(bottom, #484848 15%, #808080 60%);
	background-image: -o-linear-gradient(bottom, #484848 15%, #808080 60%);
	background-image: -moz-linear-gradient(bottom, #484848 15%, #808080 60%);
	background-image: -webkit-linear-gradient(bottom, #484848 15%, #808080 60%);
	background-image: -ms-linear-gradient(bottom, #484848 15%, #808080 60%);
}

/** Colors bar. */
.tools-colour .red a,.reversed .tools-colour .red.active a {
	background: #ff0000;
}

.tools-colour .orange a,.reversed .tools-colour .orange.active a {
	background: #ffaa00;
}

.tools-colour .yellow a,.reversed .tools-colour .yellow.active a {
	background: #ffff00;
}

.tools-colour .green a,.reversed .tools-colour .green.active a {
	background: #33cc33;
}

.tools-colour .blue a,.reversed .tools-colour .blue.active a {
	background: #00ffff;
}

.tools-colour .azure a,.reversed .tools-colour .azure.active a {
	background: #336699;
}

.tools-colour .pink a,.reversed .tools-colour .pink.active a {
	background: #ff77bb;
}

.tools-colour .grey a,.reversed .tools-colour .grey.active a {
	background: #333333;
}

.tools-colour .active a {
	border-color: #000000;
	height: 27px;
    margin: 0px !important; 
    width: 27px;
}
}

#normalscreen span {
	background: url('images/normalscreen.png') no-repeat 0 center;
}

#fullscreen span {
	background: url('images/fullscreen.png') no-repeat 0 center;
}

#zoomer {
	width: 75%;
	height: 6px;
	margin: 0px 3px;
	text-align: left;
	background: gray;
	position: relative;
	display: inline-block;
}

#zoomer>.ui-slider-handle.ui-state-default.ui-corner-all {
	border: 1px solid gray;
	position: relative;
	top: -6px;
}

.slider {
	height: 6px;
	width: 66px;
	margin-top: 10px;
	position: relative;
	display: inline-block;
	border: 1px solid #000000;
	background-color: #333333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #333333;
}

.slider>.visibility {
	left: 0px;
	position: relative;
	border: 3px solid white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.radioButtons {
	margin-left: 6px;
}

#zoom_panel {
	padding-top: 6px;
	padding-bottom: 6px;
}

#art-prospect-body {
	margin-top: -10px !important;
	margin-bottom: 10px !important;
}

#flydown-menu ul li .flyout-section {
	min-height: 100px;
}

#flydown-menu ul li .controls .control {
	margin-bottom: 0px !important;
}

#flydown-menu .controls {
	top: 15px !important;
	width: 150px !important;
}

#canvasBackground {
	display: none;
}

#svgcanvas {
	padding: 0px;
	position: relative;
	border: 1px solid black;
	margin: 12px 0px 0px 12px;
}

#treePane {
	float: left;
	overflow: auto;
	border: 0px solid #F5F5F5;
	border-top-width: 1px;
	margin-left: auto !important;
	margin-right: auto !important;
}

#page {
	margin: 0px auto;
	text-align: left;
}

#info_panel div.btns {
	display: none;
}

#info_panel {
	top: 0px;
	left: 0px;
	z-index: 1000;
	border-radius: 6px;
	position: absolute;
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.balloonstyle table {
	font: inherit;
}

/** Main navigation. */
#main-nav {
	background-color: #1A1A1A;
	height: 36px;
	border-bottom: 1px solid #1A1A1A;
}

.top-left-nav {
	display: inline-block;
	position: relative;
	border-left: 1px solid #484848 !important;
	margin-left: 60px;
}

#main-nav ul li {
	float: left;
	border: 0;
}

#main-nav li span.arrow-down,#flydown-menu a.flydown-handle span {
	background: url('images/down.png') no-repeat;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 20px;
	top: 10px;
}

#main-nav ul li a {
	float: left;
	color: #BBBBBB;
	padding: 0px 45px 0px 20px;
	line-height: 40px;
	text-decoration: none;
	background: #1A1A1A;
	border-bottom: 1px solid #303030 !important;
	border-right: 1px solid #484848 !important;
	position: relative;
}

#main-nav ul li a:hover,#nav ul li:hover>a {
	color: #303030;
	background: #BBBBBB;
}

#main-nav li ul a:hover,#nav ul li li:hover>a {
	color: #303030;
	background: #BBBBBB;
}

#main-nav li ul li {
	width: 150px;
	border-bottom: 1px solid #484848;
}

#main-nav li ul {
	background: #484848;
	left: -1000em;
	margin: 40px 0px 0px;
	position: absolute;
	z-index: 1000;
	-webkit-box-shadow: 2px 2px 12px #000;
	box-shadow: 2px 2px 12px #000;
	-moz-box-shadow: 2px 2px 12px #000;
	width: 150px;
}

#main-nav li:hover ul {
	left: auto;
}

#main-nav li ul a {
	background: none;
	border: 0 none;
	margin-right: 0;
	width: 100px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-right: 0px;
}

#main-nav li li ul {
	margin: 0px 0px 0px 150px;
	-webkit-box-shadow: 2px 2px 12px #000;
	box-shadow: 2px 2px 12px #000;
	-moz-box-shadow: 2px 2px 12px #000;
	visibility: hidden;
}

#main-nav li li:hover ul {
	visibility: visible;
}

#main-nav ul li a .basket-buttongrad {
	padding: 3px 6px;
	background-image: linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -o-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #303030 30%, #505050 60%);
	border-radius: 10px;
	position: absolute;
	right: 60px;
	top: 10px;
	height: 15px;
	line-height: 15px;
}

#main-nav ul li a:hover .basket-buttongrad,.flyout-menu.action-menu ul li a:hover,.dark-buttongrad:hover,.light-buttongrad
	{
	color: #333333;
	background-image: linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	border-radius: 10px;
}

/** Zoom bar. */
.zoom-bar {
	text-align: center;
}

.zoom-bar .dark-buttongrad {
	padding: 6px 9px;
}

/** Fly out menu. */
#flydown-menu li.button-wrap {
	position: relative;
	float: left;
	width: 90px;
	height: 25px;
}

#flydown-menu li.last {
	margin-left: 5px;
}

#flydown-menu a.flydown-handle {
	height: 24px;
	line-height: 24px;
	width: 80px;
	display: block;
	border: 1px solid #BBBBBB;
	color: #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	padding-left: 8px;
	position: absolute;
	background-color: #FFFFFF;
}

#flydown-menu a.menu-open {
	padding-bottom: 18px !important;
	color: #FFFFFF;
	outline: none;
	background-image: linear-gradient(bottom, #444444 15%, #555555 69%)
		!important;
	background-image: -o-linear-gradient(bottom, #444444 15%, #555555 69%)
		!important;
	background-image: -moz-linear-gradient(bottom, #444444 15%, #555555 69%)
		!important;
	background-image: -webkit-linear-gradient(bottom, #444444 15%, #555555 69%)
		!important;
	background-image: -ms-linear-gradient(bottom, #444444 15%, #555555 69%)
		!important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border: 1px solid #000000;
}

#flydown-menu a.menu-open span {
	background-image: url('images/up.png') !important;
}

.flyout-menu {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	display: none;
	position: absolute;
	top: 44px;
	width: 400px;
	z-index: 100;
	border: 1px solid #444444 !important;
	color: #777;
	font-size: 10px;
}

.flyout-menu.right {
	right: 0;
}

#flydown-menu .flyout-section {
	background-image: linear-gradient(center bottom, #444444 30%, #4E4E4E 69%);
	background-image: -o-linear-gradient(center bottom, #444444 30%, #4E4E4E 69%);
	background-image: -moz-linear-gradient(center bottom, #444444 30%, #4E4E4E 69%);
	background-image: -webkit-linear-gradient(center bottom, #444444 30%, #4E4E4E 69%);
	background-image: -ms-linear-gradient(center bottom, #444444 30%, #4E4E4E 69%);
	border-bottom: 1px solid #333333;
	border-top: 1px solid #555555;
	position: relative;
	padding: 18px;
}

#flydown-menu .controls {
	position: absolute;
	top: 30px;
	left: 125px;
	width: 140px;
}

#flydown-menu .controls .control {
	margin-bottom: 10px;
}

#flydown-menu .label {
	margin: 3px 0px 0px 0px;
	width: 75px;
	float: left;
	display: block;
	color: #FFFFFF;
	font-weight: 200;
}

#flydown-menu .dark-buttongrad {
	position: absolute;
	top: 15px;
	right: 15px;
}

#flydown-menu .add-overlay {
	height: 60px;
	padding: 0;
}

.flyout-menu.action-menu {
	width: 160px;
	right: 0;
	top: 30px;
}

.flyout-menu.action-menu ul {
	background-image: linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -o-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -moz-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -webkit-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
	background-image: -linear-linear-gradient(center bottom, #303030 12%, #4E4E4E 69%);
}

.flyout-menu.action-menu ul li {
	height: 30px;
	border-bottom: 1px solid #1A1A1A;
	border-top: 1px solid #484848;
}

.flyout-menu.action-menu ul li a {
	line-height: 30px;
	color: #C4C4C4;
	text-decoration: none;
	padding: 0px 0px 0px 30px;
	display: block;
}

.flyout-menu.action-menu ul li a span {
	background: url('images/action-menu-sprite.png') no-repeat 3px 6px;
	display: block;
	float: left;
	height: 24px;
	left: 3px;
	position: absolute;
	width: 24px;
}

.flyout-menu.action-menu ul li.copy-link span {
	background-position: 4px -83px;
}

.flyout-menu.action-menu ul li.promote span {
	background-position: 4px -25px;
}

.flyout-menu.action-menu ul li.add-to-basket span {
	background-position: 4px -53px;
}

.flyout-menu .sliderbar {
	width: 60px;
	float: left;
	margin: 5px 0px 0px 5px;
}

#flydown-menu .settings .control {
	width: 50%;
	float: left;
}

#flydown-menu .settings .control .label {
	margin-right: 10px;
}

/** Global buttons. */
.dark-buttongrad {
	color: #FFFFFF !important;
	text-decoration: none;
	padding: 6px 18px;
	background-image: linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -o-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #333333 30%, #505050 60%);
	border-radius: 3px;
	border: 1px solid black;
}

.dark-buttongrad:hover {
	color: #000000 !important;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
}

.light-buttongrad {
	padding: 6px 18px;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
}

.light-buttongrad:hover {
	color: #cccccc;
	padding: 6px 18px;
	background-image: linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -o-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #333333 30%, #505050 60%);
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	background-image: -o-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #333333 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #333333 30%, #505050 60%);
}

.tooltip-fulscreen {
	margin: 0px auto;
	text-align: center;
	border-radius: 3px;
	width: 30%;
	padding: 20px;
}

.btn {
	display: inline-block;
	width: 25px;
	text-indent: -100em;
	overflow: hidden;
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn span {
	display: block;
	height: 25px;
	background: url('images/editmenu-buttons.png') no-repeat;
}

.btn:hover,.btn.menu-open,.light-buttongrad:hover,.light-buttongrad.active
	{
	border-color: #000000;
	background-image: linear-gradient(bottom, #333333 9%, #555555 60%);
	background-image: -o-linear-gradient(bottom, #333333 9%, #555555 60%);
	background-image: -moz-linear-gradient(bottom, #333333 9%, #555555 60%);
	background-image: -webkit-linear-gradient(bottom, #333333 9%, #555555 60%);
	background-image: -ms-linear-gradient(bottom, #333333 9%, #555555 60%);
}

.btns {
	padding-left: 5px;
	float: left;
	position: relative;
}

.btns .btn {
	float: left;
	margin-left: 5px;
}

.btn.menu-open {
	padding-bottom: 10px;
}

.inp-text {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: #333333;
	left: 0;
	padding: 5px 10px 5px 10px;
	border: 1px solid #bbbbbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 4px 4px 4px #EEEEEE;
	-moz-box-shadow: inset 4px 4px 4px #EEEEEE;
	box-shadow: inset 4px 4px 4px #EEEEEE;
}

.col-36 {
	width: 36%;
	float: left;
	margin-top: 12px;
	border: 1px solid gray;
}

.col-60 {
	width: 63%;
	float: left;
}

.data-wrap .inp-text {
	width: 75%;
	float: left;
}

.data-wrap {
	padding: 6px;
	border: 1px solid #FFFFFF;
	margin: 0px 0px 6px -6px;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.dark-buttongrad.small {
	padding: 3px 18px 3px 18px;
}

.tabs-head {
	padding: 10px 20px 00px 20px;
}

.tabs-head .dark-buttongrad {
	float: right;
}

.tabs-head ul {
	float: left;
}

.tabs-head li {
	float: left;
	margin: 0 10px 0 0;
}

.tabs-head li a {
	display: block;
	color: #444444;
	border: 1px solid #C4C4C4;
	background: #FFFFFF url('images/tabs-arrows.png') no-repeat top right;
	text-decoration: none;
	padding: 3px 30px 3px 12px;
	margin-bottom: 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tabs-head .active a,.tabs-head .activeFilter a {
	position: absolute;
	background-position: right -60px;
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 12px;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.tabs-head .activeFilter a {
	position: relative;
	margin-bottom: -1px;
}

.tabs-content {
	background: #FFFFFF;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	padding: 0 24px 24px 0;
}

.tabs-content .export-btns {
	float: right;
}

.radios {
	margin: 30px 0 30px 0;
}

.radios li {
	float: left;
	color: #999999;
	margin: 0 0 0 20px;
	padding-right: 20px;
	position: relative;
}

.radios .radio {
	position: absolute;
	top: 3px;
	right: 0;
}

.text-inputs {
	margin: 0 0 20px 20px;
	border-bottom: 1px solid #EEEEEE;
}

.text-inputs li {
	margin-bottom: 12px;
}

.inp-separator {
	display: block;
	line-height: 24px;
}

.ctnr {
	width: 180px !important;
	height: 180px !important;
	display: table-cell;
	vertical-align: middle;
	background: #F5F5F5;
	border: 1px solid #C4C4C4;
}

.light-buttongrad {
	color: #999999;
	text-decoration: none;
	padding: 6px 24px;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
}

.light-buttongrad img {
	height: 15px;
	margin-right: 10px;
}

.light-buttongrad:hover,.light-buttongrad.active {
	color: #C4C4C4;
	padding: 6px 24px;
	border-radius: 3px;
	border: 1px solid black;
}

.switch {
	border: 1px solid #000000;
	background: #BBBBBB;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cb-enable,.cb-disable {
	border: 1px solid #F5F5F5;
	background-image: linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 15%, #F5F5F5 100%);
	color: transparent;
}

.cb-enable,.cb-disable {
	display: block;
	float: left;
	padding: 3px 9px 0px 9px;
	height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.cb-disable.selected {
	border: 1px solid #444444;
	background-image: linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -o-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #303030 30%, #505050 60%);
	color: #FFFFFF;
}

.cb-enable.selected {
	border: 1px solid #444444;
	background-image: linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -o-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -moz-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -webkit-linear-gradient(bottom, #303030 30%, #505050 60%);
	background-image: -ms-linear-gradient(bottom, #303030 30%, #505050 60%);
	color: #FFFFFF;
}

.switch label {
	cursor: pointer;
}

.sliderbar {
	width: 100%;
	border: 1px solid #000000;
	height: 9px;
	border-radius: 9px;
	background: #333333;
}

.button-wrap {
	margin-left: 10px;
}

.button-plus {
	width: 20px;
	height: 20px;
	margin: 6px 3px 3px -3px;
	text-indent: -100em;
	overflow: hidden;
	cursor: pointer;
	background: url('images/plus.png') no-repeat;
}

/** Action Buttons. */
.action-btns {
	position: absolute;
	top: 0;
	right: -12px;
	padding-left: 12px;
	z-index: 6;
}

.action-btn:hover {
	background-position: 0 -34px;
}

.action-btn span {
	display: block;
	width: 9px;
	height: 9px;
	background: url('images/plus.png') no-repeat;
	position: absolute;
	top: 12px;
	left: 18px;
	text-indent: -100em;
	overflow: hidden;
}

.action-btns .action-btn.plus span {
	left: 18px;
}

.action-btns .action-btn.minus span {
	left: 12px;
}

.action-btn.minus span {
	background-image: url('images/minus.png');
}

.action-btn.down span {
	background-image: url('images/down.png');
}

.data-annotation-head>h3 {
	padding-left: 2%;
	width: 98%;
}

.tabs-content {
	background: #fff;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	padding: 0 20px 10px 0;
}

.tabs-content .export-btns {
	float: right;
}

#filterMenu {
	height: 90px;
	margin: 5px 10px 15px 10px;
}

#sortMenu {
	height: 30px;
	margin: 5px 10px 15px 10px;
}

#filterMenu table,#sortMenu table {
	width: 100%;
}

#filterMenu table select,#filterMenu table input {
	width: 100%;
}

.annotationsContent {
	position: absolute;
	border-top: 1px solid gray;
}

.comments>div {
	overflow: hidden;
	border-bottom: 1px solid #cecece;
}

.add-comment-btn {
	min-height: 20px;
	min-width: 20px;
	position: absolute;
	background-image: url("../images/reply_count.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	z-index: 100;
}

.comment-box {
	position: absolute;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	width: 450px;
	height: auto;
	z-index: 10000;
	padding: 5px 5px 0px 5px;
	display: none;
}

.comment-post-btn {
	float: right;
}

.comments {
	position: absolute;
}

.comments,.comments table,.comments>div {
	width: 100%;
}

.comments a.trigger {
	background-image: url('images/down.png');
	background-repeat: no-repeat;
	padding-left: 15px;
}

.comments a.trigger.open {
	background-image: url('images/up.png');
}

.comments .commentListWrapper {
	background-color: #EEEEEE;
	border: 1px solid #F5F5F5;
	position: absolute;
	z-index: 10000;
	height: auto;
	width: 96%;
	left: 2%;
}

.comments .commentListWrapper img {
	border-width: 0px;
	cursor: pointer;
	float: right;
	height: 15px;
	width: 15px;
}

.comments .commentListWrapper>img {
	height: 12px;
	width: 12px;
}

.comments .commentListWrapper hr {
	border-style: dashed;
	border-color: #cecece;
	border-width: 1px 0px 0px 0px;
}

.comments table {
	border-width: 0px;
}

.comments .indent {
	padding-left: 10%;
}

.comments-wrapper {
	position: relative;
}

.comment-title-input,.comment-editor {
	margin: 5px 0px 0px 0px;
	width: 100%;
	display: block;
	border: 1px solid #BBBBBB;
}

.comment-post-btn,.comment-cancel-btn {
	float: right;
	margin: 5px;
}

.rowSelected {
	background-color: #BBBBBB !important;
}