build/
!/docker/build
dist/
jspm_packages/
node_modules/
sublime.sublime-workspace
.sass-cache/
.project
coverage/
reports/
.sonar/
build-instrumented/
build-instrumented-tmp/
.idea/
*.iml
npm-debug.log
allure-*/