<div class="model-field-type-attribute">
  <model-select-attribute ng-if="::modelFieldTypeAttribute.selectConfig"
                          config="::modelFieldTypeAttribute.selectConfig"
                          context="modelFieldTypeAttribute.context"
                          editable="modelFieldTypeAttribute.editable"
                          attribute="modelFieldTypeAttribute.attribute"
                          on-change="modelFieldTypeAttribute.onValue()"></model-select-attribute>
</div>