<div class="model-property-type-attribute">
  <model-select-attribute ng-if="::modelPropertyTypeAttribute.selectConfig"
                          config="::modelPropertyTypeAttribute.selectConfig"
                          context="modelPropertyTypeAttribute.context"
                          editable="modelPropertyTypeAttribute.editable"
                          attribute="modelPropertyTypeAttribute.attribute"
                          on-change="modelPropertyTypeAttribute.onValue()"></model-select-attribute>
</div>