@import "../../style/variables";
@import "../../style/_mixins.scss";

.model-import-panel {
  margin: 1rem auto;

  .file-input {
    display: none;
  }

  .selected-files {
    margin-top: 1rem;
  }

  .import-message {
    width: 26%;
  }

  .import-section {
    display: inline-flex;

    .import-types {
      min-width: 250px;
      margin-right: 1rem;
    }

    .import-files {
      margin-right: 1rem;
    }

    .import-controls {
      display: inline-flex;

      .import-button {
        margin-right: $default-gap;
      }
    }
  }

  .download-ontology {
    float: right;
  }

  .filter-field {
    margin: 10px 0 10px;
  }

  .panel {
    .panel-heading {
      cursor: pointer;

      .panel-caret {
        padding-right: $default-gap;
      }
    }

    .panel-body {
      padding: 0;
    }
  }

  table {
    margin-bottom: 0;

    thead > tr > {
      th {
        background-color: $color-darker-tone-05;
        vertical-align: text-top;
      }

      th.selection-cell {
        vertical-align: top;
      }
    }

    // some identifiers are long (without spaces) and the browser cannot split break them automatically
    td {
      @include word-wrap();
      // Force breaking
      word-break: break-all;
    }
  }

  .selection-cell {
    vertical-align: baseline;

    i {
      margin-top: -2px;
      margin-left: 2px;
    }
  }

}