@import "../../../style/reusables";

@mixin set-icons-size($size) {
  .header-icon {
    img {
      object-fit: contain;
      max-width: $size;
    }
  }
}

@mixin icons-size($size) {
  #{'&.icon-'+ $size} {
    @include set-icons-size($size+px);
  }
}

.datatable-widget {
  .panel.no-icons .instance-header .instance-data {
    &:not(.header-icon) {
      margin-left: 0.3em;
    }
  }

  .instance-selector {
    padding: 6px;
    .instance-suggest {
      width: 100%;
    }
  }

  .instance-data > span:first-child {
    margin-left: 0.3em;
  }

  // prevent scroll bar to be placed at the begining of the table when radiobutton or checkbox is clicked
  label input {
    display: none;
  }

  // This fix horizontall scrollbar issue under Safari and make it visible
  ::-webkit-scrollbar {
    appearance: none;
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $table-border-color;
  }

  @include safari9AndAbove() {
    ::-webkit-scrollbar {
      height: 0;
    }
  }

  .panel-body {

    @include safari9AndAbove() {
      overflow-x: scroll;

      ::-webkit-scrollbar {
        height: 10px;
      }
    }

    > div {
      width: 100%;
      overflow-x: auto;
    }

    .table-toolbar:empty,
    .table-footer:empty {
      display: none;
    }

    .table-toolbar {
      width: 100%;
      border-bottom: 1px solid $table-border-color;
      background-color: $toolbar-background-color;

      .item {
        padding: 3px 12px;
      }
    }

    .table-header {
      display: flex;
      flex-wrap: nowrap;
      background-color: $color-darker-tone-05;
      border-bottom: 2px solid $table-border-color;

      .sort-icon {
        position: absolute;
        right: 10px;
        cursor: pointer;
        i {
          opacity: 0.4;

          &.fa-sort-asc, &.fa-sort-desc {
            opacity: 0.9;
          }
        }
      }

      > .header-cell {
        display: flex;
        flex-grow: 1;
        min-width: $table-column-min-width;
        border-right: 1px solid $table-border-color;

        .filter {
          padding: 3px 12px;
          border-bottom: 1px solid $table-border-color;
        }

        .title-cell {
          width: 100%;

          /* for column title and caret proper visualization */
          display: flex;
          justify-content: space-between;
          padding: 7px 12px;
          @include media-font-size();
          font-weight: bold;
          @include word-wrap();
        }

        &.dragged {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.5;
          z-index: 2000;
        }

        .sort-order {
          padding-right: 5px;
        }
      }

      > div:last-child {
        border-right: none;
      }

      .placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;

        &:before {
          position: absolute;
          top: -5px;
          left: -5px;
          width: 0;
          height: 0;
          content: "";
          border: 5px solid transparent;
          border-left-color: #337ab7;
          border-right: none;
        }
      }
    }

    .table-body {
      &.stripe {
        .form-wrapper {
          &:nth-child(even) {
            background-color: $color-darker-tone-05;
          }
        }
      }

      .form-wrapper {
        //will be needed for future tooltip styling.
        .form-field:not(.preview-field):not(.print-field) {
          //remove inherited styling from form-wrapper.scss which breaks DTW styling.
          margin: 0;
          .input-group {
            width: 100%;
            right: 0;
          }

          .instance-box .preview {
            right: 0;
          }
        }

        .instance-header-wrapper {
          > span {
            width: 100%;
          }
          //IE10-11 hack to fix CMF-19560
          @include internet-explorer-11() {
            padding: 0.2px;
          }

          .header-container {
            .instance-header {
              min-width: 0;
              @include fit-header-inside-container();

              .instance-data:last-child {
                .badge {
                  display: inline-block;
                }
              }
            }
          }

          .btn-group.actions-menu {
            position: inherit;
            padding-right: 8px;
            min-width: 0;

            @include internet-explorer-11() {
              // actions menu is hidden but takes space.
              &.ng-hide {
                display: none !important;
              }
            }
            .dropdown-menu {
              right: auto;

              .loading {
                // for more accurate menu positioning
                min-width: 200px;
              }
            }
          }
        }

        .object-control-wrapper .form-field {
          .instance-box {
            width: 100%;
            > * {
              min-width: 0;
            }

            .instance-box-header {
              width: 100%;
              @include fit-header-inside-container();

              .badge {
                display: inline-flex;
              }
            }
          }
        }

        .grid-on > div {
          border-right: 1px solid $table-border-color;
          border-bottom: 1px solid $table-border-color;
        }

        .grid-off > div {
          border-right: none;
          border-bottom: 1px solid transparent;
        }

        .grid-vertical > div {
          border-right: 1px solid $table-border-color;
          border-bottom: none;
        }

        .grid-horizontal > div {
          border-right: none;
          border-bottom: 1px solid $table-border-color;
        }

        .input-datetime-wrapper, .codelist-wrapper {
          .preview-field {
            left: 0;
            width: 100%;
          }
        }

        .actions-menu {
          visibility: hidden;
        }

        &:hover {
          background-color: $table-row-background-color-hover !important;

          .actions-menu {
            visibility: visible;
          }
        }
      }

      .form-wrapper > div .form-group {
        min-width: $table-column-min-width;
        flex-basis: unset;
      }

      .form-wrapper > div .form-group:last-child {
        border-right: none;
      }

      form:last-child .form-group {
        border-bottom: 1px solid $table-border-color;
      }

      .instance-header {
        .instance-icon {
          img {
            margin-top: -5px;
          }
        }
        .instance-data {
          vertical-align: 0;

          @include icons-size(16);
          @include icons-size(64);

          .lock-label {
            padding-right: 0.3em;
          }

          span:not(.header-icon):not(.lock-label) span:not(.badge) {
            vertical-align: bottom;
          }
        }

        .label {
          white-space: normal;
        }
      }

      .form-control {
        @include media-font-size();
      }

      .has-error {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          border-top: 6px solid red;
          border-left: 6px solid white;
          width: 0;
        }

        .form-control {
          border: 1px solid #c2c2c2;
        }

        /* remove red border around datatime field and red color in background */
        .datetime-field {
          border: 1px solid $table-border-color;
        }
        .datetime-picker .input-group-addon {
          border: 1px solid $table-border-color;
          background-color: #eee;
        }

        /* remove red border around dropdowns */
        .select2-container .select2-selection {
          border-color: $table-border-color;

          .select2-selection__arrow,
          &:hover .select2-selection__arrow {
            border-left-color: $table-border-color;
          }

          .select2-selection__arrow {
            border: 1px solid $table-border-color;
            background-color: #eee;
            transition: background-color 0.3s ease 0s;
          }
        }
      }
    }

    .table-footer {
      text-align: center;
    }
  }

  .tooltip {
    position: fixed;
    border: 0 !important;
  }

  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    text-align: center;
    text-decoration: none;
    background-color: $tooltip-background-color;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 0;
  }

  .tooltip-arrow {
    border-top-color: $tooltip-arrow-color !important;
  }

  //so far there is no styling decision for DTW,but it must have this class;
  .datatable-tooltip {
    display: none !important;
  }

  .ui-resizable-handle {
    margin-right: 5px;
  }
}
