@import "../../style/reusables";

.resizable-input {
  border: 0;
  // Top border is needed to perevent problems with IE11 - CMF-27689
  border-top: 1px solid transparent;
  height: 20px;
  min-width: 10px;
  cursor: default;
}

.selected-input:focus {
  border: 1px solid $input-border-focus;
}

// Used to remove clear X in input under IE
.selected-input::-ms-clear {
  display: none;
}
