@import '../../../style/mixins';

$layout-column-editable-border:1px dashed #CCCCCC;

.layout-column{
  @include padding-horizontal(2px);
}

.layout-column + .layout-column {
  margin-left: 6px;
}

.layout-column-editable{
  @include round-border(5px);
  border:$layout-column-editable-border;
  padding:5px 0 0 5px;
}
.layout-row{
  @include padding-horizontal(0);
}