@import "../../style/variables";

.datetime-picker {
  .datetime input::placeholder {
    color: $placeholder-color;
    opacity: 1;
  }
}
//fixes the picker when is hidden behind a modal because
//it is built in an incorrect place in the DOM.
.bootstrap-datetimepicker-widget.dropdown-menu {
  z-index: 1051;
}
