<div class="datetime-picker">
  <div class='input-group datetime'>
    <input type='text' class="form-control" placeholder="{{::datetimePicker.config.placeholder | translate}}{{::datetimePicker.config.formatPlaceholder}}"
           ng-class="::datetimePicker.config.cssClass"
           ng-disabled="datetimePicker.isDisabled()"/>
    <span class="input-group-addon">
      <span class="fa" ng-class="{'fa-calendar': !datetimePicker.config.hideDate, 'fa-clock-o': datetimePicker.config.hideDate && !datetimePicker.config.hideTime}"></span>
    </span>
  </div>
</div>