.extensions-panel {
  display: flex;

  .nav {
    margin-right: 0.5em;
    li > a {
      padding: 10px;
    }
  }

  .extensions {
    width: 100%;
    // forcing min-width so flex-item
    // takes its parent width instead of children
    min-width: 0;
  }

}