@import "../../../../style/variables";

.model-list {

  .model-validation-log {
    margin-left: 4 * $default-gap;

    .model-error {
      color: #b0000b;
      margin-bottom: $default-gap;
    }

    .model-warning {
      color: #a49200;
      margin-bottom: $default-gap;
    }
  }
}