@import "../../../../style/variables";

.model-list {

  .select-all, .deselect-all {
    text-decoration: none;
  }

  .model-item-wrapper {

    .model-item {

      .model-data-section {
        display: flex;
        color: $link-color;

        .select-control {
          left: 0;
          position: absolute;
          top: 50% !important;
          transform: translateY(-50%);
        }
      }
    }

    &:last-child {
      // Bootstrap's table lacks a bottom border for the last row.
      border-bottom: 1px solid $idoc-tabs-border-color;
    }
  }
}