<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <jmxConfigurator />

    <property name="logDestinationDirectory" value="/opt/graphdb/logs" />
    <property name="defaultPattern" value="timestamp: %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} || level: %p || class: %c || thread: %t || message: %m %ex%n" />
    <property name="encoding" value="UTF-8" />

    <appender name="MainLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/main-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/error-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Enterprise log. Contains the cluster-related logs -->
    <appender name="EnterpriseLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/enterprise-log-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="HttpLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/http-log-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="QueryLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/query-log-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="SlowQueryLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDestinationDirectory}/slow-query-log-%d{yyyy-MM-dd}.kv.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <!-- Enterprise loggers. Additivity is set to "false" so that the messages do not appear in the main log as well -->
    <logger name="com.ontotext.trree.replicationcluster" level="DEBUG" additivity="false">
        <appender-ref ref="EnterpriseLog"/>
    </logger>

    <logger name="com.ontotext.repository.http" level="DEBUG" additivity="false">
        <appender-ref ref="EnterpriseLog"/>
    </logger>


    <!-- HTTP logger -->
    <logger name="com.ontotext.trree.util.Http" level="DEBUG" additivity="false">
        <appender-ref ref="HttpLog"/>
    </logger>


    <!-- Log operations on the master or/and the workers. Set to "DEBUG" level for logging all operations.
         Will log exceptions on "ERROR" level. Additivity is set to "false" to prevent the messages
         from cluttering the other logs. -->
    <logger name="com.ontotext.trree.replicationcluster.ClusterOperation" level="DEBUG" additivity="false">
        <appender-ref ref="QueryLog"/>
    </logger>
    <logger name="com.ontotext.trree.query.LoggingClosableIteration" level="DEBUG" additivity="false">
        <appender-ref ref="QueryLog"/>
    </logger>

    <!-- Log slow queries on "WARN" level. Queries are deemed "slow" if they take more than "SlowOpThresholdMs" from the
          master JMX bean. Set the level to "OFF" to stop this log. Additivity is set to "false" to prevent the messages
          from cluttering the other logs. -->
    <logger name="slow-queries" level="WARN" additivity="false">
        <appender-ref ref="SlowQueryLog"/>
    </logger>

    <root>
        <level value="${graphdb.logger.root.level:-INFO}"/>
        <appender-ref ref="MainLog"/>
        <appender-ref ref="ErrorLog" />
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Make some of the more verbose loggers less chatty -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.github.ziplet" level="WARN"/>
    <logger name="springfox.documentation" level="WARN"/>

    <!-- OpenRefine loggers be less verbose -->
    <logger name="CsvExporter" level="WARN"/>
    <logger name="FileProjectManager" level="WARN"/>
    <logger name="HistoryEntry" level="WARN"/>
    <logger name="ImportingParserBase" level="WARN"/>
    <logger name="JsonParser" level="WARN"/>
    <logger name="ProjectManager" level="WARN"/>
    <logger name="RecordModel" level="WARN"/>
    <logger name="TreeImportUtilities" level="WARN"/>
    <logger name="velocity" level="WARN"/>
    <logger name="Velocity.*" level="WARN"/>
    <logger name="XmlImportUtilities" level="WARN"/>
    <logger name="binning_clusterer" level="WARN"/>
    <logger name="butterfly" level="WARN"/>
    <logger name="butterfly.*" level="WARN"/>
    <logger name="command" level="WARN"/>
    <logger name="compute-clusters_command" level="WARN"/>
    <logger name="create-import-job_command" level="WARN"/>
    <logger name="create-project_command" level="WARN"/>
    <logger name="get-scatterplot_command" level="WARN"/>
    <logger name="import-project_command" level="WARN"/>
    <logger name="importing" level="WARN"/>
    <logger name="importing-controller_command" level="WARN"/>
    <logger name="importing-utilities" level="WARN"/>
    <logger name="javascript" level="WARN"/>
    <logger name="kNN_clusterer" level="WARN"/>
    <logger name="open" level="WARN"/>
    <logger name="office" level="WARN"/>
    <logger name="project" level="WARN"/>
    <logger name="project_metadata" level="WARN"/>
    <logger name="project_metadata_utilities" level="WARN"/>
    <logger name="project_utilities" level="WARN"/>
    <logger name="recon-config" level="WARN"/>
    <logger name="recon-operation" level="WARN"/>
    <logger name="refine" level="WARN"/>
    <logger name="refine-standard-recon" level="WARN"/>
    <logger name="refine_clientSideResourceManager" level="WARN"/>
    <logger name="scatterplot_facet" level="WARN"/>

    <!-- GeoSPAQRL related deps be less verbose -->
    <logger name="hsqldb.*" level="WARN"/>
    <logger name="org.geotoolkit.*" level="WARN"/>
</configuration>
