<div class="container">
  <h4>Order Toolbar</h4>
  <div class="row">
    <div class="col-md-12">
      <seip-order-toolbar id="base-order-toolbar"
                          disabled="orderToolbarStub.disabled"
                          order-by="orderToolbarStub.config.orderBy"
                          order-by-data="orderToolbarStub.config.orderByData"
                          order-direction="orderToolbarStub.config.orderDirection"
                          on-order-changed="orderToolbarStub.onOrderChanged(params)"></seip-order-toolbar>

      <div id="toolbar-data" style="padding-top: 25px">
        <span id="order-by">{{ orderToolbarStub.orderBy }}</span>
        <span id="order-direction">{{ orderToolbarStub.orderDirection }}</span>
      </div>

      <div id="toolbar-controls">
        <button id="toggle-toolbar" ng-click="orderToolbarStub.toggleToolbar()">Toggle Toolbar</button>
      </div>
    </div>
  </div>
</div>