@import "jspm_packages/npm/font-awesome@4.6.3/scss/_variables.scss";
@import "jspm_packages/npm/font-awesome@4.6.3/scss/_mixins.scss";

.object-browser {

  .highlighted {
    text-decoration: underline;
  }

  .jstree-node {
    list-style-type: none;
  }

  .jstree-anchor {
    padding: 0;
    outline: none;
    cursor: default;

    .jstree-checkbox {
      @include fa-icon;
      cursor: pointer;
      color: black;
    }

    .jstree-checkbox:before {
      content: $fa-var-square-o;
      padding-right: 2px;
    }

    .lock-label {
      padding-right: 0.5em;
    }
  }

  .jstree-anchor.jstree-checked {
    .jstree-checkbox:before {
      content: $fa-var-check-square-o;
      padding-right: 2px;
    }
  }

  .hide-checkbox {
    .jstree-checkbox, .jstree-themeicon {
      display: none;
    }
  }

  .jstree-open > .jstree-icon, .jstree-closed > .jstree-icon, .jstree-leaf > .jstree-icon {
    @include fa-icon;
    cursor: pointer;
    font-size: 8px;
    color: #999;
    vertical-align: middle;
  }

  .jstree-leaf > .jstree-icon {
    font-size: 4px;
  }

  .jstree-open > .jstree-icon:before {
    content: $fa-var-chevron-down;
    padding-right: 5px;
  }

  .jstree-closed > .jstree-icon:before {
    content: $fa-var-chevron-right;
    padding-right: 5px;
  }

  .jstree-leaf > .jstree-icon:before {
    content: $fa-var-circle;
    padding-right: 7px;
  }

  .jstree-container-ul {
    padding: 0;
  }

  .jstree-children {
    padding: 0;
    margin-left: 8px;
  }
}