<!DOCTYPE html>
<html>
<head>
  <title>SandBox: Search</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    paths: {
      'services/rest/definition-service': 'sandbox/services/rest/definition-service.stub.js',
      'sandbox/services/rest/search-service.data.json': 'sandbox/search/components/search/search-data.json',
      'services/rest/search-service': 'sandbox/services/rest/search-service.stub.js',
      'search': 'sandbox/search/components/search/search.stub.js'
    },
    modules: ['style/main.css!css', 'search']
  });
</script>

<div class="container">
  <search-stub></search-stub>
</div>
</body>
</html>