@import "../../style/variables";
@import '../../style/mixins';

#topHeader {
  z-index: 100;
  nav {
    background: $top-header-primary-color;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-brand {
      @include media-font-size();
      margin: auto;
      display: flex;
      align-items: center;

      img {
        max-height: $nav-image-container-size;
      }
    }
  }
  .navbar {
    min-height: $navbar-height;
  }
}

.menu-on-top {
  #topHeader {
    width: 100%;
    min-height: 0;
    height: auto;
    overflow: visible;

    nav {
      border-radius: 0;
      border: 0;
    }
  }
}

.fixed-header {
  #topHeader {
    height: $navbar-height;
    position: fixed;
    top: 0;
  }
}
