@import "../../../../style/variables";

.model-header-view {

  .panel-default {
    padding: 0;
    height: auto;

    .panel-heading {
      > .fa {
        width: 1em;
      }

      .panel-title {
        flex-grow: 3;

        .inherited {
          color: $link-color;
          font-size: 75%;
        }
      }

      .controls {
        display: flex;

        > * {
          height: 75%;
          margin-right: $default-gap;
        }
      }
    }

    .panel-body {
      padding: 0;
    }
  }
}