/* =============================================================================
		   			-- PM Tool styles --
   ========================================================================== */

/* =============================================================================
   project details page
   ========================================================================== */
   
.object-details .project-metadata-panel {
    text-align: left;
}

.object-details.new-project-panel .object-facets-column {
	margin-top: 0px;
}

.object-details .project-data {
	float: left;
	width: 67%;
	position:relative;
}

.buttons-panel.new-project-buttons {
    border-top: 1px solid #cccccc;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
}

/* =============================================================================
   project filter styles
   ========================================================================== */

#contextActionsBar .project-browse-input {
	width: 250px;
	margin-right: 10px;
}

#contextActionsBar .new-project-btn .sprite-projectinstance-icon-16 {
	margin-right: 6px;
}
#contextActionsBar .new-project-btn span {
	vertical-align: text-top;
}

.panel-toolbar span.link-row a {
	text-decoration: none;
	font-size: 12px;
	margin-right: 5px;
	color: #4F94C9;
}

.panel-toolbar span.link-row a:hover {
	text-decoration: underline;	
}

.project-tasks-dashlet-lists li {
	position: relative;
}

.project-search-validation-message {
	text-align: center; 
	padding: 10px 0;
}

/* =============================================================================
   common styles
   ========================================================================== */


/* ============================================
	PM Header Title
=============================================== */

.title-header .project-title-header {
	margin-top: 2px;
}

.title-header .project-title-header .instance-header {
	display: table-cell;
	font-size: 13px;
	color: #e0e0e0;
}

.title-header .project-title-header .instance-header .data-cell {
	vertical-align: bottom;
}

.title-header .project-title-header .instance-header a {
	font-size: inherit;
}

.title-header .project-title-header .object-summary {
	padding-left: 5px;
}

.title-header .project-title-header .info-row {
	padding-left: 5px;
}


/* ============================================
	PM Header Menu
=============================================== */

.top-header .main-menu .my-projects {
	background: url("../images/projectinstance-icon-24.png") no-repeat center 2px;
}

.my-project .pm-menu .project-title-favorite {
	padding: 3px 10px !important;
}

.my-project .pm-menu .project-title-favorite img {
	float: left; 
	margin-right: 5px;
}

.my-projects .separator {
	margin: 5px 0px !important;
}


/* =============================================================================
   Generated form field styles
   ========================================================================== */
   
/* overrides the width of select field from cmf-main */
.project-data .dynamic-form-panel select {
	width: auto;
}

/* ============================================
	PM Gantt
=============================================== */

#ganttview-1085 {
	height: 748px;
}

/* =============================================================================
   Select2 elements position fixes
   ========================================================================== */
.rm-container .select2-container .select2-choice {
	margin-top: -3px;
}