/* =============================================================================
		   			-- Resource manager plugin styles --
   ========================================================================== */
/* REMOVE clearfix WHEN MOVED IN PM */
.clearfix:after {
	content: "\0020";
  	display: block;
  	height: 0;
  	clear: both;
  	visibility: hidden;
  	overflow:hidden;
}
   
.rm-container {
	margin-top: 20px;
}

.rm-wrapper {
	text-align: center;
	margin: 0 auto;
	width: 90%;
}

.rm-wrapper .rm-body {
	width: 100%;
	text-align: left;
}

.rm-wrapper .rm-body-panel {
	display: inline-block;
	width: 47%;
    /*height: 400px;*/
	border: 1px solid #cccccc;
}

.rm-wrapper .rm-left-panel {
	float: left;
}

.rm-wrapper .rm-right-panel {
	float: right;
}

.rm-wrapper .rm-middle-panel {
    float: left;
	display: inline-block;
	width: 5%;
    height: 32px;
    vertical-align: top;
    margin-top: 20px;
    background: url('../images/glyphicons_173_play.png') no-repeat center top;
}

.rm-wrapper .rm-toolbar {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
}

.rm-wrapper .rm-first-toolbar {
	height: 36px;
	background-color: #e3ebec;
}

.rm-wrapper .rm-second-toolbar {
	height: 25px;
	background-color: #f6f6f6;
}

.rm-wrapper .rm-filter {
    width: 30%;
    padding: 4px;
    margin-right: 10px;
}

.rm-wrapper .item-type-selector,
.rm-wrapper .sort-type-selector select {
    padding: 3px;
    margin-right: 10px;
}

.rm-wrapper .sort-type-selector.group {
    display: none;
}

.rm-wrapper .switch-order-button {
    display: inline-block;
    margin-top: -5px;
}
.rm-wrapper .switch-order-button:hover {
	text-decoration: none;
}

.rm-wrapper .switch-order-button span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -5px;
    padding: 1px;
    opacity: 0.7;
    border: 1px solid #cccccc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.rm-wrapper .switch-order-button:hover span {
    opacity: 1;
}

.rm-wrapper .switch-order-button.asc span {
}

.rm-wrapper .switch-order-button.desc span {
}

.rm-wrapper .rm-panel-content  {
	/*height: 85%;*/
  	padding: 3px;
	/*border: 1px solid #888888;*/
    background-color: #ffffff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
	-khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
  	overflow-x: hidden;
  	overflow: visible;
  	/*overflow-y: scroll;*/
}

.rm-wrapper .rm-items-list {
  	margin: 0;
}

.rm-wrapper .all-items .row-disabled-true {
    color: #cccccc;
}

.rm-wrapper .all-items .row-disabled-true .item-handler {
    display: none;
}

.rm-wrapper .rm-items-list dt {
  	position: relative;
  	padding: 3px 0;
  	border-bottom: 1px dotted #888888;
}

.rm-wrapper .rm-items-list dt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.rm-wrapper .rm-items-list dt:nth-child(even) {
  	background-color: #EDF5FF;
}

.rm-wrapper .rm-items-list dt:nth-child(odd) {
 	background: #FFFFFF;
}

.rm-wrapper .rm-items-list dt.unassigned-role {
    margin-top: -1px;
    border: 1px solid #ff0000;
}

.rm-wrapper .rm-items-list .item-data {
    float: left;
}

.rm-wrapper .rm-items-list .item-data span {
  	display: block;
}

.rm-wrapper .item-icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
    margin: 5px;
}

.rm-wrapper .user-icon {
    background-image: url("../images/user-icon-32.png");
}

.rm-wrapper .group-icon {
    background-image: url("../images/group-icon-32.png");
}

.rm-wrapper .item-icon img {
	width: 32px;
	height: 32px;
}

.rm-wrapper .item-handler  {
	display: block;
  	position: absolute;
  	width: 16px;
  	height: 16px;
  	top: 50%;
  	right: 5px;
  	margin-top: -8px;
  	cursor: pointer;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center center;
}

.rm-wrapper .item-handler:hover {
    opacity: 1;
}

.rm-wrapper .item-select {
	background-image: url("../images/glyphicons_halflings_097_plus.png");
}

.rm-wrapper .item-remove  {
	background-image: url("../images/glyphicons_halflings_098_minus.png");
}

.rm-wrapper .rm-role-selector-wrapper {
    position: absolute;
    top: 50%;
    right: 35px;
    margin-top: -12px;
}

.rm-wrapper .rm-role-selector-wrapper select {
    padding: 3px;
}

.rm-wrapper .rm-footer {
	width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #cccccc;
}

.rm-wrapper .loading-mask {
    display: none;
    position: absolute;
    background: url("../images/ajax-loader.gif") no-repeat center center rgba(128, 128, 128, 0.5);
}

.rm-errors {
    display: none;
    margin: 10px auto 10px auto;
    width: 89%;
    padding: 0.5%;
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
}

.rm-errors .rm-error {
    margin-left: 15px;
}