@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/caladea/caladea-regular.eot');
  src: local('Caladea Regular'), local('Caladea-Regular'),
  url('/fonts/caladea/caladea-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/caladea/caladea-regular.woff2') format('woff2'),
  url('/fonts/caladea/caladea-regular.woff') format('woff');
}

@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/caladea/caladea-italic.eot');
  src: local('Caladea Italic'), local('Caladea-Italic'),
  url('/fonts/caladea/caladea-italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/caladea/caladea-italic.woff2') format('woff2'),
  url('/fonts/caladea/caladea-italic.woff') format('woff');
}

@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/caladea/caladea-bold.eot');
  src: local('Caladea Bold'), local('Caladea-Bold'),
  url('/fonts/caladea/caladea-bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/caladea/caladea-bold.woff2') format('woff2'),
  url('/fonts/caladea/caladea-bold.woff') format('woff');
}

@font-face {
  font-family: 'Caladea';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/caladea/caladea-bolditalic.eot');
  src: local('Caladea Bold Italic'), local('Caladea-BoldItalic'),
  url('/fonts/caladea/caladea-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/caladea/caladea-bolditalic.woff2') format('woff2'),
  url('/fonts/caladea/caladea-bolditalic.woff') format('woff');
}
