 .status-panel ProgressBar {
 -fx-padding: 10 10 10 10;
}
.status-panel-label {
	-fx-text-fill: black;
	-fx-min-width: 50.0;
}
.log-panel{
	  -fx-font-family: Consolas;
}
.root{
		-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}
.view-panel {
	-fx-font-size: 1.2em;
	-fx-min-width: 50.0;
	-fx-background-color: transparent;
}

.view-panel .tree-cell {
  -fx-background-color: transparent;
  -fx-font-family: Consolas;
  -fx-highlight-fill: #00ff00;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: black;
}

.view-panel .tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #101010;
}

.control-panel {
	-fx-font-size: 1.2em;
	-fx-min-width: 50.0;
	-fx-background-color: transparent;
}

.control-panel .button {
 -fx-background-color: 
  #090a0c,
  linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
  linear-gradient(#20262b, #191d22),
  radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
 -fx-background-radius: 5,4,3,5;
 -fx-background-insets: 0,1,2,0;
 -fx-text-fill: white;
 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
 -fx-font-family: "Arial";
 -fx-text-fill: linear-gradient(white, #d0d0d0);
 -fx-font-size: 12px;
 -fx-padding: 10 20 10 20;
 -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
.control-panel .button:hover {
	-fx-background-color: #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
  		linear-gradient(#20262b, #191d22); 
	-fx-background-insets: -2, -0.3, 1, 2;
	-fx-background-radius: 4, 4, 4, 4;
}

.control-panel #process:pressed {
	-fx-background-color: #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
  		linear-gradient(#20262b, #191d22); 
	-fx-background-insets: -2, -2, 2, 2;
	-fx-background-radius: 6, 6, 6, 6;
}
.control-panel  #process Text {
	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.log-panel {
	-fx-font-size: 1em;
	-fx-min-width: 50.0;
 	-fx-background-color: transparent;
}
 
.tab {
 -fx-background-color: linear-gradient(to top, derive(-fx-base,20%), derive(-fx-base,40%));
}

.menu-bar {
 -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,20%));
}

.tool-bar:horizontal {
-fx-background-color: linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}

 