<style type="text/css">
<% if(!_.isUndefined(styles.brand_primary_color)) { %>
  /* brand_primary_color */
  #topHeader nav {
    background: <%= styles.brand_primary_color %>;
  }

  #mainMenu > ul > li:hover > a,
  #mainMenu > ul > li:hover .caret,
  #mainMenu > ul > li > span.open > a,
  #mainMenu > ul > li:hover > span > a,
  #mainMenu > ul > li > span.open .caret {
    color: <%= styles.brand_primary_color %>;
  }
<%}%>

<% if(!_.isUndefined(styles.brand_secondary_color)) { %>
  #mainMenu > ul > li {
    border-left-color: <%= styles.brand_secondary_color %>;
    border-right-color: <%= styles.brand_secondary_color %>;
  }

  #mainMenu > ul > li:hover {
    background-color: <%= styles.brand_secondary_color %>;
  }

  #mainMenu > ul > li > a,
  #mainMenu > ul > li > span > a,
  #mainMenu > ul > .open > a,
  #mainMenu > ul > .active > a {
    color: <%= styles.brand_secondary_color %>;
  }

  .search-bar .filter-input:focus,
  input.form-control.saved-search-filter:focus,
  .seip-advanced-search .form-control:focus,
  .select2-container:hover .select2-selection__arrow,
  .select2-container:hover .select2-selection--single,
  .select2-container:hover .select2-selection--multiple,
  .select2-container--open .select2-selection__arrow,
  .select2-container--focus .select2-selection--multiple,
  .select2-container--open:hover .select2-selection__arrow,
  .select2-container .select2-selection:hover .select2-selection__arrow,
  .select2-container.select2-container--open .select2-selection__arrow,
  .select2-container.select2-container--open .select2-selection--single,
  .select2-container.select2-container--focus .select2-selection--single,
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: <%= styles.brand_secondary_color %>;
  }

  .comment {
    border-left-color: <%= styles.brand_secondary_color %>;
  }

  .select2-dropdown {
    border-right-color: <%= styles.brand_secondary_color %> !important;
    border-bottom-color: <%= styles.brand_secondary_color %> !important;
    border-left-color: <%= styles.brand_secondary_color %> !important;
  }


  @keyframes bounce_loadingDot {
    0% {
      transform: scale(1);
      background-color: <%= styles.brand_secondary_color %>;
    }

    100% {
      transform: scale(.3);
      background-color: <%= styles.brand_secondary_color %>;
    }
  }

<%}%>

<% if(!_.isUndefined(styles.link_color)) { %>
  /* link_color */
   a,
  .text-info,
  .contextual-help,
  .sidebar .hamburger a i,
  .color-picker .sp-cancel,
  .comment .icon i,
  .comment .comment-header .author,
  .breadcrumb-panel ol > li .header-color,
  .pagination > li > a, .pagination > li > span,
  .recent-activities .recent-activities .icon-user-icon {
    color: <%= styles.link_color %>;
  }

  .permissions-table-head .caption .caption-container .add-user {
    color: <%= styles.link_color %> !important;
  }

  .pagination > .active > a,
  .pagination > .active > span {
    border-color:<%= styles.link_color %>;
  }

  .pagination > .disabled {
    color: <%= styles.link_color_darker %>
  }

  .pagination > .active.disable,
  .pagination > .active.disabled > a,
  .pagination > .active.disabled > span,
  .pagination > .active > a:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    background-color: <%= styles.link_color_darker %>;
    border-color: <%= styles.link_color %>;
  }

  .progress-bar {
    background-image: linear-gradient(to bottom, <%= styles.link_color %> 0%, <%= styles.link_color %> 100%);
  }

  .pagination > .active > a,
  .pagination > .active > span,
  .order-toolbar .order-by .order-by-dropdown-menu .order-by-item:hover,
  .order-toolbar .order-by .order-by-dropdown-menu .order-by-item:focus,
  .comments-widget .panel-body:not(.config) .comments-widget-content .comments-loaded .spinner > div {
    background-color: <%= styles.link_color %>;
  }

  .nav-tabs.nav-stacked.nav-left li.active > a {
    box-shadow: -2px 0 0 <%= styles.link_color %>;
  }

  .nav-tabs > li.active > a {
    box-shadow: 0px -2px 0 <%= styles.link_color %>;
  }

<%} %>

<% if(!_.isUndefined(styles.link_hover_color)) { %>
  /* link_hover_color */
   a:hover,
   a:focus,
  .text-info:hover,
  .contextual-help:hover,
  .sidebar .hamburger a:hover i,
  .comment .comment-header .author:hover,
  .permissions-table-head .caption .caption-container .add-user {
    color:<%= styles.link_hover_color %>;
  }

  .pagination > li > a:hover,
  .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    color: <%= styles.link_hover_color %>;
    border-color:<%= styles.link_hover_color %>;
  }

  .permissions-table-head .caption .caption-container .add-user:hover {
    color:<%= styles.link_hover_color %> !important;
  }

<%}%>

<% if(!_.isUndefined(styles.link_disabled_color)) { %>
  /* link_disabled_color */
  .instance-header.disabled-link .instance-link {
    color: <%= styles.link_disabled_color %>;
  }
<%}%>

<% if(!_.isUndefined(styles.button_color)) { %>
  /* button_color */
  .btn-primary {
    background-color: <%= styles.button_color %>;
    border-color: <%= styles.button_color_dark %>;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice,
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: <%= styles.button_color %>;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-color: <%= styles.button_color_dark %>;
  }

  .form-wrapper .form-control:focus,
  .form-wrapper .select2-container:hover .select2-selection__arrow,
  .form-wrapper .select2-container:hover .select2-selection--single,
  .form-wrapper .select2-container:hover .select2-selection--multiple,
  .form-wrapper .select2-container--focus .select2-selection--multiple,
  .form-wrapper .select2-container--open:hover .select2-selection__arrow,
  .form-wrapper .select2-container .select2-selection:hover .select2-selection__arrow,
  .form-wrapper .select2-container.select2-container--open .select2-selection__arrow,
  .form-wrapper .select2-container.select2-container--open .select2-selection--single,
  .form-wrapper .select2-container.select2-container--focus .select2-selection--single,
  .form-wrapper .select2-container--default.select2-container--focus .select2-selection--multiple,
    /* datetime  button */
  .form-wrapper input[type="text"]:focus + .input-group-addon,
  .form-wrapper .rich-text-wrapper .cke_editable.cke_focus {
    border-color: <%= styles.button_color %>;
  }

  .form-wrapper .select2-container .select2-selection--single,
  .form-wrapper .select2-container .select2-selection__arrow,
  .form-wrapper .select2-container .select2-selection--multiple,
  .form-wrapper .select2-container:hover .select2-selection__arrow {
    border-color: #ccc;
  }

  .form-wrapper .select2-container .select2-selection:hover .select2-selection__arrow {
    border-left-color : #ccc;
  }

  .form-wrapper input[type="text"]:focus + .input-group-addon,
  .bootstrap-datetimepicker-widget .day.active,
  .bootstrap-datetimepicker-widget .day.active:hover,
  .select2-container.select2-container--open .select2-selection__arrow,
  .select2-container.select2-container--open:hover .select2-selection__arrow {
    background-color: <%= styles.button_color %>;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: <%= styles.button_color %>;
    outline-color: <%= styles.button_color %>;
  }

  /* radiobutton and checkbox styling */
  .form-wrapper .radio input:checked + i:after {
    background-color: <%= styles.button_color %>;
    border-color: <%= styles.button_color %>;
  }

  .form-wrapper .checkbox input:checked + i:after {
    color: <%= styles.button_color %>;
  }

  .form-wrapper .radio:hover i,
  .form-wrapper .checkbox:not(.state-disabled):hover i,
  .form-wrapper .radio input:focus + i,
  .form-wrapper .checkbox input:focus + i {
    border-color: <%= styles.button_color %>;
  }

<%}%>

<% if(!_.isUndefined(styles.button_hover_color)) { %>
  /* button_hover_color */
  .btn-primary.active,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover,
  .open > .dropdown-toggle.btn-primary,
  .select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    background-color: <%= styles.button_hover_color %> !important;
    border-color: <%= styles.button_hover_color_dark %> !important;
  }
<%}%>

<% if(!_.isUndefined(styles.button_disabled_color)) { %>
  /* button_disabled_color */
  .btn-primary[disabled="disabled"] {
    background-color: <%= styles.button_disabled_color %> !important;
    border-color: <%= styles.button_disabled_color_dark %> !important;
  }
<%}%>

<% if(!_.isUndefined(styles.tooltip_color)) { %>
  /* tooltip_color */
  .seip-hint-tooltip .tooltip-inner,
  .datatable-widget .tooltip-inner,
  .advanced-search-criteria .tooltip-inner {
    color: <%= styles.tooltip_color %>;
  }

  a[data-tooltip]:hover:after {
    color: <%= styles.tooltip_color %> !important;
  }
<%}%>

<% if(!_.isUndefined(styles.tooltip_background_color)) { %>
  /* tooltip_background_color */
  .seip-hint-tooltip .tooltip-inner,
  .datatable-widget .tooltip-inner,
  .advanced-search-criteria .tooltip-inner {
    background-color: <%= styles.tooltip_background_color %>;
  }

  .datatable-widget .tooltip-arrow {
    border-top-color: <%= styles.tooltip_background_color %> !important;
  }

  a[data-tooltip]:hover:after {
    background-color: <%= styles.tooltip_background_color %> !important;
  }
<%}%>
</style>