.public-component-wrapper {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .powered-by-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

}