@import "../../../style/reusables";

.aggregated-table {

  .panel-body {

    .table-body {
      width: 100%;

      .form-wrapper {
        .grid-on > div {
          border-bottom: 1px solid $table-border-color;
          &:not(:last-child) {
            border-right: 1px solid $table-border-color;
          }
        }

        .grid-off > div {
          border-right: none;
          border-bottom: 1px solid transparent;
        }

        .grid-vertical > div {
          border-bottom: none;
          &:not(:last-child) {
            border-right: 1px solid $table-border-color;
          }
        }

        .grid-horizontal > div {
          border-right: none;
          border-bottom: 1px solid $table-border-color;
        }

        .form-group {
          flex-grow: 1;
          min-width: $aggregated-table-column-min-width;

          > span {
            width: 100%;
          }
        }

        .instance-header-wrapper .instance-data:last-child {
          word-break: break-all;
        }
      }

      .instance-link {
        position: relative;
        top: 2px;
      }

      form:last-child .form-group {
        border-bottom: 1px solid $table-border-color;
      }
    }
  }
}
