@import '../../style/variables';

.chart-wrapper {
  min-width: 200px;

  .chart-header {
    display: flex;
    border-bottom: 1px solid $panel-border-color;

    .chart-title {
      flex-grow: 1;
    }

    .total-count {
      white-space: nowrap;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}
