@import '../../../style/variables';

$comment-reply-background-color: #f5f5f5;
.comments-widget {
  .panel-body:not(.config) {

    .comments-widget-content {
      max-height: 560px;
      position: relative;
      .comments-widget-body {
        position: relative;
        top: 0;
        width: 100%;
        .comments {
          max-height: 500px;
          overflow-y: auto;
          .author {
            font-weight: normal;
            font-size: 13px;
          }
          .comment-reply {
            border-left: none;
            background-color: $color-darker-tone-05;
          }
        }
      }

      .comments-loader {
        display: none;
        position: absolute;
        width: 100%;
        bottom: 20px;

        .spinner {
          margin: 10px auto 0;
          width: 70px;
          text-align: center;
        }

        .spinner > div {
          width: 10px;
          height: 10px;
          background-color: $instance-link-color;

          border-radius: 100%;
          display: inline-block;
          -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }

        .spinner .bounce2 {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
          0%, 80%, 100% {
            -webkit-transform: scale(0)
          }
          40% {
            -webkit-transform: scale(1.0)
          }
        }

        @keyframes sk-bouncedelay {
          0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
          }
        }
      }

      .comments-widget-footer {
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 10px;
        .comments-counter {
          margin-top: 10px;
          text-align: center;
          border-top: solid lightgrey 1px;
        }
      }
    }
  }
}


