.seip-audit-log {
  margin: 1em auto;

  .audit-controls {
    display: flex;
    align-items: center;

    .search-buttons {
      // Pushes the buttons to the right
      margin-left: auto;

      .btn {
        margin-left: 0.5em;
      }
    }
  }

  .audit-table {
    padding-top: 5px;

    th {
      text-align: center;
    }

    .instance-deleted {
      text-decoration: none !important;
      cursor: default;
      color: black;
    }
  }
}