<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>repos</id>
			<repositories>
				<repository>
					<id>main</id>
					<name>main</name>
					<url>http://repo1.maven.org/maven/</url>
				</repository>

				<repository>
					<id>wso2</id>
					<name>wos2</name>
					<url>http://dist.wso2.net/maven2</url>
				</repository>

				<repository>
					<id>activiti</id>
					<name>Activiti</name>
					<url>https://maven.alfresco.com/nexus/content/repositories/activiti/</url>
				</repository>

				<repository>
					<id>alfresco-artifacts</id>
					<url>https://artifacts.alfresco.com/nexus/content/groups/public</url>
				</repository>

				<repository>
					<id>alfresco-releases</id>
					<url>https://maven.alfresco.com/nexus/content/repositories/releases/</url>
				</repository>

				<repository>
					<id>alfresco-artifacts-snapshots</id>
					<url>https://artifacts.alfresco.com/nexus/content/groups/public-snapshots</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>repos</activeProfile>
	</activeProfiles>
</settings>