@import "../../../../../style/mixins";
@import "../../../../../style/variables";

.model-select {
  color: $link-color;
  padding-left: $default-gap * 2;

  button {
    min-width: 20px;
    box-shadow: none;

    &:hover {
      color: invert($link-color);
    }
  }
}