<div class="save-search">
  <input type="text"
         class="form-control save-search-input"
         ng-model="saveSearch.searchTitle"
         placeholder="{{::'search.save.title.placeholder' | translate}}"/>
  <span class="save-search-controls">
    <button class="btn btn-default"
            ng-disabled="!saveSearch.searchTitle"
            ng-click="saveSearch.saveSearch()">
      {{::'search.save.button.title' | translate}}
    </button>
  </span>
  <seip-saved-search-select ng-if="::saveSearch.config.savedSearchSelect.render"
                            config="saveSearch.config.savedSearchSelect"></seip-saved-search-select>
</div>
