@import "../../../style/reusables";
@import "../../../style/mixins";

@mixin odw-form-padding {
  padding: 0.5em;
}

.object-data-widget {

  // no icons styling
  .widget-panel.no-icons {
    .selected-object-header .instance-data:first-child {
      margin-left: 0.5em;
    }
    .form-field.instance-selector {
      right: 0 !important;
    }
  }
  .panel-body {
    .form-wrapper {
      @include odw-form-padding();

      .form-group {
        &.object-control-wrapper {
          .instance-selector {
            display: inline-flex;
            flex-flow: row wrap;
            align-content: flex-start;

            .instance-box {
              min-width: 0;

              .instance-box-header {
                min-width: 0;
                @include fit-header-inside-container();
              }
            }

            .select-instance-btn {
              height: 100%;
            }
          }
        }
        .form-field.preview {
          .show-more-objects, .show-less-objects {
            margin-bottom: -5px;
          }
        }
      }
    }
    .region-wrapper .panel-body {
      @include odw-form-padding();
    }

    .label-hidden, .label-above {
      .seip-hint {
        left: 0;
      }
    }
  }

  // no borders styling
  .no-borders {
    .panel-body {
      .form-wrapper {
        padding-left: 0;
      }
    }

    &.no-header-borders {
      .widget-header {
        padding-left: 0 !important;
      }
    }
  }

  .selected-object-wrapper {
    @include word-wrap();
    padding: 0 0.5em 0 0.3em;

    .selected-object-header {
      @include fit-header-inside-container();
      flex-wrap: nowrap;
      width: 100%;
      padding: 0.5em 0 0.5em 0;
      border-bottom: 2px solid $table-border-color;
      @include internet-explorer-11() {
        .instance-data.icon-64 > span:not(.header-icon) {
          width: 100%;
        }
      }
    }
  }

  // 100% will not cut it for datetime fields in ODW
  .input-group.datetime {
    width: 100.1%;
  }

  .show-more {
    position: relative;
    left: 0.5em;
    bottom: 0.5em;

    i {
      margin-right: 0.3em;
    }
  }
  .no-header .panel-body {
    border-top: 1px solid $panel-border-color;
  }
}
