@import "../../../style/variables";

.seip-pagination {

  .pagination {
    display: flex;
    justify-content: center;
    margin: 0.5em;

    a:hover {
      cursor: pointer;
    }
  }
}

.modal .seip-pagination {
  border-top: 1px solid $idoc-tabs-border-color;

  .pagination {
    margin-bottom: 0;
  }
}