<div class="search-toolbar">
  <seip-results-toolbar class="results-bar-wrapper"
                        ng-if="::searchToolbar.config.renderResultBar"
                        config="::searchToolbar.resultsToolbar"></seip-results-toolbar>

  <seip-order-toolbar class="order-bar-wrapper"
                      ng-if="::searchToolbar.config.renderOrderBar"
                      disabled="searchToolbar.config.disabled"
                      order-by="searchToolbar.orderToolbar.orderBy"
                      order-by-data="searchToolbar.orderToolbar.orderByData"
                      order-direction="searchToolbar.orderToolbar.orderDirection"
                      on-order-changed="searchToolbar.onOrderChanged(params)"></seip-order-toolbar>
</div>