.annotation {
	position: absolute;
	top: 4px;
	right: 50px;
}

.width-field {
	width: 40px;
	height: 20px;
}

.img-widget-action-btn {
	line-height: 15px !important;
	font-size: 14px !important;
	padding: 0.1em 0.5em !important;
}
