@import "../../../../style/variables";
@import "../../style/management-variables";

.model-headers {
  margin-top: $section-top-margin;

  .headers-details {

    .header-controls {
      display: flex;
      justify-content: flex-end;
      margin: 0 $default-gap $default-gap * 2 0;
    }
  }
}