.objectDataWidget {
	text-align: left !important;
}

.objectDataWidget table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 400px;
}

.objectDataWidget td {
	padding-right: 20px;
	vertical-align: bottom;
}

.objectDataConfig {
	padding-top: 10px;
}

.objectDataConfig .checkbox {
	padding-right: 5px;
}

.objectDataWidget .properties-table {
	width: 100%;
}

.objectDataWidget .properties-table caption:not(:empty) {
	padding: 2px 0px 2px 2px;
	border: 1px solid #99BCE8;
	border-collapse: collapse;
	background-color: #D3E1F1;
    background-image: -moz-linear-gradient(center top , #DFE9F5, #D3E1F1);
}

.objectDataWidget .properties-table td {
	border: 1px solid #99BCE8;
	border-collapse: collapse;;
	vertical-align: middle;
	font-size: 12px;
}

.objectDataWidget .title-column {
	width: 30%;
	vertical-align: middle;
}

.objectDataWidget .value-column {
	vertical-align: top;
}

.objectDataWidget .properties-table input {
	width: 80%;
	font-size: 12px;
	background-color: #FFF;
    border: none;
}

.editable-true:focus {
	border: solid 1px #CCCCCC;
	vertical-align: bottom;
}

.action-buttons {
    display: none;
    cursor: pointer;
}

.editable-true:focus + .action-buttons {
	display: inline;
}

.search-object .basic-search-wrapper .search-btn {
	display: block;
}

.search-object {
	float: left; 
	width: 410px; 
}

.search-object .location-select {
	width: 50%;
}

.search-object .object-type {
	margin-left: 20px;
	width: 50%;
}

.object-selector {
	padding-left: 20px; 
	padding-top: 10px;
	text-indent: -25px;
	line-height:70%;
}

.search-object div {
	float: left;
}

.search-object a {
	padding: 20px;
}

.object-type {
	padding-top: 15px;
	line-height:70%;
	padding-right: 10px;
	vertical-align: top;
}

.object-type div {
	padding-bottom: 3px;
}

.object-type span {
	float: left;
	width: 110px;
}

.search-object select {
	float: left; 
	width: 130px;
}

.object-details { 
	float: left;
	padding-left: 20px; 
}

.no-object-found {
	color: red;
}

.object-from-context {
	height: 300px;
}

/* New property */
.objectDataWidget .add-property-btn {
	margin: 2px 0px 6px 0px;
}

.objectDataWidget .new-property-panel {
	padding-top: 5px;
}

.objectDataWidget .new-property-panel .property-type {
	width: 200px;
	padding-top: 20px;
}

.objectDataWidget .new-property-panel .property-value {
	width: 320px;
	vertical-align: middle !important;
}

.objectDataWidget .new-property-panel > * {
	vertical-align: top !important;
}

.new-property-panel .chosen-results{
	height: 100px;
}

.object-data-search-wrapper {
	max-height: 500px;
}