@import "../style/variables";

.tab-sections {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;

  .gutter.gutter-horizontal {
    flex: 0 0 1;
    z-index: 10;
  }
  .idoc-navigation-wrapper {
    min-width: 5px;
    position: relative;
    float: left;
    flex: 0 0 1;

    .fixed-navigation {
      position: fixed;
      overflow-y: auto;
    }
  }
  .idoc-editor-area-wrapper {
    width: 100%;
    min-width: 250px;
    position: relative;
    background-color: $idoc-editor-area-wrapper-background-color;
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
    z-index: 10;

    table {
      word-wrap:break-word;
    }

    * {
      user-select: text;
    }

    &.navigation-active {
      left: 20%;
    }
  }

  .idoc-comments-wrapper {
    min-width: 250px;
  }
}
