@import '../../style/mixins';

.actions-menu {
  margin-left: 5px;

  //Adds the margin only on EDGE and IE because their scroll hides the actions-menu trigger button.
  @include internet-explorer-11-and-edge() {
    margin-right: 1em;
  }

  .button-ellipsis > .fa {
    @include internet-explorer-11() {
      display: inline;
      vertical-align: middle;
    }
  }
  .btn-xs, .btn-group-xs > .btn {
    @include internet-explorer-11() {
      padding-top: 8px;
    };
  }

  .action-link {
    margin-left: 10px;
  }
}

.dropdown-menu > li > .noPermissions {
  color: lightgrey;
}
