@import "../../../../style/mixins";
@import "../../../../style/variables";

.model-details {

  .panel-heading {

    .model-header {
      flex-grow: 1;
    }

    .navigate-model {
      padding-right: $default-gap * 2;
    }

    .restore-field {
      margin-right: $default-gap;
    }
  }

  .collapse {
    display: none;
  }
}