/* =============================================================================
		   			-- Enterprise Management Framework --
   ========================================================================== */

/* Makes the vertical scrollbars to be visible all the time in
order to prevent the page shifting when it disappears */
html {
  	overflow-y: scroll;
  /*overflow-x: hidden;*/
  	min-width: 1249px;
	overflow-x: auto;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: Helvetica,Arial,sans-serif !important; /* force this font to be the default */
	font-size: 13px;
	color: #363636;
	height: 100%;
}

#contentBody, #contentBody #formId {
	height: auto !important;
}

/* Base class for the element with an image from sprite */
.sprite {
	background-image: url(../emfRes/sprites.png);
	display: inline-block;
}

.sprite-projectinstance-icon-16 {
    background-position: 0 -6324px;
    height: 16px;
    margin-bottom: -5%;
    width: 16px;
}

/* =============================================================================
   Base layout styles
   ========================================================================== */

.cmf-container {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0 auto;
	background: inherit;
}

.main-form {
	
}

.top-header {
	padding: 3px 3px 3px 3px;
	background-color: #ffffff;
	font-size: 20px;
	height: 61px;
}

.top-header .logo {
	display: inline-block;
	float: left;
	margin-right: 8px;
	width:45px;
	height:45px;
}

.top-header .logo img{
    padding: 14px;
    padding-top: 5px;
    padding-bottom: 11px;
}

.top-header .logo a {
	display: inline-block;
	cursor: default;
}

.top-header .additional-logo {
	display: inline-block;
	float: left;
	margin-right: 8px;
}

.top-header .admin-menu {
	background: url("../images/administration-icon-24.png") no-repeat center 5px;
}

.header {
	padding: 0px;
	margin: 0px;
}

.content {
	display: table;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.content .content-row {
	display: table-row;
}

.content .empty-content {
	height: 700px;
}

.left-facets-panel {
	display: table-cell;
	height: 100%;
}

.content-body {
	display: table-cell;
}

.with-facets .content-body {
	width: 84.841%;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	background-color: #ffffff;
	color: #888888;
	text-align: center;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

/* =============================================================================
   Main menu styles
   ========================================================================== */

.top-header .main-menu-form {
	float: left;
	display: inline-block;
	height: 100%;
}

.top-header .main-menu {
	display: inline-block;
	height: inherit;
	margin-right: 8px;
}

.top-header .main-menu-right {
	position: absolute;
	top: 0px;
	right: 0px;
}

.top-header .main-menu .menu-item {
	display: inline-block;
	float: left;
	height: inherit;
	padding-top: 3px;
	margin-right: 16px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

html[data-useragent*='MSIE 10'], html[data-useragent*='IE 11'] {
	/* revert to old-school scroll-bar, no hide effect, as result 
	the scroll-bar will never be over the content. */
  	-ms-overflow-style: scrollbar;
}

/* fix for IE10 and IE11 main menu styles */
html[data-useragent*='MSIE 10'] .top-header .menu-item-trigger.dropdown-menu-trigger,
html[data-useragent*='IE 11'] .top-header .menu-item-trigger.dropdown-menu-trigger {
	padding-top: 5px;
}

.top-header .main-menu .dropdown-menu-item .dropdown-menu-list {
	font-size: 12px; 
	position: absolute; 
	top: 47px;
	margin: 0px;
	z-index: 1000;
}

.top-header .main-menu .dropdown-menu-list ul {
	margin: 0px;
}

.top-header .main-menu .dropdown-menu-list li {
	padding-right: 10px;
}

.top-header .main-menu .dropdown-menu-list a {
	width: 100%;
	background: none !important;
	border: none !important;
}

.top-header .main-menu .menu-item-trigger {
	display: block;
	padding-top: 24px;
	font-size: 14px;
	color: #555555;
	text-decoration: none;
}

html[data-useragent*='IE'] .main-menu .menu-item-trigger {
	padding-top: 24px;
}

html[data-useragent*='IE'] .dropdown-menu-item .menu-item-trigger {
	padding-top: 25px;
}

.top-header .main-menu .menu-item-trigger.dropdown-menu-trigger {
	padding-top: 0px;
}

.top-header .main-menu .menu-item-trigger .caret {
	margin-top: -30px;
	margin-left: -7px;
}

.top-header .main-menu .menu-item:hover {
	text-decoration: none;
}

.top-header .main-menu .icon:before {
	float: left;
	left: 50%;
	margin-left: -12px; /* half of the icon size which is 24px */
	font-size: 20px;
}

.top-header .main-menu .icon {
	display: block;
}

.top-header .main-menu .glyphicons.dashboard:before {
	color: #4C6DAA;
}

.top-header .main-menu .glyphicons.search:before {
	color: #8C8C8C;
}

.top-header .main-menu .glyphicon .menu-item-trigger {
	padding-top: 12px;
	font-family: Helvetica,Arial,sans-serif;
}

.top-header .main-menu .submenu {
	display: none;
	position: relative;
	top: 10px;
	padding: 3px;
	background-color: #ffffff;
	box-shadow:         2px 2px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow:    2px 2px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.075);
    -khtml-box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #6ca5ce;
    z-index: 100;
}

.top-header .main-menu ul {
	list-style-type: none;
}

.top-header .main-menu .submenu .submenu-item {
	padding: 0px;
	text-align: left;
	color: #555555;
	font-size: 13px;
}

.top-header .main-menu .submenu-item:hover {
	background-color: #6ca5ce;
}

.top-header .main-menu .submenu-item:hover .menu-link-value {
	color: #ffffff;
}

.top-header .main-menu .submenu .separator {
	display: block;
	margin: 2px 0px;
	border-bottom: 1px solid #aaaaaa;
}

.top-header .main-menu .menu-item .menu-link-value {
	margin: 0 6px;
	color: #555555;
	font-family: Helvetica,Arial,sans-serif;
}

.quick-search {
    display: inline;
    float: left;
    padding: 7px;
    width: 280px;
}

.quick-search-input {
    height: 28px;
    font-size: 16px;
    line-height: 1;
}

html[data-useragent*='Firefox'] .quick-search-input {
	padding: 4px 12px;
}


/* ========================================
	User menu styles
========================================= */
 
.top-header .user-menu {
	display: inline;
	position: relative;
	top: 6px;
}

.top-header .user-menu a {
	text-decoration: none;
	color: #555555;
}

.top-header .user-menu .user-menu-trigger {
	padding-right: 20px;
	background: url("../images/menu-button-arrow.png") no-repeat 100% 70%;
	font-size: 13px;
	cursor: pointer;
}

.top-header .user-menu .user-help-menu-trigger:before {
	position: inherit;
	color: #aaaaaa;
	font-size: 15px;
	margin: 0px;
}

/* override glyph icon style */
.top-header .user-menu .user-help-menu-trigger {
	padding-left: 15px;
}

.top-header .user-menu .user-menu-options {
	display: none;
	position: absolute;
	top: 30px;
	right: 5px;
	width: 150px;
	padding: 3px;
	border: 1px solid #6CA5CE;
	background: #FFFFFF;
    box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -khtml-box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5);
}

.top-header .user-menu .user-menu-options .user-menu-option {
	display: block;
	font-size: 13px;
	cursor: pointer;
}

.top-header .user-menu .user-menu-options .user-menu-option a {
	display: block;
	padding: 2px 6px;
}

.top-header .user-menu .user-menu-options .user-menu-option a:hover {
	background-color: #6CA5CE;
	color: #ffffff;
}

/* ============================================
	Admin menu styles
=============================================== */

.top-header .main-menu .admin-menu .icon {
	position: absolute;
	/* Half of the icon size which is 24px. This works for FF and chrome, IE should be fixed in ie.css */
	margin-left: -12px; 
	margin-top: -1px; /* align according to other menu items which use glyphicon font image */
}

.admin-menu .pm-menu {
	font-size: 12px !important; 
	position: absolute !important; 
	top: 47px !important;
}

.admin-menu .pm-menu li {
	padding-right: 10px;
}

.admin-menu .pm-menu li a{
	width: 100%;
	background: none !important;
	border: none !important;
}

.admin-menu .separator {
	margin: 5px 0px !important;
}


/* ========================================
	JQuery dialog styles
========================================= */

.no-close .ui-dialog-titlebar-close {
	display: none;
}

/* ========================================
	Notifications styles
========================================= */

#notifications {
	display: none;
}

.notifyme {}

.notifyme.ui-dialog {
	padding: 0px;
	background: none;
	background-color: #ffffff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.notifyme .ui-dialog-titlebar {}

.notifyme .ui-widget-header {
	background: none;
	background-color: #E3EBEC;
	border-top: none;
	border-left: none;
	border-right: none;
}

.notifyme .ui-dialog-titlebar-close {}
.notifyme.no-close .ui-dialog-titlebar-close {
	display: none;
}

.notifyme .ui-dialog-content {}

.notifyme .ui-dialog-buttonpane {
	padding: 0px;
	margin: 0px;
	background-color: #E3EBEC;
}

.notifyme .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
	text-align: center;
}

.notifyme .ui-widget-content .ui-state-default {
	background: none;	
}

.notifyme .ui-dialog-buttonpane button {
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin: 3px 5px 3px 0px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.notifyme .ui-dialog-buttonpane button .ui-button-text {
	padding: 3px 6px;
}

.notifyme .ui-dialog-buttonpane button[priority='primary'] {
	background-color: #428BCA;
    border-color: #357EBD;
    color: #FFFFFF;
}

.notifyme .ui-dialog-buttonpane button[priority='primary']:hover, 
.notifyme .ui-dialog-buttonpane button[priority='primary']:focus, 
.notifyme .ui-dialog-buttonpane button[priority='primary']:active {
    background-color: #3276B1;
    border-color: #285E8E;
    color: #FFFFFF;
}

.notifyme .ui-dialog-buttonpane button[priority='secondary'] {
	background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}

.notifyme .ui-dialog-buttonpane button[priority='secondary']:hover, 
.notifyme .ui-dialog-buttonpane button[priority='secondary']:focus, 
.notifyme .ui-dialog-buttonpane button[priority='secondary']:active {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}

.notifyme .ui-widget-content a {
    color: #428bca;
}


/* =============================================================================
   Custom styles for notifications panel header according to the level
   ========================================================================== */

.notifyme.custom.info-message .ui-widget-header {
	background-color: #D9EDF7;
}
.notifyme.custom.warn-message .ui-widget-header {
	background-color: #FCF8E3;
}
.notifyme.custom.error-message .ui-widget-header {
	background-color: #F2DEDE;
}
.notifyme.custom.fatal-message .ui-widget-header {
	background-color: #C9C9C9;
}

.notifyme.custom.info-message .ui-dialog-buttonpane {
	background-color: #D9EDF7;
}
.notifyme.custom.warn-message .ui-dialog-buttonpane {
	background-color: #FCF8E3;
}
.notifyme.custom.error-message .ui-dialog-buttonpane {
	background-color: #F2DEDE;
}
.notifyme.custom.fatal-message .ui-dialog-buttonpane {
	background-color: #C9C9C9;
}

/* Icons in title bar according to notification level. Glyphicons Halflings are used. */
.notifyme.custom .header-icon {
	position: relative;
  	top: 1px;
  	display: inline-block;
  	padding-right: 5px;
  	font-family: 'Glyphicons Halflings';
  	-webkit-font-smoothing: antialiased;
  	font-style: normal;
  	font-weight: normal;
  	line-height: 1;
  	-moz-osx-font-smoothing: grayscale;
}
.notifyme.custom.info-message .header-icon:before {
	content: "\e086";
}
.notifyme.custom.warn-message .header-icon:before {
	content: "\e107";	
}
.notifyme.custom.error-message .header-icon:before {
	content: "\e162";
}
.notifyme.custom.fatal-message .header-icon:before {
	content: "\e104";
}

/* =============================================================================
   Tree header styles
   ========================================================================== */

.tree-header {
	font-size: 14px;
	background-color: inherit;
	color: #888888;
}

.context-data-header .tree-header {
	padding: 5px;
}

.tree-header > div {
	width: 100%;
}

.tree-header a {
	color: #4F94C9;
	text-decoration: none;
	font-size: 13px;
}

.tree-header .instance-header .data-cell a {
	/* Fix IE8 issue with wrong inherited line-height. */
	line-height: 18.56px;
}

.tree-header span[href] {
	font-size: 14px;
}

.tree-header a:hover {
	text-decoration: underline;
}

.tree-header a[href='javascript:void(0)'] {
	color: #888888;
}

.tree-header a[href='javascript:void(0)']:hover {
	text-decoration: none;
	cursor: default;
}

.tree-header .instance-header .before-content,
.tree-header .instance-header .after-content {
	padding: 0px;
}

.tree-header .instance-header .icon-cell,
.tree-header .instance-header .data-cell, 
.recent-activity .icon-cell, .recent-activity .data-cell{
	display: inline-block;
}

.tree-header .instance-header .icon-cell, .recent-activity .icon-cell{
	vertical-align: middle;
	margin-left: 5px;
}

.tree-header .instance-header .data-cell, .recent-activity .data-cell{
	padding: 5px;
	vertical-align: middle;
}

.tree-header .instance-header .icon-cell img{
	max-height: 100px;
}

.recent-activity .data-cell {
	color: #1E3E74;
}

.recent-activity .data-cell .reserve {
	color: #888888 !important;
}

.recent-activity .data-cell img {
	padding: 0px 4px;
	vertical-align: -2px;	
}

.recent-activity .data-cell a {
	color: inherit;
}

.recent-activity .timesince{
	display:block;
	color: #888888;
}

#objectsExplorerContent .objects-tree .x-tree-view{
	overflow: hidden !important;
}

/* =============================================================================
   Tree header styles.
   ========================================================================== */

/* Fix bootstrap style override. */
.tree-header .small {
	font-size: inherit;
}

/* default mode */
.tree-header.default_header .instance-header .data-cell, 
.tree-header.breadcrumb_header .data-cell {
   	padding-left: 10px;
    padding-right: 50px;
    width: 77%;
    
}

.tree-header.breadcrumb_header .current-record .icon-cell, 
.tree-header.breadcrumb_header .current-record .data-cell {
	display: inline-block;	
	vertical-align: middle;
}

.tree-header.breadcrumb_header .current-record .data-cell {
	padding:0 16px;
}
.tree-header.breadcrumb_header .current-record .current-record-content{
	margin-top:5px; 
	padding-top:3px; 
	border-top:1px solid #F0F0F0;
}

.tree-header.breadcrumb_header .current-record .icon-cell img {

}

.tree-header.breadcrumb_header .current-record .data-cell > a:first-child {
	font-size: 17px;
}

.tree-header.breadcrumb_header .current-record {
	display: block;
}

.tree-header.breadcrumb_header .current-record .header-icon {
	margin-right: -5px;
}

.tree-header.breadcrumb_header .current-record a {
	font-size: 15px;
}

.tree-header.breadcrumb_header .last-element a {
   color: #474747;
}

/* compact mode */
.tree-header.compact_header .instance-header {
	padding: 0px 0px 2px 5px;
}

.tree-header.compact_header .instance-header.extended-current {
	margin: 8px 0px 0px 0px; 
	padding: 5px 0px;
	border-top: 1px solid #cccccc;
}

.tree-header.compact_header .instance-header.last {
	padding-bottom: 0px;
}

.tree-header.compact_header .instance-header.current {
	font-weight: bold;
}

.tree-header.compact_header .instance-header .toggler, 
.tasktree-panel .toggler {
	display: inline-block;
	width: 16px;
	height: 14px;
	background-image: url("../images/treeview-black.gif");
	cursor: pointer;
	margin-top: 9px;
}

.tree-header.compact_header .instance-header .toggler.collapsed,
.tree-header.compact_header .instance-header .toggler.expanded, 
.tasktree-panel .toggler.expanded{
	float: left;
	margin-left: -10px;
	margin-right: 7px;
}

.extended-current .icon-cell img {
	width: 50px;
}

.tree-header.compact_header .instance-header .toggler.collapsed, 
.tasktree-panel .toggler.collapsed {
	/*margin-bottom: -7px;*/
	margin-top: 8px;
	background-position: -124px 62px;
}

.tasktree-panel .toggler.collapsed {
	float: left;
 	margin-left: -10px;
    margin-right: 7px;
}

.tasktree-panel .row {
	/* Bootstrap override fix. */
	margin-left: 0px !important;
}

.tasktree-panel .node .node {
	margin-left: 10px;
}

.tree-header.compact_header .instance-header .toggler.expanded, 
.tasktree-panel .toggler.expanded {
	background-position: 4px -116px;
}

.tree-header.compact_header .instance-header .node-link, 
.tasktree-panel .node-link {
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
    margin-left: -10px;
    margin-right: 4px;
    margin-top: -2px;
	background-image: url("../images/treeview-black-line.gif");
	background-position: 0 -1760px;
}

.tree-header.compact_header .instance-header.last .node-link {
	margin-left: 4px;
	margin-right: 7px;
}

.tree-header.compact_header .instance-header .data-cell{
	width: 77%;
}

/* breadcrumb mode */
.tree-header.breadcrumb_header > div {
	display: inline;
}

.tree-header.breadcrumb_header img {
	vertical-align: middle;
	margin-right: 7px;
}

.tree-header.breadcrumb_header .separator {
	color: #cccccc;
	opacity: 0.7;
	font-size: 12px;
}

/* End tree header styles */

/* =============================================================================
   Request help page styles.
   ========================================================================== */
   
.request-help-panel input[type="text"][readonly],
.request-help-panel select[readonly],
.request-help-panel textarea[readonly] {
	background-color: #e8e8e8;
	background-image: none;
	cursor: default;
}

.request-help-panel .error-message {
	font-size: 13px;
	color: #FF0000;
}

.request-help-panel label {
  	color: #1E3E74;
    display: block;
}

.request-help-panel {
	width: 45%;
	margin: 10px auto;
}

.request-help-panel > span {
	margin-top: 13px;
}

.request-help-panel .title{
	font-size: 20px;	
}

/* =============================================================================
   Modal popup panel common styles.
   ========================================================================== */

.modal-panel { 
	z-index: 30000 !important;
	border: 1px solid #C4C0B9;
}

.modal-panel .rf-pp-cnt-scrlr {
	background-color: #ffffff;
}
   
.modal-panel .panel-footer,  .modal-panel .rf-pp-hdr-cnt  {
	padding: 10px 5px;
	background-color: #e3ebec;
}

.modal-panel .rf-pp-hdr-cnt {
	margin-bottom: 10px;
	border-bottom: 1px solid #c4c5c5;
	color: #515D6B;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: -2px;
    width: auto;
}

/* RichFaces - fix for incorect element visibility */
.modal-panel .rf-pp-hdr-cntrls {
	position: static !important;
}

.modal-panel .close-button {
	background: url("../images/sprite.png") no-repeat scroll 0 -300px transparent;
    height: 15px;
    width: 25px;
    position: absolute;
    right: 6px;
    top: 13px;
    cursor: pointer;
}

.modal-panel .panel-content {
	padding: 5px 10px 0px 10px;
	font-size: 13px;
}

.modal-panel .confirmation-content {
	margin: 0 auto;
}

.modal-panel .panel-footer {
	position: relative;
	bottom: 0;
	margin-top: 10px;
	border-top: 1px solid #c4c5c5;
	text-align: center;
}

.modal-panel .panel-footer input[type='submit'],
.modal-panel .browser-footer input[type='submit'] {
	
}

.rf-pp-cnt {
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    padding: 0 !important;
    overflow: hidden;
    top: 70px;
}

.modal-panel .rf-pp-cnt {
	width: 640px;
}

.modal-panel.no-fixed-width .rf-pp-cnt {
	width: auto;
}

.document-move-dialog .calendar-field-wrapper {
	display: inline-block;
	margin-bottom: 5px;
}
.document-move-dialog .calendar-field-wrapper .cmf-calendar-img {
	margin-top: 2px;
}

.document-move-dialog .rf-pp-hdr {
	/* This fix overrided style from richfaces */
	padding: 0px !important;
}

/* =============================================================================
   Change password
   ========================================================================== */
   
.change-password-wrapper {
	width: 400px;
	margin: 0 auto;
}

.change-password-messages {
	min-height: 30px;
	list-style: none;
	color: red;
}

.change-password-success {
	display: none;
}

.change-password-success > div {
	font-weight: bold;
	color: green;
}

/* =============================================================================
   Basic search panel
   ========================================================================== */

.basic-search-wrapper {
	width: 800px;
	margin:0 auto;
}  

.basic-search-wrapper .clear {
	clear:both;
}

.basic-search-wrapper .query-field {
	width: 600px;
}

.basic-search-wrapper .align-top {
	vertical-align: top;
}

.basic-search-wrapper .basic-search-criteria, .basic-search-wrapper .basic-search-form {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 5px 10px 8px;
}

.basic-search-wrapper .actions {
    float: right;
    padding: 10px 5px 10px 8px;
    min-width: 150px;
}

.basic-search-wrapper .basic-search-criteria > input[type="text"],
.basic-search-wrapper .basic-search-criteria > select,
.basic-search-wrapper .basic-search-criteria > textarea {
    background-color: #ffffff;
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaaaaa;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #444444;
    font-family: sans-serif;
    font-size: 100%;
    line-height: normal;
    margin: 0px;
    outline: 0 none;
    padding: 5px 5px 6px 5px;
    vertical-align: middle;
    width: 149px;
}

/* Overrides the chosen plugin style for single select mode. */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	color: #aaaaaa !important;
}
.basic-search-wrapper .chosen-container {
	vertical-align: middle;
}
.basic-search-wrapper .chosen-container-single .chosen-single {
    background: linear-gradient(#eeeeee 1%, #ffffff 15%);
    border: 1px solid #aaaaaa;
    box-shadow: none;
    height: 27px;
    line-height: 27px;
}

.basic-search-wrapper .optional-fields {
	padding: 10px 10px 5px 20px; 
	font-style: italic;
}

.basic-search-wrapper .order-message {
	padding: 30px 10px 5px 30px !important;
}

.basic-search-wrapper .chosen-text-field {
	width:200px;
	height: 28px;
}

.basic-search-form input, .basic-search-form div {
	vertical-align: top !IMPORTANT;
}

.basic-search-form input[type=text] {
	width: 200px;
	height: 32px;
}

.basic-search-form textarea {
	width: 200px;
	max-width: 200px;
	min-width: 200px;
	height: 32px;
	min-height: 32px;
	vertical-align: top;
}

.basic-search-form .update-search-button {
	display: none;
}

.basic-search-wrapper .freet-text-field {
	width:405px;
	height: 30px;
}
/* END */

.basic-search-wrapper .basic-search-results .tree-header {
    border-bottom: 1px dashed #cccccc;
    padding: 5px 0px 5px 10px;
}

.basic-search-wrapper .basic-search-results .tree-header:hover {
	background-color: #f4faff;
}

.basic-search-wrapper .simple-pagination {
    border-top: 1px solid #d9d9d9;
    margin: 0 auto;
    padding: 10px 5px 10px 5px;
}

.basic-search-wrapper .search-type-switch-wrapper {
	padding: 5px 5px 0px 8px;
}

/* =============================================================================
   Advanced search
   ========================================================================== */
.advanced-search .advanced-search-query, .sparql-search .search-query {
	width: 100% !IMPORTANT;
	margin-bottom: 5px;
}

.advanced-search-form select, .advanced-search-form input.plain-text {
	width: 100% !IMPORTANT;
	display:inline-block;
	padding-right: 2px;
	margin-top: 1px;
}

.advanced-search-form .cmf-field-wrapper {
	margin-bottom: 0px;	
}

.advanced-search-form .select2-container {
	max-width: 100% !IMPORTANT;
	padding-top: 2px;
	padding-right: 2px;
}

.advanced-search-form.floatLeft {
	float: left;
}

.advanced-search-form.floatRight {
	float: right;
}

.advanced-search-form .empty-row {
	cursor: pointer;
}

.advanced-search-form .open-brackets-column, .advanced-search-form .close-brackets-column {
	width: 50px;
}

.advanced-search-form .condition-column {
	width: 70px;
}

.advanced-search-form .field-column, .advanced-search-form .field-column select {
	width: 140px;
}

.advanced-search-form .comparison-column {
	width: 140px;
}

.advanced-search-form .input-column {
	width: 280px;
	text-align: center;
}

.advanced-search-form .delete-row-column {
	width: 20px;
	text-align: center;
}

.advanced-search-form .add-row-column {
	width: 20px;
	text-align: center;
}

/*.empty-row {
	width: 800px;
	text-align: center;
	color: #808080;
	cursor:pointer;
}*/

.advanced-search-form .add-row-button {
	background: url('../images/add-criterion-icon.png') 50% 50% no-repeat;
	cursor:pointer;
	border:none;
	width:16px;
	height:28px;
}

.advanced-search-form .delete-row-button {
	background: url('../images/delete-criterion-icon.gif') 50% 50% no-repeat;
	cursor:pointer;
	border:none;
	width:16px;
	height:28px;
}

.advanced-search-group {
	margin-bottom: 5px;
	padding: 5px;
	width: 100%;
	border: 1px solid #AAAAAA;
}

.advanced-search-group.delete-target {
	border: 1px solid #000000;
}

.advanced-search-group .delete-group-button {
	float: right;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.advanced-search-group .delete-group-button:hover {
	float: right;
	opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Styling for Select2 with error */
.advanced-search-form div.has-error a.select2-choice {
  border-color: #ff0000 !important;
}

/* =============================================================================
   SPARQL search
   ========================================================================== */
.sparql-search {
	display: none;
	padding: 0px 5px 0px 8px;
}

.sparql-search .sparql-search-query {
	width: 100% !IMPORTANT;
	margin-bottom: 5px;
}

/* =============================================================================
   Faceted search
   ========================================================================== */
.basic-search-facets {
	float: left; 
	width: calc(50% - 400px); 
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-radius: 0px 0px 5px 0px;
	padding-left: 5px;
}

.basic-search-facet {
	width: 100%; 
	text-align: left; 
	border-bottom: 1px solid #d9d9d9;
	border-radius: 5px;
	float: none; 
	display: inline-block; 
	padding: 5px;
}

.basic-search-facet .facet-header {
	cursor: pointer;
}

.basic-search-facet .facet-header.facet-header-disabled {
    opacity: 0.5;
}

.basic-search-facet .facet-values {
	overflow-y: auto;
	width: 100%;
	padding: 5px;
	max-height: 140px;
}

.basic-search-facet .facet-header img {
	height: 6px;
	width: 18px;
}

.basic-search-facet .values-count {
	font-style: italic;
}
 
.basic-search-facet .facet-value {
	padding-left: 2px;
	padding-bottom: 2px;
}

.basic-search-facet .facet-value label {
	margin-bottom: 0px;
	font-weight: normal;
	display: inline;
	cursor: pointer;
}

.basic-search-facet .facet-value input {
	vertical-align: text-bottom;
	cursor: pointer;
}

.basic-search-facet .facet-value .badge {
	padding: 2px 5px !important;
	color:#666666;
	background-color: #EBEBEB;
	font-weight: normal;
}	

.basic-search-facet .facet-values .showmore-btn {
	width:100%;
	background-color: none;
}

/* =============================================================================
   Object picker
   ========================================================================== */

/* Remove default padding of the dialog content */
.object-picker-dialog {
	width: auto;
}

.object-picker-dialog .ui-dialog-content {
	padding: 0;
}

/* The picker is presented as a table with two columns */
.object-picker {
	display: table;
}

/* Style the picker columns */
.object-picker > div {
	display: table-cell;
	vertical-align: top;
}

.object-picker .menu-panel {
	width: 100px;
	border-right: 1px solid #BBBBBB;
}
   
.object-picker .content-panel {
	padding-left: 5px;
	padding-top: 5px;
}

.object-picker .menu-list {
	padding: 8px 0px 0px 10px;
	list-style: none;
}

.object-picker .menu-list li {
	padding: 3px;
	color: #888888;
	cursor: pointer;
}

.object-picker .menu-list li.selected {
	margin-right: -1px;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #ffffff;
	color: #000000;
	font-weight: bold;
	cursor: default;
}
   
/* Search inside object picker */
.object-picker .basic-search-criteria {
    padding: 10px 5px 10px 0px;
}

.object-picker .basic-search-criteria .select-all-wrapper {
	padding-top: 10px;
}

.object-picker .basic-search-criteria .select-all-wrapper label {
	color: #888888;
	cursor: pointer;
}
   
.object-picker .basic-search-results > table {
    table-layout: auto;
    width: 100%;
}

.object-picker .basic-search-results .tree-header {
 /*   
 I comment it because Velikov doens't know what this is added for. Uncomment if needed
 border-bottom: none;
 */
}

.object-picker .basic-search-results > table td {
    border-bottom: 1px dashed #cccccc;
}

.object-picker .basic-search-results > table tr:hover {
	background-color: #f4faff;
}

.object-picker .basic-search-results {
    height: 390px;
    overflow-y: auto;
}

   
/* =============================================================================
   Objects explorer
   ========================================================================== */
.projectinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/projectinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.caseinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/caseinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.objectinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/objectinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.documentinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/documentinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.workflowinstancecontext .x-grid-cell-inner .x-tree-icon {
	background: url("../images/workflowinstancecontext-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.taskinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/taskinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.standalonetaskinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/standalonetaskinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.sectioninstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/sectioninstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}
.folderinstance .x-grid-cell-inner .x-tree-icon {
	background: url("../images/folderinstance-icon-16.png") no-repeat left center;
	width: 16px;
	height: 16px;
}

.projectinstance-group .x-grid-cell-inner .x-tree-icon, 
.caseinstance-group .x-grid-cell-inner .x-tree-icon, 
.documentinstance-group .x-grid-cell-inner .x-tree-icon, 
.objectsSection-group .x-grid-cell-inner .x-tree-icon, 
.objectinstance-group .x-grid-cell-inner .x-tree-icon, 
.documentsSection-group .x-grid-cell-inner .x-tree-icon, 
.tasks-group .x-grid-cell-inner .x-tree-icon, 
.workflowinstancecontext-group .x-grid-cell-inner .x-tree-icon {
	background-image: none !important;
}
.projectinstance-group .x-grid-cell-inner .x-tree-node-text, 
.caseinstance-group .x-grid-cell-inner .x-tree-node-text, 
.documentinstance-group .x-grid-cell-inner .x-tree-node-text, 
.objectsSection-group .x-grid-cell-inner .x-tree-node-text, 
.objectinstance-group .x-grid-cell-inner .x-tree-node-text, 
.documentsSection-group .x-grid-cell-inner .x-tree-node-text, 
.tasks-group .x-grid-cell-inner .x-tree-node-text, 
.workflowinstancecontext-group .x-grid-cell-inner .x-tree-node-text {
	margin-left: -16px;
}


/* =============================================================================
   Custom styles for jQuery ui
   ========================================================================== */

/** Style the tabs panel to match the emf styles   */
.ui-tabs-nav {
	border-width: 0px 0px 1px 0px !important;
	border-radius : 0 !important;
	background: none !important;
	margin: 0;
	padding: 0;
}

.ui-tabs-nav .ui-state-default.ui-state-active {
	border: 1px solid lightgray !important;
	border-width: 1px 1px 1px 1px !important;
	border-bottom: 1px solid white !important; 
}

.side-tabs .ui-tabs-nav .ui-state-default.ui-state-active {
	border-bottom: 1px solid #f6f6f6 !important; 
}

.ui-tabs-nav .ui-state-active a, .ui-tabs-nav .ui-state-active a:link, .ui-tabs-nav .ui-state-active a:visited {
	color: lightgray;
}

/* remove tabs wraping border */
.ui-tabs {
	background: none;
	border: none;
}

.ui-tabs .ui-state-default {
	background: none;
}

.side-tabs .revision-number {
	margin: 0 3px;
	padding: 0 2px;
	color: #ffffff;
	background: #aaaaaa;
	font-size: 12px;
}

.side-tabs .revisions .tree-header a {
	font-size: 14px !important;
}

.side-tabs .revisions .revision-record {
	margin-bottom: 15px;
	border-left: 1px dotted #DDD9D9;
}

.revision-record > span:first-child {
	display: block;
	margin-bottom: 2px;
}

.side-tabs .revision-record.active {
	background: #EFEFEF;
	padding: 4px;
}

/* =============================================================================
   Bootstrap overrided styles
   ========================================================================== */

/* Fix jquery.tipTip overrided by bootstrap. */
.tooltip {
	display: inherit;
    font-size: inherit;
    line-height: inherit;
    opacity: inherit;
    position: inherit;
    visibility: inherit;
    z-index: inherit;
    display: none;
}

.basic-search-wrapper {
	padding-top: 5px;
  	padding-left: 8px;
}

.basic-search-toggler:hover {
	cursor: pointer;
}

/* =============================================================================
   Permissions styles
   ========================================================================== */
.restore-permissions {
	float: right;
}

/* =============================================================================
   Versions barges
   ========================================================================== */
.instance-header .badge{
	background-color: #b3b3b3; 
}

/* =============================================================================
   Favourites and downloads icons styles
   ========================================================================== */
.header-icons .dislikes{
	background: url("../images/notFavourite-16.png") no-repeat;
}

.header-icons .star{
	background: url("../images/favourite-16.png") no-repeat;
}

.header-icons .download{
	background: url("../images/notSelectedForDownload-16.png") no-repeat;
}

.header-icons .circle_arrow_down{
	background: url("../images/selectedForDownload-16.png") no-repeat;
}

.title-header .header-icons .dislikes{
	background: url("../images/notFavourite-24.png") no-repeat;
}

.title-header .header-icons .star{
	background: url("../images/favourite-24.png") no-repeat;
}

.title-header .header-icons .download{
	background: url("../images/notSelectedForDownload-24.png") no-repeat;
} 

.title-header .header-icons .circle_arrow_down{
	background: url("../images/selectedForDownload-24.png") no-repeat;
} 

.custom-icon{
	width: 16px;
	height: 16px;
}

.header-icons{
	float: right;
	position: relative;
	right: -28%;
}

.header-icons .favourites{
	position: absolute;
    float: right;
    right: -13%;
}

.documentinstance .header-icons{
	float: right;
	position: relative;
	right: -24%;
}

.documentinstance .header-icons .downloads-list{
	position: absolute;
    float: right;
}

.documentinstance .header-icons .favourites{
    position: absolute;
    float: left;
}

.title-header .header-icons .custom-icon{
	width: 24px;
	height: 24px;
}

.current-record .header-icons{
	right: -38%;
	padding-top: .5%;
}

.documentinstance + .current-record .header-icons{
	right: -34%;
}

.media-panel .header-icons{
	right: -15.5%;
}

.project-media-list-panel-body .header-icons,
.case-media-list-panel-body .header-icons{
	right: -13%;
}

.objects-panel .has-thumbnail + .data-cell .header-icons{
	right: -19.7%;
}

.project-objects-panel .has-thumbnail + .data-cell .header-icons,
.case-objects-panel .has-thumbnail + .data-cell .header-icons{
	right: -18.5%;
}

.sections-list .header-icons,
.section-items-list .header-icons{
	padding-top: 1.5%;
	right: -39%;
}

.basic-search-results .header-icons{
	padding-top: 1.5%;
	right: -26%;
}

.basic-search-results .objectinstance .header-icons{
	right: -31.5%;
}

.basic-search-results .documentinstance .header-icons{
	right: -28.5%;
}

.revision-record .header-icons{
	padding-top: 1.5%;
	right: 2%;
}

.revision-record .header-icons .downloads-list{
	position: absolute;
}

.relations-wgt-wrapper .header-icons,
.region-incomingDocumentsRegion .header-icons,
.region-outgoingDocumentsRegion .header-icons{
	right: .1%;
}

.relations-wgt-wrapper .documentinstance .header-icons{
	right: 1.6%;
}

.widget-relationships .documentinstance .header-icons{
	right: 4%;
}

.tab-content .documentinstance .header-icons{
	right: 3.3%;
}

.workflow-data-panel .header-icons,
.workflow-history-panel .header-icons{
    right: -1%;
}

.tasktree-panel .header-icons{
	position: absolute;
    right: 1%;
}

.notifyme .header-icons{
	width: 2em;
	right: .1%;
}

.notifyme .header-icons .favourites{
	position: absolute;
    float: left;
    right: 46%;
}

.notifyme .header-icons .downloads-list{
    position: absolute;
    float: right;
	left: 60%;
}

.object-picker .header-icons{
	padding-top: 1.5%;
	right: -26%;
}

.current-record-content.projectinstance .header-icons{
	right: -33%;
	padding-top: .1%;
}

.favourites:hover,.downloads-list:hover{
	cursor: pointer;
}

.quick-search .header-icons{
	margin-top: -10%;
}

.object-browser .header-icons,
.widget-related-documents .header-icons,
.widget-datatable .header-icons,
.add-popup-container .header-icons{
	display: none;
}

/* Hides object picker tabs text when container is too small */
.ui-tabs-anchor {
	overflow: hidden;
	text-overflow: ellipsis;
}

.quick-search-btn {
	padding: .1px 8px 6px 7px;
}

.quick-search-btn .qs-icon {
	top: 5px;
}

/* Main menu upload */
.menu-upload-group {
	float: left;
}

.menu-upload-group .main-menu-upload {
    padding: 3px;
    margin-top: 15%;
}

/* Create new button */
.create-new-group {
	float: left;
}

.create-new-group .create-new {
    padding: 3px;
    margin: 8px;
    background-image: linear-gradient(to bottom, #5CB85C 0%, #5CB85C 100%);
    border-color: #5CB85C;
}

.create-new:hover {
    background-color: #5CB85C;
    background-position: 0 -15px;
}