/* Reduce the default padding added by the tab panel */
.data-table-data-basket {
	max-width: 810px;
	max-height: 100px;
	width: 810px;
	height: 100px;
	overflow-y: auto;
	background-color: #f1f1f1;
}

.data-table-property-selection-wrapper, .data-table-search-wrapper {
	max-width: 810px;
	max-height: 300px;
	width: 810px;
	height: 300px;
	overflow-y: auto;
}

.data-table-property-selection-wrapper ul {
	list-style: none;
}

.data-table-property-selection-wrapper > ul ul {
	padding-left: 10px;
}

.data-table-property-selection-wrapper label {
	font-weight: normal;
}

html[data-useragent*='IE 10'] .x-grid-cell-inner, html[data-useragent*='IE 10'] .x-column-header-text {
	display: inline-block !important;
}