<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
	xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://xmlns.jcp.org/xml/ns/persistence
    http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="EMF-Primary" transaction-type="JTA">
		<jta-data-source>java:jboss/datasources/cmfDS</jta-data-source>
		<jar-file>./lib/com.sirma.itt.emf-emf-core-impl.jar</jar-file>
		<properties>
			<!-- Loading using external configuration for hibernate. The file should 
				be located in the root directory if the classpath -->
			<property name="hibernate.ejb.cfgfile" value="hibernate.cfg.xml" />
		</properties>
	</persistence-unit>
</persistence>