@import "../../../style/variables";
@import '../../../style/mixins';

.top-header-logo {

  [data-tooltip] {
    @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size) {
      z-index: 100;
      top: $menu-item-height + 2;
      left: 2px;
    }
  }
}