<div class="file-upload-panel">
  <seip-context-selector config="fileUploadPanel.config"></seip-context-selector>
  <span class="text-danger"
        ng-if="fileUploadPanel.config.errorMessage">{{::fileUploadPanel.config.errorMessage }}</span>
  <seip-file-upload config="fileUploadPanel.config"
                    on-validity-change="fileUploadPanel.onValidityChanged(event)"></seip-file-upload>

  <div class="buttons">
    <button class="btn btn-primary uploadall-btn"
            ng-disabled="!fileUploadPanel.uploadEnabled || fileUploadPanel.config.errorMessage"
            ng-click="fileUploadPanel.uploadAll()">
      {{ ::'dialog.button.upload.all' | translate }}
    </button>
    <button class="btn btn-default seip-close-btn" ng-click="fileUploadPanel.cancel()">
      {{ ::'dialog.button.cancel' | translate }}
    </button>
  </div>
</div>