<div>
  <div class="form-group">
    <label>{{::'instance.create.panel.type' | translate}}</label>
    <seip-instance-select class="types" config="instanceCreateConfiguration.instanceTypeConfig"
                          ng-model="instanceCreateConfiguration.instanceType"
                          ng-change="instanceCreateConfiguration.onTypeSelected(instanceCreateConfiguration.instanceType)">
    </seip-instance-select>
  </div>

  <div class="form-group"
       ng-show="instanceCreateConfiguration.isSubTypeDropdownVisible()">
    <label>{{::'instance.create.panel.subtype' | translate}}</label>
    <seip-instance-select class="sub-types" config="instanceCreateConfiguration.instanceSubTypeConfig"
                          ng-model="instanceCreateConfiguration.instanceSubType"
                          ng-change="instanceCreateConfiguration.onSubTypeSelected(instanceCreateConfiguration.instanceSubType)">
    </seip-instance-select>
  </div>

  <div class="panel panel-default" ng-if="instanceCreateConfiguration.config.formConfig.models.viewModel">
    <div class="panel-body">
      <seip-form-wrapper config="instanceCreateConfiguration.config"
                         form-config="instanceCreateConfiguration.config.formConfig"></seip-form-wrapper>
    </div>
  </div>
  <button ng-if="instanceCreateConfiguration.config.formConfig.models.viewModel"
          class="btn btn-default btn-xs show-more" ng-click="instanceCreateConfiguration.toggleShowAllProperties()">
    {{ instanceCreateConfiguration.config.showAllProperties ? 'showLess.button' : 'showMore.button' | translate }}
  </button>
</div>
