<div style="padding: 50px;">
  <seip-context-selector class="selectionModeDefault" config="contextSelectorStub.config"></seip-context-selector>
  <seip-context-selector class="selectionModeBoth" config="contextSelectorStub.config.both"></seip-context-selector>
  <seip-context-selector class="selectionModeInContext" config="contextSelectorStub.config.selectionModeInContext"></seip-context-selector>
  <seip-context-selector class="selectionModeWithout" config="contextSelectorStub.config.selectionModeWithoutContext"></seip-context-selector>
  Context Id: <input type="text" id="selected-item" ng-model="contextSelectorStub.config.parentId" style="width: 220px;">
</div>