$panel-heading-background-color: #fcfcfc;

.navigation {
  .panel-heading {
    background: none;
  }
  .panel-group {
    margin-bottom: 0;
    .panel-heading {
      padding: 0;
    }
    .panel-title a {
      display: block;
      padding: 10px 15px;
      text-decoration: none !important;
    }
  }
  .panel-heading {
    border-radius: 0;
  }
  .panel-default {
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;

    .panel-heading {
      background-color: $panel-heading-background-color;
    }
  }
  .panel-title {
    a {
      :first-child {
        display: none;
      }
      &.collapsed {
        .fa {
          display: none;
        }
        :first-child {
          display: inline-block;
        }
      }
    }
    .panel-group .panel {
      border-radius: 0;
    }
  }
  .panel-body{
    padding:0px;
    margin:0px;
    .idoc-toc-holder{
    }
  }
}