@import "../../style/reusables";
@import "../../style/variables";

.breadcrumb-panel {
  position: fixed;
  top: $navbar-height;
  z-index: 98;
  height: $breadcrumb-height;
  width: 100%;

  ol {
    padding: 4px 0 0 0;
    position: fixed;
    right: 0;
    left: 0;
    height: $breadcrumb-height;
    border-radius: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    background: none repeat scroll 0 0 #fff;
    @include border-bottom();

    > li {
      display: inline-flex;
      vertical-align: top;

      + li:before {
        color: #919191;
        content: '/';
        padding-right: 0;
        padding-left: 5px;
      }

      .header-color {
        color: $link-color;
      }
    }
  }

  .loading-component {
    position: relative;
    float: right;
    z-index: 99;
  }
}