@import '../../../style/variables';
@import '../../../style/mixins';

.bpm-actions-section {
  .bpm-workflow {
    display: inline;
    float: left;
    margin: 1vh;
  }

  .bpm-buttons-list {
    display: inline;
    float: right;
  }

  .bpm-button {
    margin: 3px 7px 3px 3px;
    opacity:  1.0 !important;
  }

  .bpm-button[data-tooltip] {
    @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size) {
      margin-top: 25px;
      margin-left: -200px;
    };
  }

  .bpm-button[disabled="disabled"] {
    border: rgba(115, 150, 181, 1) !important;
  }
}