@import '../../../../style/variables';
@import '../../../../style/mixins';

.unread-messages-counter {
  position: absolute;
  top: -3px;
  right: 1px;

  a {
    text-decoration: none;
  }

  .badge {
    padding: 1px 4px;
    font-size: 9px;
    background-color: #a94442;
    border-radius: 3px;
  }

  a[data-tooltip] {
    @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size, 150px) {
      display: block;
      top: 35px;
      z-index: 100;
    }
  }
}