#body-wrapper {
	width: 96%;
	position: relative;
	border-radius: 10px;
	padding: 0.75em;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
	margin-left: 2.5%;
	float: left;
}

.cls-form {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.10);
	width: 10%;
	padding: 32px;
}

.cl-details-textbox {
	font-weight: bold;
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

form .row {
	margin-top: 6px;
	margin-left: auto;
	margin-rigth: auto;
}


.removeImg, .addImg{
		width: 25px;
	height: 25px; display : block;
	margin: 0 auto;
	display: block;
}
.addRow img:hover{
    opacity: 0.7;
     cursor: pointer; 
	 cursor: hand;
}
.removeRow img:hover{
	opacity: 0.7;
	 cursor: pointer; 
	 cursor: hand;
}
#results-table>thead,#cl-desc-table>thead, #cv-desc-table>thead {
	background-color: #99CCFF;
}
.highlightedRow { 
 border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}
#cl-desc-table tbody tr td, #cv-desc-table tbody tr td {
	word-wrap: break-word;
	max-width: 1px;
}

.modal.modal-wide .modal-dialog {
	width: 70%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}

.invalid-field {
	border: 1px solid #F00 !Important;
}

.required-field {
	border: 1px solid #FFD700 !Important;
}

.invalid-field + .tooltip > .tooltip-inner {
    background-color: #EDD6DC; 
    color: #000; 
    border: 1px solid #000; 
}

.edit-cv-button {
	margin-right: 20px;
}
