@import "../../style/variables";

$comment-reply-background-color: #f5f5f5;

.idoc-comments {

  .comments-toolbar {
    position: fixed;
    height: 50px;
    right: 3px;
    margin: 0 0 0 1px;
    padding: 5px 0;
    background: $idoc-body-background-color;
    z-index: 10;

    .filtered {
      //Same as the locked label's color
      background-color: #f0ad4e !important;
      opacity: 0.85;
    }

    .seip-btn-add-comment {
      margin-top: 10px;
      margin-left: $action-button-margin-left;
      float: right;
    }

    .comments-filter {
      width: auto;
      margin-top: 10px;
      overflow: hidden;
      text-align: right;

      button {
        color: $icon-base-color;
      }

      button:hover {
        color: $link-hover-color;
      }
    }
  }

  .comments {
    width: 100%;
    .expanded {
      cursor: pointer;
    }
    .comment {
      .comment-description {
        margin-right: 5px;
        word-break: normal;
      }
      .comment-replies {
        .comment {
          position: relative;
          border-left: 0;
          margin: 0 0 0 -6px;
          background-color: $comment-reply-background-color;
        }
      }
    }

  }

  .comments-container {
    padding-top: 40px;
    & ~ .comments-container {
      padding-top: 0;
    }
  }

  .comments-action-wrapper {
    width: inherit !important;
  }
}