.upload-new-drop-over {
  animation-duration: 0.5s;
  animation-name: upload-new-blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes upload-new-blink {
  from {
    opacity: 1;
    transform: rotateX(0deg);
    background-color: #66afe9;
  }
  to {
    opacity: 0.5;
    transform: rotateX(40deg);
    background-color: transparent;
  }
}