@import "../../../style/reusables";

.object-link {
  @include media-font-size();
  @include word-wrap();
  width:100%;

  &.widget {
    display: inline-block;
  }

  .instance-data {
    display: inline-block;
    width:100%;

    .header-icon {
      display: inline-block !important;
    }
  }
}