<div class="advanced-search-authority-criteria" ng-switch="advancedSearchAuthorityCriteria.criteria.operator">
  <seip-resource-select class="authority-criteria-select" ng-switch-default
                        ng-if="::advancedSearchAuthorityCriteria.selectConfig"
                        config="::advancedSearchAuthorityCriteria.selectConfig"
                        ng-model="advancedSearchAuthorityCriteria.criteria.value">
  </seip-resource-select>

  <seip-advanced-search-boolean-criteria ng-switch-when="empty"
                                         config="::advancedSearchAuthorityCriteria.config"
                                         criteria="advancedSearchAuthorityCriteria.criteria">
  </seip-advanced-search-boolean-criteria>
</div>