@import "../advanced-search";

.advanced-search-numeric-criteria {

  .numeric-double-input {
    display: flex;

    input:not(:last-child) {
      margin-right: $criteria-elements-padding;
    }
  }
}