@import "../../style/variables";

// .sp-container and its children (.sp-palette-container) are added directly to document body
.sp-palette-container {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.color-picker {
  background-color: $bodybg-color;
  border: 1px solid $panel-border-color;

  button {
    border-radius: 2px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
    background-image: none !important;
    background-color: #fff;
    font-size: 12px;
    line-height: normal;
  }

  .sp-cancel {
    font-size: 12px;
    color: $link-color !important;
  }

  .sp-input {
    border-radius: 0;
    color: #555555;
    padding: 6px 12px;
    border: 1px solid $table-border-color;

    &:focus {
      border-color: #66afe9;
      outline: 0;
    }
  }

  &:hover, &.sp-active {
    border: 1px solid $panel-border-color;
  }
}