@import "../../../../style/variables";

.datatable-filter {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $panel-border-color;
  min-height: 32px;
  background-color: $color-darker-tone-03;

  .filter-cell {
    display: flex;
    flex-grow: 1;
    min-width: $table-column-min-width;
    border-right: 1px solid $table-border-color;
  }
}
