<div class="dynamic-date-range">

  <seip-select class="date-step"
               config="::dynamicDateRange.dateStepSelectConfig"
               ng-model="dynamicDateRange.dateStep"
               ng-class="{'today': dynamicDateRange.isToday()}">
  </seip-select>

  <input class="form-control date-offset" type="number" min="0" step="1"
         placeholder="{{ ::'search.daterange.dynamic.offset.placeholder' | translate }}"
         ng-hide="dynamicDateRange.isToday()"
         ng-model="dynamicDateRange.dateOffset"
         ng-disabled="dynamicDateRange.config.disabled">

  <seip-select class="date-offset-type"
               config="::dynamicDateRange.dateOffsetTypeSelectConfig"
               ng-hide="dynamicDateRange.isToday()"
               ng-model="dynamicDateRange.dateOffsetType">
  </seip-select>

</div>