@import "../advanced-search";

.dynamic-date-range {
  display: flex;

  .date-step, .date-offset, .date-offset-type {
    flex-basis: calc(100% / 3);
    // Fixes a width issue under different browsers
    min-width: 0;
  }

  .date-step.today {
    flex-basis: 100%;
  }

  & > *:not(:last-child) {
    margin-right: $criteria-elements-padding;
  }
}