<div class="container">
  <div class="row">
    <button type="button" class="btn btn-default" ng-click="dialog.error()">Error</button>
    <button type="button" class="btn btn-default" ng-click="dialog.confirm()">Confirm</button>
    <button type="button" class="btn btn-default" ng-click="dialog.notify()">Notify</button>
    <button type="button" class="btn btn-default" ng-click="dialog.customComponentBySelector()">Custom component by selector</button>
    <button type="button" class="btn btn-default" ng-click="dialog.customComponentByComponent()">Custom component by component</button>
    <button type="button" class="btn btn-default" ng-click="dialog.noHeaderDialog()">No header dialog</button>
    <button type="button" class="btn btn-default" ng-click="dialog.openModelessDialog()">Modeless dialog</button>
    <button type="button" class="btn btn-default" ng-click="dialog.openDialogWithHelp()">Dialog with a contextual help</button>
    <button type="button" class="btn btn-default" ng-click="dialog.openDialogWithWarning()">Dialog with a warning</button>
  </div>
  <span class="info-span"></span>
</div>