<div class="model-value-attribute" value-type="{{modelValueAttribute.valueEditorType}}"
     ng-switch on="modelValueAttribute.valueEditorType">

  <model-boolean-attribute ng-switch-when="boolean"
                           config="::modelValueAttribute.config"
                           context="modelValueAttribute.context"
                           editable="modelValueAttribute.editable"
                           attribute="modelValueAttribute.attribute"
                           on-change="modelValueAttribute.onValue()"></model-boolean-attribute>

  <model-source-attribute ng-switch-when="source"
                          config="::modelValueAttribute.config"
                          context="modelValueAttribute.context"
                          editable="modelValueAttribute.editable"
                          attribute="modelValueAttribute.attribute"
                          on-change="modelValueAttribute.onValue()"></model-source-attribute>

  <model-codevalue-attribute ng-switch-when="codevalue"
                             config="::modelValueAttribute.config"
                             context="modelValueAttribute.context"
                             editable="modelValueAttribute.editable"
                             attribute="modelValueAttribute.attribute"
                             on-change="modelValueAttribute.onValue()"></model-codevalue-attribute>

  <model-string-attribute ng-switch-default
                          config="::modelValueAttribute.config"
                          context="modelValueAttribute.context"
                          editable="modelValueAttribute.editable"
                          attribute="modelValueAttribute.attribute"
                          on-change="modelValueAttribute.onValue()"></model-string-attribute>
</div>