<div>
  <div ng-if="basicSearchCriteriaStub.render">
    <div id="first">
      <seip-basic-search-criteria config="basicSearchCriteriaStub.config"></seip-basic-search-criteria>
    </div>

    <div id="second">
      <seip-basic-search-criteria config="basicSearchCriteriaStub.withInitialCriteria"></seip-basic-search-criteria>
    </div>

    <div id="third">
      <seip-basic-search-criteria config="basicSearchCriteriaStub.resetCriteria"></seip-basic-search-criteria>
    </div>
  </div>

  <textarea style="width: 100%; height: 250px;" id="results"></textarea>
</div>