<!DOCTYPE html>
<html>
  <head>
    <title>SandBox: Basic Search Criteria</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
    <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">
    <script src="/jspm_packages/es6-module-loader.js"></script>
    <script src="/jspm_packages/system.js"></script>
    <script src='/build/config.js'></script>
    <script src="/build/common/lib/plugin-registry.js"></script>
    <script src="/build/plugins.js"></script>
    <script src="/sandbox/sandbox-init.js"></script>
  </head>
  <body>
    <script type="text/javascript">
        bootstrapSandbox({
            paths: {
              'basic-search-criteria': 'sandbox/search/components/common/basic-search-criteria/basic-search-criteria.stub.js',
              'basic-search-criteria-template': 'sandbox/search/components/common/basic-search-criteria/basic-search-criteria.stub.html',
              'services/rest/search-service': 'sandbox/services/rest/search-service.stub.js',
              'services/rest/resources-service': 'sandbox/services/rest/resources-service.stub.js',
              'services/rest/definition-service': 'sandbox/services/rest/definition-service.stub.js',
              'services/rest/relationships-service': 'sandbox/services/rest/relationships-service.stub.js',
              'sandbox/services/rest/services.config.json': 'sandbox/search/components/common/basic-search-criteria/services.config.json'
            },
            modules: ['style/main.css!css', 'basic-search-criteria']
        });
    </script>

    <div class="container">
      <seip-basic-search-criteria-stub></seip-basic-search-criteria-stub>
    </div>
  </body>
</html>