<?xml version="1.0"?>
<web-app id="seip-solr-admin" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<description>SEIP Solr Administration</description>
		<servlet>
		<servlet-name>configadmin</servlet-name>
		<servlet-class>com.sirma.itt.seip.solr.admin.ConfigurationHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configadmin</servlet-name>
		<url-pattern>/config/*</url-pattern>
	</servlet-mapping>
</web-app>