<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>

</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    paths: {
      'search-toolbar': 'sandbox/search/components/common/toolbar/search-toolbar.stub.js',
      'search-toolbar-template': 'sandbox/search/components/common/toolbar/search-toolbar.stub.html'
    },
    modules: ['search-toolbar']
  });
</script>
<br>

<seip-search-toolbar-stub></seip-search-toolbar-stub>

</body>
</html>