@import "../../../../style/variables";

.model-controls {

  .model-actions {
    margin: 0;
    padding-top: 0.5em;

    .controls {
      display: flex;
    }

    .controls div:not(:last-child) {
      margin-right: $default-gap;
    }
  }
}