<div class="container">
  <div><span>Today (formatted): </span><span id="todayFormatted">{{datetimepickerStub.todayFormatted}}</span></div>
    <div class="row" id="row1">
        <div class="col-md-4">
            <seip-datetime-picker id="datetime-picker-1" ng-model="datetimepickerStub.picker1"></seip-datetime-picker>
            <button ng-click="datetimepickerStub.setToday()">Set current date</button>
            <button ng-click="datetimepickerStub.clear()">Clear model value</button>
            <br> Model value: <input type="text" ng-model="datetimepickerStub.picker1">
        </div>
        <div class="col-md-4">
            <seip-datetime-picker id="datetime-picker-2" data-config="{hideTime: true}"></seip-datetime-picker>
        </div>
        <div class="col-md-4">
            <seip-datetime-picker id="datetime-picker-3" data-config="{hideDate: true}"></seip-datetime-picker>
        </div>
    </div>
    <div class="row" id="row2">
        <div class="col-md-4">
            <seip-datetime-picker id="datetime-picker-4" data-config="{placeholder: 'Choose date'}"></seip-datetime-picker>
        </div>
    </div>
</div>