@import '../../style/_mixins';

@font-face {
  font-family: 'user-avatar';
  src: url('font/user-avatar.eot?42889096');
  src: url('font/user-avatar.eot?42889096#iefix') format('embedded-opentype'),
  url('font/user-avatar.woff2?42889096') format('woff2'),
  url('font/user-avatar.woff?42889096') format('woff'),
  url('font/user-avatar.ttf?42889096') format('truetype'),
  url('font/user-avatar.svg?42889096#user-avatar') format('svg');
  font-weight: normal;
  font-style: normal;
}

.user-avatar {

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "user-avatar";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  }

  .icon-user-icon:before {
    content: '\e800';
  }

  &.size-16 {
    @include icon-dimensions(16px);
  }

  &.size-32 {
    @include icon-dimensions(32px);
  }

  &.size-42 {
    @include icon-dimensions(42px);
  }

  &.size-64 {
    @include icon-dimensions(64px);
  }

}