@import "../../style/reusables";

.seip-select-wrapper, .seip-select, .seip-select .select2-search__field {
  width: 100%;
}

/* Overrides for select2 menu */
.select2-container--default {

  .select2-selection--single,
  .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
  }

  &.select2-container--disabled {

    .select2-selection--single {
      background-color: $disabled-field-bg-color;
      border: 1px solid $disabled-field-border-color;
      color: $disabled-field-color;
      opacity: $disabled-field-opacity;

      &:hover, &:focus {
        border-color: $disabled-field-border-color;

        .select2-selection__arrow {
          border-left-color: #ccc;
        }
      }
    }

    .select2-selection--multiple {
      background-color: $disabled-field-bg-color;
      border: 1px solid $disabled-field-border-color;

      &:hover, &:focus {
        border-color: $disabled-field-border-color;
      }

      .select2-selection__choice {
        background-color: #f0f0f0;
        border: 1px solid $disabled-field-border-color;
        color: $disabled-field-color;
        opacity: $disabled-field-opacity;

        .select2-selection__choice__remove {
          display: none;
        }
      }
    }
  }

  .select2-selection--multiple {

    .select2-selection__choice {
      background-color: $btn-primary-bg;
      border: 1px solid $btn-primary-border;
      color: $btn-primary-color;
      border-radius: 0;

      .select2-selection__choice__remove {
        float: right;
        display: inline-block;
        width: 15px;
        padding: 1px 0 0 4px;
        margin: 1px 0 0 8px;
        color: $btn-primary-bg;
        background-color: $btn-primary-color;
        border: 1px solid $btn-primary-bg;
        border-radius: 50%;
        font-size: 10px;
      }
    }
  }

  &.select2-container--focus {

    .select2-selection--multiple {
      border: 1px solid $input-border-focus;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $btn-primary-bg;
  }
}

.select2-container {
  // Forces the container to inherit 100% from the parent instead of select2 assigning some inline value.
  width: inherit !important;

  .select2-selection--single {
    height: 34px;

    .select2-selection__rendered {
      color: #444;
      line-height: 32px;
      padding-right: 26px;

      .select2-selection__clear {
        padding-right: 15px;
      }
    }
  }

  .select2-selection--multiple {

    .select2-selection__rendered {
      white-space: normal;
      word-break: break-all;
    }
  }

  &.select2-container--open, &.select2-container--focus {

    .select2-selection--single {
      border-color: $input-border-focus;
      outline: none;
    }
  }

  .select2-selection {

    &:hover {

      .select2-selection__arrow {
        border-color: #ccc;
        border-left-color: $input-border-focus;
      }
    }

    .select2-selection__arrow {
      height: 34px;
      width: 36px;
      top: 0;
      right: 0;
      background-color: #eee;
      border: 1px solid #ccc;
    }

    .select2-search__field {
      padding-left: 0.5em;
    }
  }

  &.select2-container--open {

    .select2-selection__arrow {
      border: 1px solid $input-border-focus;
      background-color: #72a0ce;
      transition: background-color 0.3s ease 0s;

      b {
        border-color: transparent transparent #fff transparent !important;
        transition: border-color 0.3s ease 0s;
      }
    }

    &:hover {

      .select2-selection__arrow {
        border-color: $input-border-focus;
      }
    }
  }
}

.has-error {
  .select2-container .select2-selection {
    border-color: $state-danger-text;

    .select2-selection__arrow,
    &:hover .select2-selection__arrow {
      border-left-color: $state-danger-text;
    }

    .select2-selection__arrow {
      border: 1px solid $state-danger-text;
      background-color: $state-danger-bg;
      transition: background-color 0.3s ease 0s;
    }
  }
}

.select2-dropdown {
  border-radius: 0;
  border-right: 1px solid $input-border-focus;
  border-bottom: 1px solid $input-border-focus;
  border-left: 1px solid $input-border-focus;
  z-index: 10000;
}