<div class="container">
  <h4>Object picker</h4>
  <br>

  <div class="row">
    <div class="col-md-6">
      <label>Picker dialog with single selection</label>
      <br>
      <button id="dialog-btn" ng-click="objectPickerStub.openPickerDialog()">Show object picker dialog</button>
      Selection
      <input type="text" id="selected-items" ng-model="objectPickerStub.dialogSelection">
    </div>
    <div class="col-md-6">
      <label>Picker dialog with single extension component</label>
      <br>
      <button id="single-extension-dialog-btn" ng-click="objectPickerStub.openSingleExtensionPickerDialog()">Show object picker dialog with single extension</button>
    </div>
  </div>
  <br>

  <div class="row" id="object-picker-embedded">
    <div class="col-md-12">
      <label>Embedded picker with multi selection</label>
      <seip-extensions-panel style="border:1px dashed black;background-color:white"
                             config="objectPickerStub.embeddedPickerConfig" context="objectPickerStub.context">
      </seip-extensions-panel>
    </div>
  </div>
</div>