<div class="model-constraint-attribute">
  <div class="restrictions-group" ng-if="modelConstraintAttribute.isAlphaNumeric()">
    <div class="alpha-numeric-length-restriction-field">
      <div class="type-abbreviation">{{modelConstraintAttribute.getType(modelConstraintAttribute.type)}}</div>
      <input class="restriction-field form-control" type="text" autocomplete="off"
             ng-readonly="!modelConstraintAttribute.editable"
             ng-model="modelConstraintAttribute.alphaNumericLength"
             ng-change="modelConstraintAttribute.onAlphaNumericLengthChange(modelConstraintAttribute.alphaNumericLength)"
             placeholder="{{ ::'administration.models.management.field.numeric.placeholder' | translate }}"/>
    </div>
  </div>
  <div class="restrictions-group" ng-if="modelConstraintAttribute.isFloatingPoint()">
    <div class="floating-point-length-restriction-field col-md-6">
      <div class="type-abbreviation">{{modelConstraintAttribute.getType(modelConstraintAttribute.type)}}</div>
      <input class="restriction-field form-control" type="text" autocomplete="off"
             ng-readonly="!modelConstraintAttribute.editable"
             ng-model="modelConstraintAttribute.floatingPointLength"
             ng-change="modelConstraintAttribute.onFloatingPointLengthChange(modelConstraintAttribute.floatingPointLength)"
             placeholder="{{ ::'administration.models.management.field.numeric.placeholder' | translate }}"/>
    </div>
    <div class="after-floating-point-restriction-field col-md-6">
      <div class="type-abbreviation">,</div>
      <input class="restriction-field form-control" type="text" autocomplete="off"
             ng-readonly="!modelConstraintAttribute.editable"
             ng-model="modelConstraintAttribute.afterFloatingPointLength"
             ng-change="modelConstraintAttribute.onAfterFloatingPointLengthChange(modelConstraintAttribute.afterFloatingPointLength)"
             placeholder="{{ ::'administration.models.management.field.numeric.placeholder' | translate }}"/>
    </div>
  </div>
</div>