.model-constraint-attribute {

  .restrictions-group {

    > div {
      padding: 0;
    }
  }

  .type-abbreviation {
    width: 6%;
    float: left;
    padding-top: 10px;
    text-align: center;
  }

  .restriction-field {
    width: 94%;
  }

}