@import '../../style/variables';

.seip-hint-tooltip {
  .tooltip-inner {
    background-color: $tooltip-background-color;
    display: inline-block;
    position: relative;
    left: 25px;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
  }
}