.zimbra-web-client-wrapper {
  height: calc(100vh - 165px);

  .zimbra-web-client {
    height: calc(100vh - 173px);
    width: 100%;
    border-width: 0;
  }

  .reload-message {
    width: 90%;
    text-align: center;
    margin: 50px auto;
  }

}