@import '../../style/variables';

.user-activity-entry {

  display: flex;
  align-items: center;

  background-image: none;
  background-color: $color-darker-tone-05;
  border: 1px solid #dddddd;

  &.well {
    padding: 5px;
    margin: 0;
  }

  .activity-details {
    padding-left: 5px;

    .activity-text > span > img {
      margin-right: 0.3em;
    }

    .lock-label {
      padding-right: 0.3em;
    }
  }
}