@import "../../style/reusables";

.help-request {
  #cke_help-request-editor {
    border: 1px solid $table-border-color;

    .cke_contents {
      height: 200px !important;
    }
    .cke_contents {
      @media (max-height: 500px) {
        max-height: 100px;
      }

      @media(min-height: 500px) {
        max-height: calc(50vh - 150px);
      }
    }
  }

  #cke_help-request-editor.description-error {
    border-color: $state-danger-text;
  }

  label {
    font-weight: 400;

    sup {
      color: red;
    }
  }
  #ckeditor-mandatory-message {
    color: $state-danger-text;
  }

  .modal-dialog {
    width: 80%;
  }

  tr td {
    min-width: 60px;
  }
}