.widget.widget-radiobutton .widget-body-wrapper label > input{
	vertical-align: top;
}

.radiobutton-widget-config, .radiobutton-widget-config > div {
	width: 100%;
	height: 100%;
}

.radiobutton-widget-config .configured-radiobuttons {
	height: 80%;
	margin-top: 10px;
	overflow-y: auto;	
}

.radiobutton-widget-config .add-radiobutton-wrapper {
	height: 10%;
}
