.dropdown-widget-config > .load-method {
	margin-left: 20px;
}

.dropdown-widget-config > .load-method:first-child {
	margin-left: 0;
}

.codelist-selection-wrapper, .codelist-selection-wrapper > select, .codelist-selection-wrapper > div {
	max-width: 610px;
}

.codelist-selection-wrapper > select {
	margin-bottom: 10px;
}