<div class="criteria-row">
  <div class="criteria-column criteria-property">
    <seip-select ng-if="::advancedSearchCriteriaRow.propertySelectConfig"
                 config="::advancedSearchCriteriaRow.propertySelectConfig"
                 ng-change="advancedSearchCriteriaRow.onChangedField()"
                 ng-model="advancedSearchCriteriaRow.criteria.field"></seip-select>
  </div>

  <div class="criteria-column criteria-operator">
    <seip-select ng-if="advancedSearchCriteriaRow.operatorSelectConfig"
                 config="::advancedSearchCriteriaRow.operatorSelectConfig"
                 ng-change="advancedSearchCriteriaRow.onChangedOperator()"
                 ng-model="advancedSearchCriteriaRow.criteria.operator"></seip-select>
  </div>

  <div class="criteria-column criteria-value">
    <!--Extensions are appended here-->
  </div>

  <div class="criteria-column">
    <button class="remove-rule btn criteria-btn text-danger"
            ng-if="::advancedSearchCriteriaRow.config.renderRemoveButton"
            ng-disabled="advancedSearchCriteriaRow.isRemoveRuleButtonDisabled()"
            ng-click="advancedSearchCriteriaRow.remove()">
      <span class="fa fa-times"></span>
      {{ ::'search.advanced.criteria.remove' | translate }}
    </button>
  </div>
</div>