<div class="advanced-search-section">
  <seip-object-type-select class="type-select-field"
                           ng-if="::advancedSearchSection.objectTypeSelectConfig"
                           ng-model="advancedSearchSection.criteria.rules[0].value"
                           config="::advancedSearchSection.objectTypeSelectConfig">
  </seip-object-type-select>

  <div>
    <seip-advanced-search-criteria ng-if="advancedSearchSection.criteriaProperties"
                                   config="::advancedSearchSection.config"
                                   context="::advancedSearchSection.context"
                                   criteria="::advancedSearchSection.criteria.rules[1]"
                                   properties="::advancedSearchSection.criteriaProperties"
                                   criteria-level="1">
    </seip-advanced-search-criteria>
  </div>

</div>