@import "../../../style/variables";

/**
 * Common constants related to the advanced search components.
 */
$criteria-elements-padding: 0.5em;

.seip-advanced-search {
  margin-bottom: $default-gap;

  // Custom overrides required by the advanced search
  @import "advanced-search-overrides";

  .adv-search-controls {
    display: flex;
    align-items: center;
    padding-top: $default-gap;

    .adv-search-column {
      flex-basis: calc(100% / 2);
    }
  }
}