<div class="seip-advanced-search">

  <seip-advanced-search-section ng-if="advancedSearch.criteria.rules[0]"
                                config="::advancedSearch.config"
                                context="::advancedSearch.context"
                                criteria="advancedSearch.criteria.rules[0]"
                                loaders="::advancedSearch.loaders">
  </seip-advanced-search-section>

  <div class="adv-search-controls">
    <seip-save-search class="adv-search-column"
                      ng-if="::advancedSearch.config.savedSearch.render"
                      config="::advancedSearch.config.savedSearch">
    </seip-save-search>
    <div class="adv-search-column">
      <div class="pull-right">
        <button type="button" class="btn btn-primary seip-search" ng-click="advancedSearch.search()"
                ng-disabled="advancedSearch.config.disabled">
          {{ ::'search.advanced.search' | translate }}
        </button>
        <button type="button" class="btn btn-default clear-criteria" ng-click="advancedSearch.clear()"
                ng-disabled="advancedSearch.config.disabled">
          {{ ::'labels.clear' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>