<div class="context-selector">
  <span>{{::'context.selector.context.label' | translate}}</span>
  <span class="context-path" ng-bind-html="contextSelector.breadcrumbHeader | toTrustedHtml" ></span>
  <button ng-if="contextSelector.config.parentId" type="button" class="btn btn-default btn-sm clear-context-btn"
          ng-click="contextSelector.clearContext()" ng-disabled="::contextSelector.config.contextSelectorDisabled">
    <i class="fa fa-times fa-lg"></i>
  </button>
  <button class="btn btn-sm btn-default open-picker-btn" ng-click="contextSelector.selectContext()"
          ng-disabled="::contextSelector.config.contextSelectorDisabled">
    {{::'context.selector.context.select.btn' | translate}}
  </button>
</div>