.advanced-search-criteria {

  $indentation-width: 1.5em;

  // Used for creating the tree lines
  position: relative;

  // Pushes all inner criteria to the left
  margin-left: $indentation-width;
  &:first-of-type {
    // Except the root criteria (the root criteria should be the first child in the parent)
    margin-left: 0;
  }

  margin-bottom: 0.5em;

  .criteria-btn {
    padding: 3px 6px;
    box-shadow: none;
    background-color: transparent;
  }

  /**
   * Tree lines
   */
  &::before, &::after {
    content: '';
    position: absolute;
    border: 0 solid #999;
    width: $indentation-width;
    left: -1em;
  }

  &::before {
    top: -0.5em;
    height: calc(50% + 0.5em);
    border-width: 0 0 2px 2px;
  }

  &::after {
    border-width: 0 0 0 2px;
    top: 50%;
    height: 50%;
  }

  &:last-child::before {
    border-radius: 0 0 0 4px;
  }

  &:last-child::after {
    display: none;
  }

  // Removing root criteria lines. For this to be working, every root criteria must be the first child in the parent.
  &:first-of-type::before, &:first-of-type::after {
    display: none;
  }

}