#mailMenu {
  .unread-messages-counter {
    position: absolute;
    top: 2px;
    right: 4px;
    z-index: 10;

    a {
      text-decoration: none;
    }

    .badge {
      padding: 1px 4px;
      font-size: 9px;
      background-color: #a94442;
      border-radius: 3px;
    }
  }
}