<div class="form-group checkbox-wrapper">
  <label class="edit-wrapper checkbox">
    <span class="checkbox-label">{{ ::checkbox.fieldViewModel.label }}</span>
    <div class="form-field-wrapper">
      <seip-hint hint-text="::checkbox.fieldViewModel.tooltip" hint-class="::checkbox.widgetConfig.hintClass"
                 hint-visible="::checkbox.showTooltip();"></seip-hint>
      <input type="checkbox" id="{{ ::checkbox.fieldViewModel.identifier }}"
             name="{{ ::checkbox.fieldViewModel.identifier }}"
             class="form-control edit-field checkbox"
             ng-model="checkbox.validationModel[checkbox.fieldViewModel.identifier].value"/>
      <i></i>
    </div>
  </label>
  <label class="preview-wrapper checkbox">
    <span class="checkbox-label">{{ ::checkbox.fieldViewModel.label }}</span>
    <div class="form-field-wrapper">
      <input type="checkbox" id="{{ ::checkbox.fieldViewModel.identifier }}"
             name="{{ ::checkbox.fieldViewModel.identifier }}"
             class="form-control form-field preview-field checkbox-field"
             ng-model="checkbox.validationModel[checkbox.fieldViewModel.identifier].value"/>
      <i></i>
    </div>
  </label>
  <label class="print-wrapper checkbox">
    <span class="checkbox-label">{{ ::checkbox.fieldViewModel.label }}</span>
    <div class="form-field-wrapper">
      <span id="{{ ::checkbox.fieldViewModel.identifier }}" class="form-field print-field checkbox-field">{{ ::checkbox.getPrintValue() }}</span>
    </div>
  </label>
</div>