@import '../../style/mixins';

$tooltip-arrow-color: $tooltip-header-arrow-color !important;

.instance-header-tooltip {
  opacity: 1 !important;

  .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
    border-bottom-color: $tooltip-arrow-color;
  }

  .tooltip-inner {
    display: flex;
    color: $tooltip-header-color;
    background: $tooltip-header-background-color;
    box-shadow: 0 0 20px -6px #777;
    border: 1px solid #ddd;
    max-width: 600px;
    min-width: 200px;

    .thumbnail-content {
      padding: 5px 5px 0 0;
      float: left;

      .thumbnail {
        max-width: 80px;
        max-height: 80px;
      }
    }

    .tooltip-data {
      text-align: left;
      @include word-wrap();

      .tooltip-header {
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        display: block;
        max-width: 300px;
        margin: 5px 0 10px 0;
      }

      .tooltip-row {
        display: table;

        label {
          width: 100px;
          margin-right: 10px;
        }

        span {
          display: table-cell;
        }
      }
    }
  }
}