@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/arimo/arimo-regular.eot');
  src: local('Arimo Regular'), local('Arimo-Regular'),
  url('/fonts/arimo/arimo-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/arimo/arimo-regular.woff2') format('woff2'),
  url('/fonts/arimo/arimo-regular.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/arimo/arimo-italic.eot');
  src: local('Arimo Italic'), local('Arimo-Italic'),
  url('/fonts/arimo/arimo-italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/arimo/arimo-italic.woff2') format('woff2'),
  url('/fonts/arimo/arimo-italic.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/arimo/arimo-bold.eot');
  src: local('Arimo Bold'), local('Arimo-Bold'),
  url('/fonts/arimo/arimo-bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/arimo/arimo-bold.woff2') format('woff2'),
  url('/fonts/arimo/arimo-bold.woff') format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/arimo/arimo-bolditalic.eot');
  src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'),
  url('/fonts/arimo/arimo-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/arimo/arimo-bolditalic.woff2') format('woff2'),
  url('/fonts/arimo/arimo-bolditalic.woff') format('woff');
}
