<div class="admin-panel">
  <div class="container" ng-if="::adminConfiguration.renderMenu">
    <div class="row">
      <div class="panel">
        <seip-tabs ng-if="::adminConfiguration.tabsConfig" config="::adminConfiguration.tabsConfig"></seip-tabs>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active"
                 ng-if="adminConfiguration.tabsConfig.activeTab === 'tenantConfig'">
              <seip-tenant-configuration></seip-tenant-configuration>
            </div>

            <div class="tab-pane active"
                 ng-if="adminConfiguration.tabsConfig.activeTab === 'roleActionsTable'">
              <seip-role-actions-table></seip-role-actions-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>