.tab-item {
  .dropdown-menu {
    margin-right: -1px;
    margin-top: 0;
    right: 0;
    left: auto;
    min-width: 90px;

    > li > a {
      padding: 3px 10px;
    }
  }

  &.inactive:hover .resizable-input {
    background-color: #EEEEEE;
    cursor: pointer
  }
}
