@import "../../../style/variables";
@import '../../../style/mixins';

/* Define menu borders separately */
@mixin bordered-menu($tl, $tr, $bl, $br) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-left-radius: $br;
  border-bottom-right-radius: $bl;
}

/* Base styles for top header menus. All dropdown menus inside the top header extends this class. */
.top-header-menu {
  @include bordered-menu(0, 0, 4px, 4px);
  margin-top: 1px;
}

#mainMenu {
  a:focus, a:hover {
    text-decoration: none;
  }
  > ul > li {
    @include rect-shape($menu-item-width, $menu-item-height);

    &.dropdown {
      @include rect-shape($dropdown-menu-item-width, $menu-item-height);
    }

    border-left: 1px solid $navbar-item-separator-color;
    border-right: 1px solid $navbar-item-separator-color;
    /* borders should overlap to prevent doubled borders and to simplify applying left and right borders to menu items */
    margin-left: -1px;

    > span {
      cursor: pointer;

      .caret {
        color: $dropdown-menu-item-caret-color;
        margin-left: -2px;
        margin-top: -8px;
      }

      > a {
        color: $top-header-item-color;
        display: block;
        padding: 11px 6px;
        line-height: 20px;
        text-shadow: none;
        height: $navbar-height;
      }

      &.open {

        > a {
          background: #ffffff;
          color: $top-header-item-secondary-color;
        }

        .caret {
          color: $top-header-item-secondary-color;
        }
      }
    }

    > a {
      cursor: pointer;
      padding: 11px 6px;
      color: $top-header-item-color;
      text-shadow: none;
    }

    &:hover {
      background-color: $top-header-item-color;

      > span > a, > a {
        color: $top-header-item-secondary-color;
      }

      .caret {
        color: $top-header-item-secondary-color;
      }
    }
  }

  & > ul > .open, & > ul > .active {
    & > a {
      color: $top-header-item-color;
      background-image: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%) !important;
    }
  }

  .dropdown-menu {
    @extend .top-header-menu;
    /* Selected item in menus have font awesome css class applied that changes the font family. So we need to reset it
     for the text nodes. */
    [role=menuitem] span {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .loading [role=menuitem] {
      padding-left: 10px;
    }
    /* The selected menu item has a font awesome icon applied and we should reset the default item padding. */
    .active > .fa {
      padding-left: 3px;
    }
  }

  em.counter {
    font-size: 9px;
    display: block;
    padding: 2px;
    position: absolute;
    top: 3px;
    right: 2px;
    text-decoration: none;
    font-style: normal;
    background: #ED1C24;
    color: #ffffff;
    min-width: 13px;
    border-radius: 50%;
    max-height: 13px;
    line-height: 8px;
    font-weight: bold;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .search-menu {
    top: 10px;
  }

  .create-new, .upload-new {
    li {
      border-right: none !important;
      width: auto !important;
    }

    .create-label, .upload-label {
      color: #ffffff;
      line-height: 2em;
    }

    a[data-tooltip] {
      @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size) {
        top: 52px;
        right: 0;
      }
    }
  }

  #userMenu {
    width: $user-menu-width !important;
    height: $menu-item-height !important;
  }

  .search-menu {
    .menu-item.active .menu-item-trigger {
      padding-left: 3px;
    }
  }

  #quickAccessMenu {
    a[data-tooltip] {
      @include tooltip($tooltip-color, $tooltip-background-color, $tooltip-font-size, 150px) {
        display: block;
        top: $menu-item-height + 2;
        z-index: 100;
      }
    }
  }

  // font awesome home icon has paddings and actual drawn icon is smaller that the rest
  // this is a hack. We better use proper icons
  .user-dashboard {
    > a {
      padding: 11px 4px;
    }

    .fa-home {
      font-size: 2.15em !important;
    }
  }
}