/* =============================================================================
		   			-- PM Schedule styles --
   ========================================================================== */

/* ============================================
	PM Header Menu
=============================================== */

/**
 Projects CSS
*/

.top-header .main-menu .resource-allocation {
	background: url("../images/taskallocation-icon-24.png") no-repeat center 2px;
}

.resource-allocation .pm-menu .project-title-favorite {
	padding: 3px 10px !important;
}

.resource-allocation .pm-menu .project-title-favorite img {
	float: left; 
	margin-right: 5px;
}

.resource-allocation .separator {
	margin: 5px 0px !important;
}

/* =============================================================================
		   			-- PM schedule styles --
   ========================================================================== */
   
#scheduleContainer {
	width: 100%;
	height: 100%;
}

.taskTip {
	font-size: 11px;
}

.sch-column-header:hover {
	background-color: #AACCF6;
	background-image: -moz-linear-gradient(center top, #EBF3FD, #EBF3FD 39%, #D9E8FB 40%,
		#D9E8FB);
	border-left-color: #AACCF6;
	border-right-color: #AACCF6;
	cursor: pointer;
}

.taskTip td {
	width: 70px;
}

.sch-ganttpanel .x-grid-cell {
	height: 26px;
}

@-webkit-keyframes glow { 
	0% {
		-webkit-box-shadow: 0 0 8px rgba(255, 0, 0, 1);
	}

	100% {
		-webkit-box-shadow: 0;
	}
}

.sch-gantt-critical-chain .x-grid-row-selected .sch-gantt-item,.sch-dependency-selected {
	-webkit-animation-name: glow;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-moz-box-shadow: 0 0 8px rgba(255, 0, 0, 1);
}

.togglebutton {
	background: url(images/checkbox.gif) no-repeat 0 0 !important;
}

.x-btn-pressed .togglebutton {
	background-position: 0 -16px !important;
}

.schedule-container .action {
	background: url(images/play.png) no-repeat 0 0 !important;
}

.sch-ganttpanel .x-table-layout-cell {
	text-align: left;
}

.zoomfit {
	background: url(images/zoom-fit.png) no-repeat left center !important;
}

/* Context menu styles */
.icon-fullscreen {
	background: url(images/monitor.png) no-repeat left center !important;
}

.icon-collapseall {
	background: url(images/up.png) no-repeat left center !important;
}

.icon-expandall {
	background: url(images/down.png) no-repeat left center !important;
}

.icon-prev {
	background: url(images/arrow-left.png) no-repeat left center !important;
}

.icon-next {
	background: url(images/arrow-right.png) no-repeat left center !important;
}

.icon-save-schedule {
	background: url(images/save-icon.png) no-repeat left center !important;
}

.icon-disable-edit {
	background: url(images/edit-disable-icon.png) no-repeat left center !important;
}

.icon-enable-edit {
	background: url(images/edit-enable-icon.png) no-repeat left center !important;
}

.icon-commit-task {
	background: url(images/task-commit.png) no-repeat left center !important;
}

.icon-edit-task {
	background: url(images/edit-icon.png) no-repeat left center !important;
}

.icon-delete-task {
	background: url(images/delete-task-icon.png) no-repeat left center !important;
}

.icon-cancel-task {
	background: url(images/cancel-icon.png) no-repeat left center !important;
}

.icon-indent-task {
	background: url(images/indent-icon.png) no-repeat left center !important;
}

.icon-outdent-task {
	background: url(images/outdent-icon.png) no-repeat left center !important;
}

.icon-add-task {
	background: url(images/add-icon.png) no-repeat left center !important;
}

.icon-delete-dependency {
	background: url(images/delete-dependency-icon.png) no-repeat left center !important;
}

.icon-add-above {
	background: url(images/add-above-icon.png) no-repeat left center !important;
}

.icon-add-below {
	background: url(images/add-below-icon.png) no-repeat left center !important;
}

.icon-add-milestone {
	background: url(images/add-milestone-icon.png) no-repeat left center !important;
}

.icon-color-picker {
	background: url(images/color-picker-icon.png) no-repeat left center !important;
}

.icon-open {
	background: url(images/open-icon.png) no-repeat left center !important;
}

.icon-edit-label {
	background: url(images/edit-label-icon.png) no-repeat left center !important;
}

.percent {
	margin: 0 auto;
	width: 18px;
	border: 1px solid #3172D7;
	background: Aqua;
	border-radius: 2px;
	height: 9px;
	overflow: hidden;
	text-align: left;
}

.percent div {
	background: blue;
	height: 3px;
	margin-top: 2px;
	overflow: hidden;
}

.percent25 div {
	width: 25%;
}

.percent50 div {
	width: 50%;
}

.percent75 div {
	width: 75%;
}

.sch-column-color .x-grid-cell-inner {
	padding: 0;
}

.color-column-inner {
	border-radius: 10px;
	height: 20px;
	margin-left: 15px;
	width: 20px;
	border: 1px solid #D0D0D0;
}

.id {
	background-color: #F6F6F6 !important;
	background-image: -moz-linear-gradient(left center, #F6F6F6, #E9E9E9) !important;
	background-image: -webkit-linear-gradient(left, #F6F6F6, #E9E9E9) !important;
	background-image: linear-gradient(left, #F6F6F6, #E9E9E9) !important;
}

.gnt-color-palette {
	background-color: #E9F2FF;
	border: 1px solid #8EAACE;
	position: absolute;
	height: 95px;
	width: 152px;
}

.x-grid-inner-locked .x-panel-body {
	background: #f7f7f7;
}

.x-grid-inner-locked .x-grid-cell {
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	/*background: transparent;*/
	color: #555;
}

.x-grid-inner-locked .x-grid-cell-inner {
	line-height: 17px;
}

.title-column .x-grid-cell-inner {
	padding-left: 18px;
}

.x-tree-icon {
	margin: 5px 5px 0 0;
}

.x-tree-icon {
	margin-top: 2px;
}

.root-row .x-grid-cell-inner {
	padding-left: 0px !important;
	font-size: 120%;
}

.root-row .x-grid-cell {
	border-bottom: 1px solid #bbb;
}

.project .x-grid-cell-inner .x-tree-icon {
	background: url(images/project-icon-16.png) no-repeat left center;
	padding-left: 18px;
}

.case .x-grid-cell-inner .x-tree-icon {
	background: url(images/caseinstance-icon-16.png) no-repeat left center;
	width: 16px;
	height: 16px;
	padding-left: 18px;
}

.standalonetask .x-grid-cell-inner .x-tree-icon {
	background: url(images/standalonetaskinstance-icon-16.png) no-repeat left center;
	width: 16px;
	height: 16px;
	padding-left: 18px;
}

.task .x-grid-cell-inner .x-tree-icon {
	background: url(images/taskinstance-icon-16.png) no-repeat left center;
	width: 16px;
	height: 16px;
	padding-left: 18px;
}

.workflow .x-grid-cell-inner .x-tree-icon {
	background: url(images/workflowinstancecontext-icon-16.png) no-repeat left center;
	width: 16px;
	height: 16px;
	padding-left: 18px;
}

.user .x-tree-icon-parent {
	background: url(images/icon_project_manageResources.png) no-repeat left center;
}

.tipHeader {
	white-space: nowrap;
}

.Important {
	border-color: #808000;
	background-color: #808000;
}

.x-strict div.sch-event-fixed {
	background: #8b0000;
}

.CustomerApproval {
	border: 2px solid #ddd;
	background-color: #222;
}

.progressBar {
	border-top: 13px solid #4b86ae;
	height: 0px;
	overflow: hidden;
}

#ganttview-1084 {
	height: 100%;
}

#topHeader, #header {
	box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	-ms-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
}
/* Overwrites extjs css which changes our whole page*/
.x-body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #363636;
}
