.instance-list {

  .instance-list-item-wrapper {
    border-bottom: 1px dashed #cccccc;

    &:last-child {
      border-bottom: none;
    }
  }

  .instance-list-item {

    width: 100%;
    display: flex;
    padding: 5px 0 5px 10px;
    position: relative;

    &.selectable {
      cursor: pointer;
    }

    label {
      &.state-disabled {
        cursor: not-allowed;
      }
    }

    .select-control {
      position: absolute;
      top: 50% !important;
      left: 0;
      transform: translateY(-50%);
    }
  }
}