atlassian-ide-plugin.xml
bin/
catalog-v001.xml
.checkstyle
.mvn
.classpath
.externalToolBuilders/
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
node_modules/
*.patch
.project
serenity.properties
.settings/
.sonar-ide.properties
.svn
target/
test-output/
thucydides.properties
.vagrant
.tern-project
src/test/resources/specs/**/.*
*.eml

!docker-rootfs/**/bin
!docker-rootfs/**/*.patch
!rootfs/usr/local/bin
