.idoc-page-title-wrapper {
  overflow: hidden;

  .instance-header {
    max-height: 80px;
    margin-right: -20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .instance-data {
     > span:not(.header-icon) {
       max-height: 80px;
     }
  }

  // Needed to prevent text to be placed over the image in IE11
  .header-icon {
    flex-shrink: 0;
  }
}