@import "../style/mixins";

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  // Pushes header and actions menu to the corners
  justify-content: space-between;
  min-height: 30px;

  .instance-data {
    span {
      // Fixes some issues with long elements
      display: inline;
      @include word-wrap();
    }
  }

  .actions-menu {
    padding-right: 15px;
  }

  .btn-group.ng-hide {
    @include internet-explorer-11() {
      display: inline-block !important;
      visibility: hidden;
    }
  }

  .banner {
    display: inline-block !important;
  }
}