<div>
  <span style="float: left; margin-right: 10px;">
    <a class="load-header" href="javascript:void(0)" ng-click="">Load Header</a>
  </span><br>

  <seip-instance-header id="icon_header" header-type="instanceHeaderStub.headerType" context="instanceHeaderStub.context"></seip-instance-header>
  <input class="title-input" type="text" ng-model="instanceHeaderStub.context.models.validationModel.title.value" style="margin-left: 10px; width: 200px;">
  <br><br>

  <seip-instance-header id="thumbnail_header" header-type="instanceHeaderStub.headerType" context="instanceHeaderStub.thumbnailContext"></seip-instance-header>

  <div id="injectionTarget"></div>
</div>