<div class="advanced-search-codelist-criteria" ng-switch="advancedSearchCodelistCriteria.criteria.operator">
  <seip-select class="codelist-criteria-select" ng-switch-default
               ng-if="::advancedSearchCodelistCriteria.selectConfig"
               config="::advancedSearchCodelistCriteria.selectConfig"
               ng-model="advancedSearchCodelistCriteria.criteria.value">
  </seip-select>

  <seip-advanced-search-boolean-criteria ng-switch-when="empty"
                                         config="::advancedSearchCodelistCriteria.config"
                                         criteria="advancedSearchCodelistCriteria.criteria">
  </seip-advanced-search-boolean-criteria>
</div>