@import "../advanced-search";

.advanced-search-date-criteria {

  .date-range {
    display: flex;

    .datetime-picker {
      // Forces to expand in available space
      flex-grow: 1;
    }

    .datetime-picker:not(:last-child) {
      padding-right: $criteria-elements-padding;
    }
  }

}