<div class="container">

  <div>
    <button id="toggle_disabled" ng-click="advancedSearchStub.toggleDisabled()">
      Enable/disable
    </button>
    <button id="empty_criteria" ng-click="advancedSearchStub.setEmptyCriteria()">
      Empty criteria
    </button>
    <button id="predefined_criteria" ng-click="advancedSearchStub.setPredefinedCriteria()">
      Predefined criteria
    </button>
    <button id="predefined_criteria2" ng-click="advancedSearchStub.setPredefinedCriteria2()">
      Predefined criteria 2
    </button>
    <button id="toggle_lock" ng-click="advancedSearchStub.toggleLock()">
      Lock/unlock criteria form
    </button>
  </div>

  <br/>

  <seip-advanced-search class="advanced-search-stub"
                        ng-if="advancedSearchStub.config"
                        config="advancedSearchStub.config"
                        context="advancedSearchStub.context">
  </seip-advanced-search>

  <label>Tree model:</label>
  <textarea id="tree-model" style="width: 100%; height: 500px;" ng-model="advancedSearchStub.results"></textarea>

</div>