<!DOCTYPE html>
<html>
<head>
  <title>SandBox: Advanced search</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/build/style/bootstrap.css">

  <script src="/jspm_packages/es6-module-loader.js"></script>
  <script src="/jspm_packages/system.js"></script>
  <script src='/build/config.js'></script>
  <script src="/build/common/lib/plugin-registry.js"></script>
  <script src="/build/plugins.js"></script>
  <script src="/sandbox/sandbox-init.js"></script>

  <script src="/sandbox/search/components/advanced/criteria-extension/plugin.js"></script>
</head>
<body>
<script type="text/javascript">
  bootstrapSandbox({
    paths: {
      'advanced-search': 'sandbox/search/components/advanced/advanced-search.stub.js',
      'advanced-search-template': 'sandbox/search/components/advanced/advanced-search.stub.html',
      'advanced-search-criteria.data.json' :'sandbox/search/components/advanced/advanced-search-criteria.data.json',
      'search/components/advanced/criteria-extension/advanced-search-test-criteria': 'sandbox/search/components/advanced/criteria-extension/advanced-search-test-criteria.js'
    },
    modules: ['style/main.css!css', 'advanced-search']
  });
</script>

<seip-advanced-search-stub></seip-advanced-search-stub>

</body>
</html>