.idoc-tabs :first-child a {
  border-left-width: 0 !important;
}

.idoc-tabs.nav > li > a {
  padding: 0;
}

.tab-elements-wrapper {
  padding: 9px;
}

.add-tab-button .fa-plus {
  margin: 12px;
}

.idoc-tabs.nav-tabs {
  height: 100%;
}

.tab-item.dragged {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2000;
}

.idoc-tabs .placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &:before {
    position: absolute;
    top: 0px;
    left: -5px;
    margin-top: -5px;
    width: 0;
    height: 0;
    content: "";
    border: 5px solid transparent;
    border-left-color: #337ab7;
    border-right: none;
  }
}
