@import "../../../style/mixins";

.recent-activities {

  .user-activity-entry {
    @include word-wrap();

    &.well {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .activity-details {
      min-width: 0;
      @include internet-explorer-11(){
        width:100%;
      }

      .instance-header {
        display: inline-block;
        @include fit-header-inside-container();

        .instance-link {
          margin-left: 2px;
        }
      }
    }
  }

  @include edge() {
    .activity-details {
      flex-shrink: 1;
    }
  }
}