@import "../style/variables";

.idoc-page-title-wrapper {
  overflow: hidden;

  .context-header {
    max-height: $idoc-header-height;
    min-height: 45px;
    margin-right: -20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .instance-data {

    > span:not(.header-icon) {
      max-height: 80px;
    }
  }

  // Needed to prevent text to be placed over the image in IE11
  .header-icon {
    flex-shrink: 0;
  }
}