@import '../../../style/variables';

.advanced-search-criteria {

  .tooltip-inner {
    font-size: $tooltip-font-size;
    color: $tooltip-color;
    background-color: $tooltip-background-color;
  }

  .tooltip-arrow {
    border-top-color: $tooltip-arrow-color !important;
  }

  .criteria-controls {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;

    .criteria-conditions {
      // Pushes the criteria buttons to the left
      flex-grow: 1;
      justify-content: flex-start;
      padding-top: 2px;
    }

    .criteria-buttons {
      flex-grow: 0;
      justify-content: flex-end;
    }
  }
}