<div class="criteria-controls">
  <span class="criteria-conditions btn-group">
    <button class="criteria-and btn btn-xs"
            ng-class="advancedSearchCriteriaControls.isConjunction() ? 'btn-primary' : 'btn-default'"
            ng-disabled="advancedSearchCriteriaControls.areConditionButtonsDisabled()"
            ng-click="advancedSearchCriteriaControls.and()">
      {{ ::'search.advanced.criteria.and' | translate }}
    </button>

    <button class="criteria-or btn btn-xs"
            ng-class="advancedSearchCriteriaControls.isConjunction() ? 'btn-default' : 'btn-primary'"
            ng-disabled="advancedSearchCriteriaControls.areConditionButtonsDisabled()"
            ng-click="advancedSearchCriteriaControls.or()">
      {{ ::'search.advanced.criteria.or' | translate }}
    </button>
  </span>

  <span class="criteria-buttons">
    <button class="add-rule btn criteria-btn text-info"
            ng-disabled="advancedSearchCriteriaControls.isAddRuleButtonDisabled()"
            ng-click="advancedSearchCriteriaControls.addRule()">
      <span class="fa fa-plus"></span>
      {{ ::'search.advanced.criteria.rule' | translate }}
    </button>

    <button class="add-rules btn criteria-btn text-info"
            ng-disabled="advancedSearchCriteriaControls.isAddGroupButtonDisabled()"
            ng-click="advancedSearchCriteriaControls.addRules()">
      <span class="fa fa-plus-circle"></span>
      {{ ::'search.advanced.criteria.group' | translate }}
    </button>

    <button class="remove-rules btn criteria-btn text-danger"
            ng-disabled="advancedSearchCriteriaControls.isRemoveGroupButtonDisabled()"
            ng-click="advancedSearchCriteriaControls.remove()">
      <span class="fa fa-times"></span>
      {{ ::'search.advanced.criteria.group.remove' | translate }}
    </button>
  </span>
</div>