<div class="seip-advanced-search">

  <!--TODO: Add keyword input and move the buttons here-->

  <seip-advanced-search-section ng-if="advancedSearch.criteria.rules.length > 0"
                                ng-repeat="sectionCriteria in advancedSearch.criteria.rules"
                                config="::advancedSearch.config"
                                context="::advancedSearch.context"
                                criteria="sectionCriteria"
                                loaders="::advancedSearch.loaders">
  </seip-advanced-search-section>

  <div class="input-group-btn">
    <div class="pull-right">
      <button type="button" class="btn btn-primary seip-search" ng-click="advancedSearch.search()"
              ng-disabled="advancedSearch.config.disabled">
        {{ ::'search.advanced.search' | translate }}
      </button>
      <seip-saved-search-select ng-if="!advancedSearch.config.predefinedTypes || advancedSearch.config.predefinedTypes.length < 1"
                                config="advancedSearch.savedSearchSelectConfig">
      </seip-saved-search-select>
      <button type="button" class="btn btn-default clear-criteria" ng-click="advancedSearch.clear()"
              ng-disabled="advancedSearch.config.disabled">
        {{ ::'labels.clear' | translate }}
      </button>
    </div>
  </div>

</div>