@import "./advanced-search";

.advanced-search-criteria .criteria-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .criteria-property {
    flex-basis: 25%;
    // Fixes a width issue under different browsers
    min-width: 0;
  }

  .criteria-operator {
    flex-basis: 20%;
    // Fixes a width issue under different browsers
    min-width: 0;
  }

  .criteria-value {
    flex-basis: 55%;
    // Somehow this prevents *growing* if the component inside is very long
    flex-shrink: 0;
  }

  .criteria-column:not(:last-child) {
    padding-right: $criteria-elements-padding;
  }
}
